/*
eCF-Pronesoft Integration API

## Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

API version: 1.1.0
Contact: support@pronesoft.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ecf

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// CommercialApprovalsAPIService CommercialApprovalsAPI service
type CommercialApprovalsAPIService service

type ApiListApprovalsRequest struct {
	ctx context.Context
	ApiService *CommercialApprovalsAPIService
	businessId *string
	page *int32
	limit *int32
	ecf *string
	documentType *string
	status *int32
	dateFrom *time.Time
	dateTo *time.Time
	minAmount *float32
	maxAmount *float32
	search *string
	sortBy *string
	sortOrder *string
}

func (r ApiListApprovalsRequest) BusinessId(businessId string) ApiListApprovalsRequest {
	r.businessId = &businessId
	return r
}

func (r ApiListApprovalsRequest) Page(page int32) ApiListApprovalsRequest {
	r.page = &page
	return r
}

func (r ApiListApprovalsRequest) Limit(limit int32) ApiListApprovalsRequest {
	r.limit = &limit
	return r
}

func (r ApiListApprovalsRequest) Ecf(ecf string) ApiListApprovalsRequest {
	r.ecf = &ecf
	return r
}

func (r ApiListApprovalsRequest) DocumentType(documentType string) ApiListApprovalsRequest {
	r.documentType = &documentType
	return r
}

func (r ApiListApprovalsRequest) Status(status int32) ApiListApprovalsRequest {
	r.status = &status
	return r
}

func (r ApiListApprovalsRequest) DateFrom(dateFrom time.Time) ApiListApprovalsRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiListApprovalsRequest) DateTo(dateTo time.Time) ApiListApprovalsRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiListApprovalsRequest) MinAmount(minAmount float32) ApiListApprovalsRequest {
	r.minAmount = &minAmount
	return r
}

func (r ApiListApprovalsRequest) MaxAmount(maxAmount float32) ApiListApprovalsRequest {
	r.maxAmount = &maxAmount
	return r
}

func (r ApiListApprovalsRequest) Search(search string) ApiListApprovalsRequest {
	r.search = &search
	return r
}

func (r ApiListApprovalsRequest) SortBy(sortBy string) ApiListApprovalsRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiListApprovalsRequest) SortOrder(sortOrder string) ApiListApprovalsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiListApprovalsRequest) Execute() (*ApprovalListResponse, *http.Response, error) {
	return r.ApiService.ListApprovalsExecute(r)
}

/*
ListApprovals List commercial approvals

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListApprovalsRequest
*/
func (a *CommercialApprovalsAPIService) ListApprovals(ctx context.Context) ApiListApprovalsRequest {
	return ApiListApprovalsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApprovalListResponse
func (a *CommercialApprovalsAPIService) ListApprovalsExecute(r ApiListApprovalsRequest) (*ApprovalListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApprovalListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommercialApprovalsAPIService.ListApprovals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/documents/approvals/all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.businessId == nil {
		return localVarReturnValue, nil, reportError("businessId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "businessId", r.businessId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.ecf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ecf", r.ecf, "form", "")
	}
	if r.documentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "documentType", r.documentType, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	}
	if r.minAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minAmount", r.minAmount, "form", "")
	}
	if r.maxAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxAmount", r.maxAmount, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
