openapi: 3.0.0
info:
  contact:
    email: support@pronesoft.com
    name: Pronesoft SRL Support
    url: https://pronesoft.com
  description: |
    ## Descripción general
    API de nivel productivo para emitir Comprobantes Fiscales Electrónicos (e-CF) en la
    República Dominicana a través de la plataforma Pronesoft.

    ## Autenticación — OAuth 2.0 Client Credentials

    ### Pasos
    1. Obtén tus credenciales desde el portal:
       - Sandbox: https://ecf.sandbox.pronesoft.com → Apps → Default Sandbox App
       - Producción: https://ecf.pronesoft.com → Integraciones → Apps → Crear App
    2. Solicita un token via POST /oauth/token — válido por 24 horas (86400s).
    3. Usa: Authorization: Bearer <accessToken> en cada request.
    4. Renueva al recibir HTTP 401. Buena práctica: renovar 5 minutos antes del vencimiento.

    ### Delegación multi-empresa
    Para actuar en nombre de una empresa asociada (sucursal), agrega:
      x-tenant-id: <business-uuid>
    NO envíes x-tenant-id cuando actúes como la empresa principal.

    ### Detalles del Sandbox
    - Usa cualquier RNC que comience con SBX (ej. SBX123456) — no se requiere certificado real.
    - Las secuencias son automáticas — no es necesario crearlas manualmente.
    - El campo environment en el cuerpo del documento DEBE ser TesteCF.

    ### Scopes disponibles
    business:read, business:create, business:update,
    members:read, members:invite, members:revoke,
    certificates:read, certificates:upload, certificates:update,
    documents:read, documents:create, documents:send, documents:receive, documents:update,
    approvals:read, approvals:commercial,
    sequences:read, sequences:create, sequences:update, sequences:cancel,
    business_info:read, certification:read, certification:write, reports:read
  license:
    name: Proprietary
    url: https://pronesoft.com/terms
  title: eCF-Pronesoft Integration API
  version: 1.2.0
externalDocs:
  description: Pronesoft eCF SDKs Repository
  url: https://github.com/ProneSoftSRL/pronesoft-ecf-sdks
servers:
- description: Sandbox — desarrollo y pruebas
  url: https://api.ecf.sandbox.pronesoft.com/api/v1
- description: Producción — emisión real de e-CF
  url: https://api.ecf.pronesoft.com/api/v1
security:
- oauth2: []
tags:
- description: Endpoint de token OAuth 2.0. No requiere cabecera de autorización.
    Los tokens son válidos por 24 horas.
  name: Authentication
- description: Sube y gestiona los certificados digitales de firma emitidos por DGII
    (formato P12/PFX).
  name: Digital Certificates
- description: Gestiona los rangos de números de comprobante fiscal e-NCF (E31-E47).
    Automático en Sandbox.
  name: Tax Sequences
- description: Endpoint principal para enviar documentos e-CF a la DGII a través de
    Pronesoft.
  name: eCF Submission
- description: "Consulta, descarga y obtén estadísticas de los documentos enviados."
  name: Documents Sent
- description: Gestiona y consulta los documentos e-CF recibidos de terceros.
  name: Documents Received
- description: Gestiona el flujo interno de aprobación comercial de documentos recibidos.
  name: Commercial Approvals
- description: Gestiona sucursales y empresas asociadas bajo tu cuenta principal.
  name: Associated Companies
- description: Consulta las configuraciones de webhooks (los webhooks se crean desde
    el Portal).
  name: Webhook Configuration
- description: Automatiza el proceso de certificación con la DGII para ERPs.
  name: Automated Certification
- description: "Descarga reportes contables (Documentos Enviados, Formato 606) para\
    \ cumplimiento DGII."
  name: Reports
paths:
  /oauth/token:
    post:
      description: |
        Autenticación mediante el flujo OAuth 2.0 Client Credentials.
        Retorna un token Bearer válido por 24 horas (86400 segundos).
        Este endpoint es público — no requiere cabecera de Authorization.
      operationId: getAccessToken
      requestBody:
        content:
          application/json:
            example:
              clientId: app_live_TU_CLIENT_ID
              clientSecret: sk_live_TU_CLIENT_SECRET
            schema:
              $ref: "#/components/schemas/OAuthTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                tokenType: Bearer
                expiresIn: 86400
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
          description: Token generado exitosamente
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security: []
      summary: Obtener token de acceso (OAuth 2.0)
      tags:
      - Authentication
  /{rnc}/certificates:
    post:
      description: |
        Sube el certificado de firma digital emitido por DGII para una empresa.
        Se almacena cifrado con AES-256-CBC. No existe endpoint de descarga.
        Tip Sandbox: Los RNC con prefijo SBX no requieren certificado.
      operationId: uploadCertificate
      parameters:
      - description: RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con
          prefijo SBX.
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "133190907"
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadCertificate_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCertificateResponse"
          description: Certificado subido exitosamente
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación (400). Revisa el campo message para más
            detalles.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The token does not have the required scope.
        "404":
          description: RNC de la empresa no encontrado en el sistema.
      security:
      - oauth2:
        - certificates:upload
      summary: Subir certificado digital (P12/PFX)
      tags:
      - Digital Certificates
  /tax-sequences:
    get:
      operationId: listTaxSequences
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/InvoiceTypeSequence"
        style: form
      - explode: true
        in: query
        name: environment
        required: false
        schema:
          $ref: "#/components/schemas/Environment"
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTaxSequences_200_response"
          description: Lista de secuencias de NCF
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - sequences:read
      summary: Listar secuencias de NCF
      tags:
      - Tax Sequences
  /tax-sequences/create:
    post:
      operationId: createTaxSequence
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: E32
              from: 1
              to: 10000
              quantity: 10000
              expiration: 2025-12-31
              environment: TesteCF
            schema:
              $ref: "#/components/schemas/CreateTaxSequenceRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTaxSequence_201_response"
          description: Secuencia creada exitosamente
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación (400). Revisa el campo message para más
            detalles.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - sequences:create
      summary: Crear nueva secuencia de NCF
      tags:
      - Tax Sequences
  /tax-sequences/next:
    get:
      description: Retorna el siguiente número e-NCF disponible. Úsalo como invoiceNumber
        al enviar.
      operationId: getNextNumber
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: "#/components/schemas/InvoiceTypeSequence"
        style: form
      - explode: true
        in: query
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getNextNumber_200_response"
          description: Siguiente número e-NCF disponible
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - sequences:read
      summary: Obtener siguiente número fiscal disponible
      tags:
      - Tax Sequences
  /tax-sequences/update:
    patch:
      operationId: updateTaxSequence
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaxSequenceRequest"
        required: true
      responses:
        "200":
          description: Secuencia actualizada exitosamente
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - sequences:update
      summary: Actualizar secuencia de NCF
      tags:
      - Tax Sequences
  /tax-sequences/void:
    post:
      description: Cancela números fiscales no utilizados y notifica a la DGII.
      operationId: voidTaxSequence
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoidTaxSequenceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/voidTaxSequence_200_response"
          description: Números anulados exitosamente
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - sequences:cancel
      summary: Anular rango de números fiscales
      tags:
      - Tax Sequences
  /{environment}/ecf/submit:
    post:
      description: |
        Envía un comprobante fiscal electrónico. Maneja automáticamente la firma XML,
        la cola de envío, el modo contingencia y la comunicación con la DGII.
        IMPORTANTE: En Sandbox el campo environment en el cuerpo DEBE ser TesteCF.
      operationId: submitEcf
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              tipo31_credito_fiscal:
                description: Para ventas a empresas con RNC. El comprador puede deducir
                  el ITBIS.
                summary: Tipo 31 — Factura de Crédito Fiscal
                value:
                  invoiceType: "31"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  incomeType: "01"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "101234567"
                    name: Cliente Corporativo SRL
                  items:
                  - name: Servicio de desarrollo de software
                    quantity: 1
                    unitPrice: "50000.00"
                    unitOfMeasure: 1
                    type: "2"
                    billingIndicator: "1"
                  totals:
                    taxableAmount: 50000.0
                    exemptAmount: 0
                    totalITBIS: 9000.0
                    totalAmount: 59000.0
                  paymentForms:
                  - method: "1"
                    amount: 59000.0
              tipo32_consumo:
                description: "Para ventas al consumidor final. Comprador opcional\
                  \ si el total es menor a RD$250,000."
                summary: Tipo 32 — Factura de Consumo
                value:
                  invoiceType: "32"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  incomeType: "01"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    name: Consumidor Final
                  items:
                  - name: Producto electrónico
                    quantity: 2
                    unitPrice: "5500.00"
                    unitOfMeasure: 1
                    type: "1"
                    billingIndicator: "1"
                  totals:
                    taxableAmount: 11000.0
                    exemptAmount: 0
                    totalITBIS: 1980.0
                    totalAmount: 12980.0
                  paymentForms:
                  - method: "1"
                    amount: 12980.0
              tipo33_nota_debito:
                description: Aumenta el valor de una factura previamente emitida.
                  Requiere referenceInfo.
                summary: Tipo 33 — Nota de Débito
                value:
                  invoiceType: "33"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  incomeType: "01"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  referenceInfo:
                    modifiedInvoiceNumber: E310000000001
                    modifiedInvoiceDate: 2025-05-20
                    modificationCode: "3"
                  buyer:
                    taxId: "101234567"
                    name: Cliente Corporativo SRL
                  items:
                  - name: Ajuste por diferencia de precio
                    quantity: 1
                    unitPrice: "2000.00"
                    unitOfMeasure: 1
                    type: "2"
                    billingIndicator: "1"
                  totals:
                    taxableAmount: 2000.0
                    exemptAmount: 0
                    totalITBIS: 360.0
                    totalAmount: 2360.0
                  paymentForms:
                  - method: "1"
                    amount: 2360.0
              tipo34_nota_credito:
                description: Reduce el valor de una factura previamente emitida. Requiere
                  creditNoteIndicator y referenceInfo.
                summary: Tipo 34 — Nota de Crédito
                value:
                  invoiceType: "34"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  incomeType: "01"
                  creditNoteIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  referenceInfo:
                    modifiedInvoiceNumber: E310000000001
                    modifiedInvoiceDate: 2025-05-20
                    modificationCode: "3"
                  buyer:
                    taxId: "101234567"
                    name: Cliente Corporativo SRL
                  items:
                  - name: Devolución parcial de servicio
                    quantity: 1
                    unitPrice: "10000.00"
                    unitOfMeasure: 1
                    type: "2"
                    billingIndicator: "1"
                  totals:
                    taxableAmount: 10000.0
                    exemptAmount: 0
                    totalITBIS: 1800.0
                    totalAmount: 11800.0
                  paymentForms:
                  - method: "7"
                    amount: 11800.0
              tipo41_compras:
                description: Registro de compras a proveedores. Requiere retención
                  de ITBIS e ISR según tipo de ítem.
                summary: Tipo 41 — Comprobante de Compras
                value:
                  invoiceType: "41"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "109876543"
                    name: Proveedor de Servicios SRL
                  items:
                  - name: Servicio de consultoría
                    quantity: 1
                    unitPrice: "30000.00"
                    unitOfMeasure: 1
                    type: "2"
                    billingIndicator: "1"
                    withholdingAgentIndicator: 1
                    withheldITBISAmount: 5400.0
                    withheldISRAmount: 3000.0
                  totals:
                    taxableAmount: 30000.0
                    exemptAmount: 0
                    totalITBIS: 5400.0
                    totalAmount: 35400.0
                    totalWithheldITBIS: 5400.0
                    totalIncomeTaxWithholding: 3000.0
                  paymentForms:
                  - method: "1"
                    amount: 35400.0
              tipo43_gastos_menores:
                description: "Gastos pequeños sin comprobante fiscal. No requiere\
                  \ comprador, paymentType ni incomeType."
                summary: Tipo 43 — Gastos Menores
                value:
                  invoiceType: "43"
                  issueDate: 2025-06-04
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  items:
                  - name: Combustible vehículo corporativo
                    quantity: 1
                    unitPrice: "3500.00"
                    unitOfMeasure: 1
                    type: "1"
                    billingIndicator: "4"
                  totals:
                    taxableAmount: 0
                    exemptAmount: 3500.0
                    totalITBIS: 0
                    totalAmount: 3500.0
                  paymentForms:
                  - method: "1"
                    amount: 3500.0
              tipo44_regimenes_especiales:
                description: Para empresas en zonas francas u otros regímenes de exención.
                summary: Tipo 44 — Regímenes Especiales
                value:
                  invoiceType: "44"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  incomeType: "01"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "101234567"
                    name: Empresa Zona Franca SRL
                  items:
                  - name: Materia prima importada
                    quantity: 100
                    unitPrice: "250.00"
                    unitOfMeasure: 1
                    type: "1"
                    billingIndicator: "4"
                  totals:
                    taxableAmount: 0
                    exemptAmount: 25000.0
                    totalITBIS: 0
                    totalAmount: 25000.0
                  paymentForms:
                  - method: "1"
                    amount: 25000.0
              tipo45_gubernamental:
                description: Para ventas a instituciones del Estado. Ejemplo con pago
                  a crédito.
                summary: Tipo 45 — Gubernamental
                value:
                  invoiceType: "45"
                  issueDate: 2025-06-04
                  paymentType: "2"
                  incomeType: "01"
                  paymentTerms: 30 días
                  paymentDeadline: 2025-07-04
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "401123456"
                    name: Ministerio de Hacienda
                  items:
                  - name: Equipos de cómputo
                    quantity: 10
                    unitPrice: "45000.00"
                    unitOfMeasure: 1
                    type: "1"
                    billingIndicator: "1"
                  totals:
                    taxableAmount: 450000.0
                    exemptAmount: 0
                    totalITBIS: 81000.0
                    totalAmount: 531000.0
                  paymentForms:
                  - method: "4"
                    amount: 531000.0
              tipo46_exportaciones:
                description: Para ventas al exterior. ITBIS siempre 0% (tasa cero).
                summary: Tipo 46 — Exportaciones
                value:
                  invoiceType: "46"
                  issueDate: 2025-06-04
                  paymentType: "1"
                  incomeType: "01"
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    foreignId: US123456789
                    name: Foreign Client LLC
                  items:
                  - name: Software de gestión empresarial
                    quantity: 1
                    unitPrice: "150000.00"
                    unitOfMeasure: 1
                    type: "2"
                    billingIndicator: "3"
                  totals:
                    taxableAmount: 150000.0
                    exemptAmount: 0
                    totalITBIS: 0
                    totalAmount: 150000.0
                  paymentForms:
                  - method: "1"
                    amount: 150000.0
              tipo47_pagos_exterior:
                description: Servicios contratados a proveedores extranjeros. Requiere
                  buyer.foreignId y retención ISR obligatoria.
                summary: Tipo 47 — Pagos al Exterior
                value:
                  invoiceType: "47"
                  issueDate: 2025-06-04
                  issuerRNC: "133190907"
                  issuerBusinessName: Mi Empresa SRL
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    foreignId: US987654321
                    name: Tech Services Inc.
                  items:
                  - name: Licencia de software anual
                    quantity: 1
                    unitPrice: "80000.00"
                    unitOfMeasure: 1
                    type: "2"
                    billingIndicator: "4"
                    withholdingAgentIndicator: 1
                    withheldISRAmount: 8000.0
                  totals:
                    taxableAmount: 0
                    exemptAmount: 80000.0
                    totalITBIS: 0
                    totalAmount: 80000.0
                    totalIncomeTaxWithholding: 8000.0
                  paymentForms:
                  - method: "1"
                    amount: 80000.0
            schema:
              $ref: "#/components/schemas/ElectronicDocument"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EcfSubmitResponse"
          description: Documento registrado y en cola de procesamiento
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación (400). Revisa el campo message para más
            detalles.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación o procesamiento
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error interno del servidor
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
          description: Rate limit exceeded. Retry after indicated seconds.
      security:
      - oauth2:
        - documents:send
      summary: Enviar documento e-CF a la DGII
      tags:
      - eCF Submission
  /{environment}/ecf/status/{id}:
    get:
      operationId: getEcfStatus
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EcfStatusResponse"
          description: Estado del documento
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Consultar estado del documento por ID interno
      tags:
      - eCF Submission
  /{environment}/ecf/responses/stats:
    get:
      operationId: getEcfStats
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EcfStatsResponse"
          description: Estadísticas de envíos
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Obtener estadísticas de envíos (últimos 30 días)
      tags:
      - eCF Submission
  /{environment}/ecf/responses/history:
    get:
      operationId: getEcfSubmissionHistory
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEcfSubmissionHistory_200_response"
          description: Historial de documentos paginado
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Historial de envíos (paginado)
      tags:
      - eCF Submission
  /documents/sent:
    get:
      operationId: listSentDocuments
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: env
        required: false
        schema:
          $ref: "#/components/schemas/Environment"
        style: form
      - explode: true
        in: query
        name: ecf
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - APPROVED
          - REJECTED
          - IN_PROCESS
          - CONTINGENCY
          - ERROR
          type: string
        style: form
      - explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentDocumentListResponse"
          description: Lista paginada de documentos enviados
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Listar documentos enviados
      tags:
      - Documents Sent
  /documents/{id}:
    get:
      operationId: getSentDocumentById
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentDocumentDetail"
          description: Detalle del documento
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Obtener detalle del documento
      tags:
      - Documents Sent
  /documents/download:
    get:
      operationId: downloadSentDocumentXml
      parameters:
      - description: ID interno del documento
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: fileUrl
        required: false
        schema:
          format: uri
          type: string
        style: form
      - description: "true para ver en el navegador, false para descargar"
        explode: true
        in: query
        name: inline
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      responses:
        "200":
          content:
            application/xml:
              schema:
                type: string
          description: Contenido del archivo XML
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Descargar XML del documento
      tags:
      - Documents Sent
  /documents/status-options:
    get:
      operationId: getSentDocumentStatusOptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/getSentDocumentStatusOptions_200_response_inner"
                type: array
          description: Lista de opciones de estado
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Opciones de filtro de estado disponibles
      tags:
      - Documents Sent
  /documents/stats/summary:
    get:
      operationId: getSentDocumentStats
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatsResponse"
          description: Estadísticas de documentos
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Estadísticas de documentos enviados
      tags:
      - Documents Sent
  /documents/stats/by-environment:
    get:
      operationId: getSentDocumentStatsByEnvironment
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Estadísticas por ambiente
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Estadísticas agrupadas por ambiente y estado
      tags:
      - Documents Sent
  /documents/logs/{id}:
    get:
      operationId: getSentDocumentLogs
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/getSentDocumentLogs_200_response_inner"
                type: array
          description: Logs de procesamiento del documento
        "404":
          description: Documento no encontrado
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:read
      summary: Logs de procesamiento del documento
      tags:
      - Documents Sent
  /documents/received:
    get:
      operationId: listReceivedDocuments
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: ecf
        required: false
        schema:
          type: string
        style: form
      - description: "Tipo de documento (31, 32, 33, etc.)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: "1=Válido, 2=Anulado, 3=Pendiente"
          enum:
          - 1
          - 2
          - 3
          type: integer
        style: form
      - description: RNC del emisor/proveedor
        explode: true
        in: query
        name: supplierRnc
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: amountFrom
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: amountTo
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: processed
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocumentListResponse"
          description: Lista paginada de documentos recibidos
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:receive
      summary: Listar documentos recibidos
      tags:
      - Documents Received
  /documents/received/stats/summary:
    get:
      operationId: getReceivedDocumentStatsSummary
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocumentStatsResponse"
          description: Estadísticas de documentos recibidos
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:receive
      summary: Estadísticas de documentos recibidos
      tags:
      - Documents Received
  /documents/received/stats/by-supplier:
    get:
      operationId: getReceivedDocumentStatsBySupplier
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/getReceivedDocumentStatsBySupplier_200_response_inner"
                type: array
          description: Top proveedores por volumen
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:receive
      summary: Top 10 proveedores por volumen de documentos recibidos
      tags:
      - Documents Received
  /documents/received/{id}:
    get:
      operationId: getReceivedDocumentById
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocument"
          description: Detalle del documento recibido
        "404":
          description: Documento no encontrado
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - documents:receive
      summary: Obtener documento recibido por ID
      tags:
      - Documents Received
  /documents/approvals:
    get:
      operationId: listCommercialApprovals
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: ecf
        required: false
        schema:
          type: string
        style: form
      - description: Tipo de documento
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: "1=Aprobado, 2=Rechazado, 3=Pendiente, 4=En revisión"
          enum:
          - 1
          - 2
          - 3
          - 4
          type: integer
        style: form
      - explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalListResponse"
          description: Lista paginada de aprobaciones comerciales
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - approvals:read
      summary: Listar aprobaciones comerciales
      tags:
      - Commercial Approvals
  /documents/approvals/{id}:
    get:
      operationId: getCommercialApprovalById
      parameters:
      - description: |
          UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
          en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
        explode: false
        in: header
        name: x-tenant-id
        required: false
        schema:
          example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalItem"
          description: Detalle de la aprobación comercial
        "404":
          description: Aprobación no encontrada
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - approvals:read
      summary: Obtener aprobación comercial por ID
      tags:
      - Commercial Approvals
  /associated-companies:
    get:
      operationId: listAssociatedCompanies
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AssociatedCompany"
                type: array
          description: Lista de empresas asociadas
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:read
      summary: Listar empresas asociadas / sucursales
      tags:
      - Associated Companies
    post:
      operationId: createAssociatedCompany
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateAssociatedCompanyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssociatedCompany_201_response"
          description: Empresa creada exitosamente
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación (400). Revisa el campo message para más
            detalles.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:create
      summary: Crear empresa asociada / sucursal
      tags:
      - Associated Companies
  /associated-companies/{companyId}:
    delete:
      description: Elimina permanentemente una empresa asociada. Esta acción es irreversible.
      operationId: deleteAssociatedCompany
      parameters:
      - explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteAssociatedCompany_200_response"
          description: Empresa eliminada exitosamente
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:update
      summary: Eliminar empresa asociada
      tags:
      - Associated Companies
    put:
      operationId: updateAssociatedCompany
      parameters:
      - explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdateAssociatedCompanyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssociatedCompany_201_response"
          description: Empresa actualizada exitosamente
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:update
      summary: Actualizar empresa asociada
      tags:
      - Associated Companies
  /associated-companies/{companyId}/metrics:
    get:
      operationId: getCompanyMetrics
      parameters:
      - explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyMetrics"
          description: Métricas de la empresa
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:read
      summary: Métricas de la empresa
      tags:
      - Associated Companies
  /associated-companies/{companyId}/documents-metrics:
    get:
      operationId: getCompanyDocumentMetrics
      parameters:
      - explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyDocumentMetrics"
          description: Métricas de documentos de la empresa
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:read
      summary: Métricas de documentos de la empresa
      tags:
      - Associated Companies
  /{rnc}/webhooks:
    get:
      description: Retorna todos los webhooks del RNC. Los webhooks se crean solo
        desde el Portal.
      operationId: listWebhooks
      parameters:
      - description: RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con
          prefijo SBX.
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "133190907"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/WebhookConfigResponse"
                type: array
          description: Lista de configuraciones de webhooks
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:read
      summary: Listar configuraciones de webhooks
      tags:
      - Webhook Configuration
  /{rnc}/webhooks/{webhookId}:
    get:
      operationId: getWebhook
      parameters:
      - description: RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con
          prefijo SBX.
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "133190907"
          type: string
        style: simple
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookConfigDetail"
          description: Detalle del webhook
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:read
      summary: Detalle de un webhook
      tags:
      - Webhook Configuration
  /{rnc}/webhooks/{webhookId}/stats:
    get:
      operationId: getWebhookStats
      parameters:
      - description: RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con
          prefijo SBX.
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "133190907"
          type: string
        style: simple
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          default: month
          enum:
          - today
          - week
          - month
          - all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookStats"
          description: Estadísticas de entregas del webhook
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - business:read
      summary: Estadísticas de entregas del webhook
      tags:
      - Webhook Configuration
  /dgii-ecf/automated-certification/niches:
    get:
      operationId: listCertificationNiches
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CertificationNiche"
                type: array
          description: Lista de nichos disponibles
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - certification:read
      summary: Listar nichos de certificación
      tags:
      - Automated Certification
  /dgii-ecf/automated-certification/start:
    post:
      operationId: startCertification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartCertificationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/startCertification_200_response"
          description: Proceso de certificación iniciado
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - certification:write
      summary: Iniciar proceso de certificación
      tags:
      - Automated Certification
  /dgii-ecf/automated-certification/{id}/status:
    get:
      operationId: getCertificationStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificationStatus"
          description: Estado del proceso de certificación
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - certification:read
      summary: Estado del proceso de certificación
      tags:
      - Automated Certification
  /dgii-ecf/automated-certification/{id}/download:
    get:
      description: Descarga un ZIP con PDFs y XMLs. Solo disponible cuando el estado
        es COMPLETED.
      operationId: downloadCertification
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: Archivo ZIP con documentos de certificación
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
      security:
      - oauth2:
        - certification:read
      summary: Descargar ZIP de certificación
      tags:
      - Automated Certification
  /dgii/sent/export:
    get:
      description: Descarga los documentos enviados en un rango de fechas en formato
        Excel. Requiere el scope reports:read.
      operationId: exportSentDocuments
      parameters:
      - example: 2024-01-01
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
        style: form
      - example: 2024-01-31
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: env
        required: false
        schema:
          $ref: "#/components/schemas/Environment"
        style: form
      - explode: true
        in: query
        name: encf
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ACCEPTED
          - REJECTED
          - PENDING
          type: string
        style: form
      - explode: true
        in: query
        name: trackId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: Archivo Excel del reporte
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación (400). Revisa el campo message para más
            detalles.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The token does not have the required scope.
      security:
      - oauth2:
        - reports:read
      summary: Exportar reporte de documentos enviados
      tags:
      - Reports
  /dgii/606/export:
    get:
      description: Descarga el Formato 606 oficial para DGII en TXT (oficial) o Excel.
      operationId: export606
      parameters:
      - explode: true
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - txt
          - xlsx
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: encf
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: Reporte Formato 606
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Error de validación (400). Revisa el campo message para más
            detalles.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: Invalid client credentials
                error: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
            \ para renovarlo."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The token does not have the required scope.
      security:
      - oauth2:
        - reports:read
      summary: Exportar Formato 606 (Compras)
      tags:
      - Reports
components:
  parameters:
    TenantIdHeaderOptional:
      description: |
        UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
        en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
      explode: false
      in: header
      name: x-tenant-id
      required: false
      schema:
        example: 468a4aa1-1b80-447e-9ecb-400e39f7d798
        format: uuid
        type: string
      style: simple
    RncPath:
      description: RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con
        prefijo SBX.
      explode: false
      in: path
      name: rnc
      required: true
      schema:
        example: "133190907"
        type: string
      style: simple
  responses:
    UnauthorizedError:
      content:
        application/json:
          example:
            statusCode: 401
            message: Invalid client credentials
            error: Unauthorized
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: "Token ausente, expirado o inválido. Llama a POST /oauth/token\
        \ para renovarlo."
    ValidationError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Error de validación (400). Revisa el campo message para más detalles.
    ForbiddenError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: The token does not have the required scope.
    RateLimitError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RateLimitErrorResponse"
      description: Rate limit exceeded. Retry after indicated seconds.
  schemas:
    Environment:
      description: "TesteCF=testing no DGII, CerteCF=official certification, eCF=production"
      enum:
      - TesteCF
      - CerteCF
      - eCF
      type: string
    InvoiceType:
      description: |
        31=Factura Credito Fiscal, 32=Factura Consumo, 33=Nota Debito,
        34=Nota Credito, 41=Compras, 43=Gastos Menores,
        44=Regimenes Especiales, 45=Gubernamental, 46=Exportaciones, 47=Pagos Exterior
      enum:
      - "31"
      - "32"
      - "33"
      - "34"
      - "41"
      - "43"
      - "44"
      - "45"
      - "46"
      - "47"
      type: string
    InvoiceTypeSequence:
      description: Invoice type with E prefix — used for tax sequence endpoints.
      enum:
      - E31
      - E32
      - E33
      - E34
      - E41
      - E43
      - E44
      - E45
      - E46
      - E47
      type: string
    PaymentMethod:
      description: "1=Cash, 2=Check, 3=Card, 4=Credit, 5=Transfer, 6=Electronic, 7=Bond,\
        \ 8=Other"
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      type: string
    BillingIndicator:
      description: "0=Non-billable, 1=18% ITBIS, 2=16% ITBIS, 3=0% ITBIS, 4=Exempt"
      enum:
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      type: string
    WebhookEventType:
      enum:
      - document.received
      - document.status_changed
      - document.validation_error
      - document.contingency_activated
      - commercial.approval
      - certificate.expiring
      - security.new_login
      - security.api_key_rotated
      - plan.usage_alert
      - plan.payment_failed
      - billing.invoice_ready
      - sequence.depleted
      - sequence.voided
      - branch.created
      - branch.status_changed
      - member.invited
      - member.joined
      - member.removed
      - certification.completed
      type: string
    PrintFormat:
      enum:
      - A4
      - thermal_80
      - thermal_58
      type: string
    AccountType:
      description: "CT=Current account, AH=Savings, OT=Other"
      enum:
      - CT
      - AH
      - OT
      type: string
    DocumentStatus:
      enum:
      - IN_PROCESS
      - APPROVED
      - CONDITIONALLY_APPROVED
      - REJECTED
      - ERROR
      - ERROR_COMUNICATION
      type: string
    PublicDocumentStatus:
      description: Lifecycle status visible to integrators.
      enum:
      - REGISTERED
      - TO_SEND
      - WAITING_RESPONSE
      - FINISHED
      type: string
    LegalStatus:
      description: Fiscal result from DGII. Only meaningful when PublicDocumentStatus=FINISHED.
      enum:
      - ACCEPTED
      - ACCEPTED_WITH_OBSERVATIONS
      - REJECTED
      - ERROR
      type: string
    OAuthTokenRequest:
      description: Credentials for OAuth 2.0. Get from Pronesoft portal.
      example:
        clientId: app_live_TU_CLIENT_ID
        clientSecret: sk_live_TU_CLIENT_SECRET
      properties:
        clientId:
          example: app_live_TU_CLIENT_ID
          type: string
        clientSecret:
          example: sk_live_TU_CLIENT_SECRET
          type: string
      required:
      - clientId
      - clientSecret
      type: object
    OAuthTokenResponse:
      description: Bearer token valid for 24 hours (86400 seconds).
      example:
        expiresIn: 86400
        scope:
        - documents:read
        - documents:write
        accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        tokenType: Bearer
      properties:
        accessToken:
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          type: string
        tokenType:
          example: Bearer
          type: string
        expiresIn:
          description: Token lifetime in seconds (24 hours = 86400).
          example: 86400
          type: integer
        scope:
          example:
          - documents:read
          - documents:write
          items:
            type: string
          type: array
      type: object
    PaymentForm:
      properties:
        method:
          $ref: "#/components/schemas/PaymentMethod"
        amount:
          example: 11800.0
          type: number
      required:
      - amount
      - method
      type: object
    ElectronicDocument:
      description: |
        Payload del comprobante fiscal electrónico (e-CF).

        **invoiceNumber**: opcional. Si tienes una secuencia registrada en la API, el sistema
        asigna el siguiente e-NCF automáticamente según el `invoiceType`. Usa
        `GET /tax-sequences/next?invoiceType=31` solo si necesitas conocer el número antes de enviar.

        **environment**: NO va en el body. Se especifica en el path del endpoint:
        `POST /{environment}/ecf/submit` (ej. `TesteCF` o `eCF`).
      example:
        paymentAccountType: CT
        paymentBank: paymentBank
        groupId: groupId
        issuerCommercialName: issuerCommercialName
        alternativeCurrency:
          taxableAmount: 5.944895607614016
          code: USD
          additionalTaxes:
          - additionalTaxes
          - additionalTaxes
          exemptAmount: 7.143538047012306
          additionalTaxAmount: 4.652396432933246
          itbis2: 6.519180951018382
          itbis1: 7.058770351582356
          itbis3: 0.10263654006109402
          nonBillableAmount: 8.969578798196912
          totalAmount: 7.740351818741173
          totalITBIS: 0.8851374739011653
          exchangeRate: 58.5
          taxableAmount2: 3.353193347011243
          taxableAmount1: 6.704019297950036
          taxableAmount3: 3.0937452626664474
        paymentType: "1"
        sellerCode: sellerCode
        salesZone: salesZone
        pages:
          taxableAmount: 4.459605034958679
          pageNumber: 4
          additionalTaxes: 9.254183946267839
          lineTo: 8
          exemptAmount: 1.7325933120207193
          itbis2: 4.573936264232251
          lineFrom: 6
          itbis1: 6.623518433804886
          itbis3: 8.863729185622827
          nonBillableAmount: 3.502657762086401
          totalITBIS: 8.28965939814297
          subtotal: 1.8268702177058116
          taxableAmount2: 0.43431398824148815
          taxableAmount1: 3.901545264248647
          taxableAmount3: 2.9409642974827896
        taxedAmountIndicator: "0"
        issuerAddress: issuerAddress
        invoiceNumber: E310000000001
        additionalInfo:
          netWeightUnit: 6
          grossWeight: 9.018348186070783
          netWeight: 6.438423552598547
          packageVolume: 6.778324963048013
          containerNumber: containerNumber
          referenceNumber: referenceNumber
          packageUnit: 2
          volumeUnit: 6
          grossWeightUnit: 3
          shipmentDate: shipmentDate
          packageQuantity: 1.284659006116532
          shipmentNumber: shipmentNumber
        invoiceType: "31"
        issueDate: 2025-01-15T10:30:00Z
        paymentTerms: paymentTerms
        serviceEndDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
        paymentAccountNumber: paymentAccountNumber
        subtotals:
          taxableAmount: 7.04836565559697
          amount: 9.132027271330688
          additionalTaxes: 4.678947989005849
          description: description
          exemptAmount: 7.260521264802104
          itbis2: 4.258773108174356
          itbis1: 6.628464275087742
          itbis3: 1.041444916118296
          number: 3
          totalITBIS: 0.2025324113236393
          taxableAmount2: 3.2588565619047607
          taxableAmount1: 5.533258397034986
          taxableAmount3: 4.078845849666752
          lines: 0
          order: 3
        creditNoteIndicator: "0"
        internalInvoiceNumber: internalInvoiceNumber
        incomeType: "01"
        provinceCode: provinceCode
        issuerEconomicActivity: issuerEconomicActivity
        salesRoute: salesRoute
        branchName: branchName
        totals:
          itbisRate2: 0.16
          amountToPay: null
          taxableAmount: null
          itbisRate1: 0.18
          totalITBISPerception: null
          itbisRate3: 0.0
          additionalTaxes:
          - code: code
            otherAdditionalTaxesAmount: 8.762042012749001
            rate: 9.965781217890562
            adValoremConsumptionTaxAmount: 6.683562403749608
            specificConsumptionTaxAmount: 9.369310271410669
          - code: code
            otherAdditionalTaxesAmount: 8.762042012749001
            rate: 9.965781217890562
            adValoremConsumptionTaxAmount: 6.683562403749608
            specificConsumptionTaxAmount: 9.369310271410669
          - code: code
            otherAdditionalTaxesAmount: 8.762042012749001
            rate: 9.965781217890562
            adValoremConsumptionTaxAmount: 6.683562403749608
            specificConsumptionTaxAmount: 9.369310271410669
          - code: code
            otherAdditionalTaxesAmount: 8.762042012749001
            rate: 9.965781217890562
            adValoremConsumptionTaxAmount: 6.683562403749608
            specificConsumptionTaxAmount: 9.369310271410669
          - code: code
            otherAdditionalTaxesAmount: 8.762042012749001
            rate: 9.965781217890562
            adValoremConsumptionTaxAmount: 6.683562403749608
            specificConsumptionTaxAmount: 9.369310271410669
          totalISRPerception: null
          advancePaymentAmount: null
          exemptAmount: null
          additionalTaxAmount: null
          itbis2: null
          itbis1: null
          itbis3: null
          previousBalance: null
          nonBillableAmount: null
          periodAmount: null
          totalIncomeTaxWithholding: null
          totalAmount: 11800.0
          totalITBIS: null
          taxableAmount2: null
          taxableAmount1: null
          taxableAmount3: null
          totalWithheldITBIS: null
        transport:
          licensePlate: licensePlate
          route: route
          driver: driver
          zone: zone
          document: document
          vehicleId: vehicleId
          destinationCountry: destinationCountry
          deliveryNoteNumber: deliveryNoteNumber
        municipalityCode: municipalityCode
        issuerEmail: issuerEmail
        version: "1.0"
        buyer:
          address: address
          provinceCode: provinceCode
          municipalityCode: municipalityCode
          foreignId: foreignId
          purchaseOrderDate: 2000-01-23T04:56:07.000+00:00
          deliveryAddress: deliveryAddress
          paymentResponsible: paymentResponsible
          taxId: "131415678"
          contact: contact
          purchaseOrderNumber: purchaseOrderNumber
          name: Cliente Empresa SRL
          additionalPhone: additionalPhone
          additionalInfo: additionalInfo
          deliveryContact: deliveryContact
          deliveryDate: 2000-01-23T04:56:07.000+00:00
          email: email
          internalCode: internalCode
        issuerPhones:
        - issuerPhones
        - issuerPhones
        - issuerPhones
        issuerWebsite: https://openapi-generator.tech
        serviceStartDate: 2000-01-23T04:56:07.000+00:00
        paymentForms:
        - method: "1"
          amount: 11800.0
        internalOrderNumber: 6
        totalPages: 0
        discountsOrSurcharges:
        - amount: 7.933506881737151
          norm1007Indicator: "0"
          alternativeCurrencyAmount: 5.507386964179881
          valueType: $
          description: description
          billingIndicator: null
          percentageValue: 0.5199002018724985
          lineNumber: 9
          type: D
        - amount: 7.933506881737151
          norm1007Indicator: "0"
          alternativeCurrencyAmount: 5.507386964179881
          valueType: $
          description: description
          billingIndicator: null
          percentageValue: 0.5199002018724985
          lineNumber: 9
          type: D
        paymentDeadline: 2000-01-23T04:56:07.000+00:00
        additionalIssuerInfo: additionalIssuerInfo
        deferredSendingIndicator: "1"
        items:
        - alcoholDegree: 3.616076749251911
          surcharge:
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          codes:
          - code: code
            codeType: codeType
          - code: code
            codeType: codeType
          surchargeAmount: null
          referenceUnit: 2
          description: description
          billingIndicator: "0"
          discountAmount: null
          discount:
          - amount: null
            type: $
            value: 7.386281948385884
          - amount: null
            type: $
            value: 7.386281948385884
          type: "1"
          referenceQuantity: null
          referenceUnitPrice: null
          alternativeCurrency:
            unitPrice: 7.457744773683766
            surcharge: 4.965218492984954
            amount: 5.025004791520295
            discount: 1.1730742509559433
          subquantities:
          - quantity: 7.061401241503109
            unitCode: 9
          - quantity: 7.061401241503109
            unitCode: 9
          miningInfo:
            netWeightMining: 4.145608029883936
            netWeightKg: 2.027123023002322
            affiliationType: "1"
            settlement: "1"
          expirationDate: 2000-01-23T04:56:07.000+00:00
          unitPrice: "10000.00"
          amount: 10000.0
          quantity: "1"
          unitOfMeasure: 5
          additionalTaxes:
          - amount: null
            code: code
            rate: 1.4894159098541704
            alternativeCurrencyAmount: 6.84685269835264
          - amount: null
            code: code
            rate: 1.4894159098541704
            alternativeCurrencyAmount: 6.84685269835264
          withheldISRAmount: null
          name: Servicio profesional
          withholdingAgentIndicator: 1
          manufacturingDate: 2000-01-23T04:56:07.000+00:00
          lineNumber: 1
          withheldITBISAmount: 5.962133916683182
        - alcoholDegree: 3.616076749251911
          surcharge:
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          codes:
          - code: code
            codeType: codeType
          - code: code
            codeType: codeType
          surchargeAmount: null
          referenceUnit: 2
          description: description
          billingIndicator: "0"
          discountAmount: null
          discount:
          - amount: null
            type: $
            value: 7.386281948385884
          - amount: null
            type: $
            value: 7.386281948385884
          type: "1"
          referenceQuantity: null
          referenceUnitPrice: null
          alternativeCurrency:
            unitPrice: 7.457744773683766
            surcharge: 4.965218492984954
            amount: 5.025004791520295
            discount: 1.1730742509559433
          subquantities:
          - quantity: 7.061401241503109
            unitCode: 9
          - quantity: 7.061401241503109
            unitCode: 9
          miningInfo:
            netWeightMining: 4.145608029883936
            netWeightKg: 2.027123023002322
            affiliationType: "1"
            settlement: "1"
          expirationDate: 2000-01-23T04:56:07.000+00:00
          unitPrice: "10000.00"
          amount: 10000.0
          quantity: "1"
          unitOfMeasure: 5
          additionalTaxes:
          - amount: null
            code: code
            rate: 1.4894159098541704
            alternativeCurrencyAmount: 6.84685269835264
          - amount: null
            code: code
            rate: 1.4894159098541704
            alternativeCurrencyAmount: 6.84685269835264
          withheldISRAmount: null
          name: Servicio profesional
          withholdingAgentIndicator: 1
          manufacturingDate: 2000-01-23T04:56:07.000+00:00
          lineNumber: 1
          withheldITBISAmount: 5.962133916683182
        - alcoholDegree: 3.616076749251911
          surcharge:
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          codes:
          - code: code
            codeType: codeType
          - code: code
            codeType: codeType
          surchargeAmount: null
          referenceUnit: 2
          description: description
          billingIndicator: "0"
          discountAmount: null
          discount:
          - amount: null
            type: $
            value: 7.386281948385884
          - amount: null
            type: $
            value: 7.386281948385884
          type: "1"
          referenceQuantity: null
          referenceUnitPrice: null
          alternativeCurrency:
            unitPrice: 7.457744773683766
            surcharge: 4.965218492984954
            amount: 5.025004791520295
            discount: 1.1730742509559433
          subquantities:
          - quantity: 7.061401241503109
            unitCode: 9
          - quantity: 7.061401241503109
            unitCode: 9
          miningInfo:
            netWeightMining: 4.145608029883936
            netWeightKg: 2.027123023002322
            affiliationType: "1"
            settlement: "1"
          expirationDate: 2000-01-23T04:56:07.000+00:00
          unitPrice: "10000.00"
          amount: 10000.0
          quantity: "1"
          unitOfMeasure: 5
          additionalTaxes:
          - amount: null
            code: code
            rate: 1.4894159098541704
            alternativeCurrencyAmount: 6.84685269835264
          - amount: null
            code: code
            rate: 1.4894159098541704
            alternativeCurrencyAmount: 6.84685269835264
          withheldISRAmount: null
          name: Servicio profesional
          withholdingAgentIndicator: 1
          manufacturingDate: 2000-01-23T04:56:07.000+00:00
          lineNumber: 1
          withheldITBISAmount: 5.962133916683182
        - alcoholDegree: 3.616076749251911
          surcharge:
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          - amount: 1.0246457001441578
            type: $
            value: 1.2315135367772556
          codes:
          - code: code
            codeType: codeType
          - code: code
            codeType: codeType
          surchargeAmount: null
          referenceUnit: 2
          description: description
          billingIndicator: "0"
          discountAmount: null
          discount:
          - amount: null
            type: $
            value: 7.386281948385884
          - amount: null
            type: $
            value: 7.386281948385884
          type: "1"
          referenceQuantity: null
          referenceUnitPrice: null
          alternativeCurrency:
            unitPrice: 7.457744773683766
[...]
