/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.pronesoft.ecf.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.pronesoft.ecf.models.DocumentStatsResponse
import com.pronesoft.ecf.models.Environment
import com.pronesoft.ecf.models.ErrorResponse
import com.pronesoft.ecf.models.SentDocumentDetail
import com.pronesoft.ecf.models.SentDocumentListResponse

import com.google.gson.annotations.SerializedName

import com.pronesoft.ecf.infrastructure.ApiClient
import com.pronesoft.ecf.infrastructure.ApiResponse
import com.pronesoft.ecf.infrastructure.ClientException
import com.pronesoft.ecf.infrastructure.ClientError
import com.pronesoft.ecf.infrastructure.ServerException
import com.pronesoft.ecf.infrastructure.ServerError
import com.pronesoft.ecf.infrastructure.MultiValueMap
import com.pronesoft.ecf.infrastructure.PartConfig
import com.pronesoft.ecf.infrastructure.RequestConfig
import com.pronesoft.ecf.infrastructure.RequestMethod
import com.pronesoft.ecf.infrastructure.ResponseType
import com.pronesoft.ecf.infrastructure.Success
import com.pronesoft.ecf.infrastructure.toMultiValue

open class DocumentsSentApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.ecf.sandbox.pronesoft.com/api/v1")
        }
    }

    /**
     * GET /documents/download
     * Download document XML
     * 
     * @param fileUrl 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun downloadDocument(fileUrl: java.net.URI) : kotlin.String {
        val localVarResponse = downloadDocumentWithHttpInfo(fileUrl = fileUrl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/download
     * Download document XML
     * 
     * @param fileUrl 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun downloadDocumentWithHttpInfo(fileUrl: java.net.URI) : ApiResponse<kotlin.String?> {
        val localVariableConfig = downloadDocumentRequestConfig(fileUrl = fileUrl)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation downloadDocument
     *
     * @param fileUrl 
     * @return RequestConfig
     */
    fun downloadDocumentRequestConfig(fileUrl: java.net.URI) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("fileUrl", listOf(fileUrl.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/download",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/{id}
     * Get document details
     * 
     * @param id 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @return SentDocumentDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDocument(id: java.util.UUID, xTenantId: java.util.UUID? = null) : SentDocumentDetail {
        val localVarResponse = getDocumentWithHttpInfo(id = id, xTenantId = xTenantId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SentDocumentDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/{id}
     * Get document details
     * 
     * @param id 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @return ApiResponse<SentDocumentDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDocumentWithHttpInfo(id: java.util.UUID, xTenantId: java.util.UUID?) : ApiResponse<SentDocumentDetail?> {
        val localVariableConfig = getDocumentRequestConfig(id = id, xTenantId = xTenantId)

        return request<Unit, SentDocumentDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDocument
     *
     * @param id 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @return RequestConfig
     */
    fun getDocumentRequestConfig(id: java.util.UUID, xTenantId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter period
     */
     enum class PeriodGetDocumentStats(val value: kotlin.String) {
         @SerializedName(value = "7d") _7d("7d"),
         @SerializedName(value = "30d") _30d("30d"),
         @SerializedName(value = "90d") _90d("90d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /documents/stats/summary
     * Get document statistics
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param period  (optional, default to Period._30d)
     * @return DocumentStatsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDocumentStats(xTenantId: java.util.UUID? = null, period: PeriodGetDocumentStats? = PeriodGetDocumentStats._30d) : DocumentStatsResponse {
        val localVarResponse = getDocumentStatsWithHttpInfo(xTenantId = xTenantId, period = period)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DocumentStatsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/stats/summary
     * Get document statistics
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param period  (optional, default to Period._30d)
     * @return ApiResponse<DocumentStatsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDocumentStatsWithHttpInfo(xTenantId: java.util.UUID?, period: PeriodGetDocumentStats?) : ApiResponse<DocumentStatsResponse?> {
        val localVariableConfig = getDocumentStatsRequestConfig(xTenantId = xTenantId, period = period)

        return request<Unit, DocumentStatsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDocumentStats
     *
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param period  (optional, default to Period._30d)
     * @return RequestConfig
     */
    fun getDocumentStatsRequestConfig(xTenantId: java.util.UUID?, period: PeriodGetDocumentStats?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (period != null) {
                    put("period", listOf(period.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/stats/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusListSentDocuments(val value: kotlin.String) {
         @SerializedName(value = "APPROVED") APPROVED("APPROVED"),
         @SerializedName(value = "REJECTED") REJECTED("REJECTED"),
         @SerializedName(value = "IN_PROCESS") IN_PROCESS("IN_PROCESS"),
         @SerializedName(value = "CONTINGENCY") CONTINGENCY("CONTINGENCY"),
         @SerializedName(value = "ERROR") ERROR("ERROR");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /documents/sent
     * List sent documents
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param env  (optional)
     * @param ecf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return SentDocumentListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSentDocuments(xTenantId: java.util.UUID? = null, env: Environment? = null, ecf: kotlin.String? = null, type: kotlin.String? = null, status: StatusListSentDocuments? = null, dateFrom: java.time.LocalDate? = null, dateTo: java.time.LocalDate? = null, page: kotlin.Int? = 1, limit: kotlin.Int? = 10) : SentDocumentListResponse {
        val localVarResponse = listSentDocumentsWithHttpInfo(xTenantId = xTenantId, env = env, ecf = ecf, type = type, status = status, dateFrom = dateFrom, dateTo = dateTo, page = page, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SentDocumentListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/sent
     * List sent documents
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param env  (optional)
     * @param ecf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return ApiResponse<SentDocumentListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSentDocumentsWithHttpInfo(xTenantId: java.util.UUID?, env: Environment?, ecf: kotlin.String?, type: kotlin.String?, status: StatusListSentDocuments?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?, page: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<SentDocumentListResponse?> {
        val localVariableConfig = listSentDocumentsRequestConfig(xTenantId = xTenantId, env = env, ecf = ecf, type = type, status = status, dateFrom = dateFrom, dateTo = dateTo, page = page, limit = limit)

        return request<Unit, SentDocumentListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSentDocuments
     *
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param env  (optional)
     * @param ecf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun listSentDocumentsRequestConfig(xTenantId: java.util.UUID?, env: Environment?, ecf: kotlin.String?, type: kotlin.String?, status: StatusListSentDocuments?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?, page: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
                if (ecf != null) {
                    put("ecf", listOf(ecf.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (dateFrom != null) {
                    put("dateFrom", listOf(parseDateToQueryString(dateFrom)))
                }
                if (dateTo != null) {
                    put("dateTo", listOf(parseDateToQueryString(dateTo)))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/sent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
