/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.pronesoft.ecf.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.pronesoft.ecf.models.ErrorResponse
import com.pronesoft.ecf.models.ReceivedDocumentListResponse
import com.pronesoft.ecf.models.ReceivedDocumentStatsResponse

import com.google.gson.annotations.SerializedName

import com.pronesoft.ecf.infrastructure.ApiClient
import com.pronesoft.ecf.infrastructure.ApiResponse
import com.pronesoft.ecf.infrastructure.ClientException
import com.pronesoft.ecf.infrastructure.ClientError
import com.pronesoft.ecf.infrastructure.ServerException
import com.pronesoft.ecf.infrastructure.ServerError
import com.pronesoft.ecf.infrastructure.MultiValueMap
import com.pronesoft.ecf.infrastructure.PartConfig
import com.pronesoft.ecf.infrastructure.RequestConfig
import com.pronesoft.ecf.infrastructure.RequestMethod
import com.pronesoft.ecf.infrastructure.ResponseType
import com.pronesoft.ecf.infrastructure.Success
import com.pronesoft.ecf.infrastructure.toMultiValue

open class DocumentsReceivedApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.ecf.sandbox.pronesoft.com/api/v1")
        }
    }

    /**
     * GET /documents/received/stats/summary
     * Get received documents statistics
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @return ReceivedDocumentStatsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getReceivedDocumentStats(xTenantId: java.util.UUID? = null) : ReceivedDocumentStatsResponse {
        val localVarResponse = getReceivedDocumentStatsWithHttpInfo(xTenantId = xTenantId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReceivedDocumentStatsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/received/stats/summary
     * Get received documents statistics
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @return ApiResponse<ReceivedDocumentStatsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getReceivedDocumentStatsWithHttpInfo(xTenantId: java.util.UUID?) : ApiResponse<ReceivedDocumentStatsResponse?> {
        val localVariableConfig = getReceivedDocumentStatsRequestConfig(xTenantId = xTenantId)

        return request<Unit, ReceivedDocumentStatsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getReceivedDocumentStats
     *
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @return RequestConfig
     */
    fun getReceivedDocumentStatsRequestConfig(xTenantId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/received/stats/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/received/all
     * List received documents
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param ecf  (optional)
     * @param documentType  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return ReceivedDocumentListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listReceivedDocuments(xTenantId: java.util.UUID? = null, ecf: kotlin.String? = null, documentType: kotlin.String? = null, status: kotlin.Int? = null, dateFrom: java.time.LocalDate? = null, dateTo: java.time.LocalDate? = null, page: kotlin.Int? = 1, limit: kotlin.Int? = 10) : ReceivedDocumentListResponse {
        val localVarResponse = listReceivedDocumentsWithHttpInfo(xTenantId = xTenantId, ecf = ecf, documentType = documentType, status = status, dateFrom = dateFrom, dateTo = dateTo, page = page, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReceivedDocumentListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/received/all
     * List received documents
     * 
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param ecf  (optional)
     * @param documentType  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return ApiResponse<ReceivedDocumentListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listReceivedDocumentsWithHttpInfo(xTenantId: java.util.UUID?, ecf: kotlin.String?, documentType: kotlin.String?, status: kotlin.Int?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?, page: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<ReceivedDocumentListResponse?> {
        val localVariableConfig = listReceivedDocumentsRequestConfig(xTenantId = xTenantId, ecf = ecf, documentType = documentType, status = status, dateFrom = dateFrom, dateTo = dateTo, page = page, limit = limit)

        return request<Unit, ReceivedDocumentListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listReceivedDocuments
     *
     * @param xTenantId UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company.  (optional)
     * @param ecf  (optional)
     * @param documentType  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun listReceivedDocumentsRequestConfig(xTenantId: java.util.UUID?, ecf: kotlin.String?, documentType: kotlin.String?, status: kotlin.Int?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?, page: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (ecf != null) {
                    put("ecf", listOf(ecf.toString()))
                }
                if (documentType != null) {
                    put("documentType", listOf(documentType.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (dateFrom != null) {
                    put("dateFrom", listOf(parseDateToQueryString(dateFrom)))
                }
                if (dateTo != null) {
                    put("dateTo", listOf(parseDateToQueryString(dateTo)))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/received/all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
