/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.pronesoft.ecf.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.pronesoft.ecf.models.DocumentStatsResponse
import com.pronesoft.ecf.models.Environment
import com.pronesoft.ecf.models.ErrorResponse
import com.pronesoft.ecf.models.GetSentDocumentLogs200ResponseInner
import com.pronesoft.ecf.models.GetSentDocumentStatusOptions200ResponseInner
import com.pronesoft.ecf.models.SentDocumentDetail
import com.pronesoft.ecf.models.SentDocumentListResponse

import com.google.gson.annotations.SerializedName

import com.pronesoft.ecf.infrastructure.ApiClient
import com.pronesoft.ecf.infrastructure.ApiResponse
import com.pronesoft.ecf.infrastructure.ClientException
import com.pronesoft.ecf.infrastructure.ClientError
import com.pronesoft.ecf.infrastructure.ServerException
import com.pronesoft.ecf.infrastructure.ServerError
import com.pronesoft.ecf.infrastructure.MultiValueMap
import com.pronesoft.ecf.infrastructure.PartConfig
import com.pronesoft.ecf.infrastructure.RequestConfig
import com.pronesoft.ecf.infrastructure.RequestMethod
import com.pronesoft.ecf.infrastructure.ResponseType
import com.pronesoft.ecf.infrastructure.Success
import com.pronesoft.ecf.infrastructure.toMultiValue

open class DocumentsSentApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.ecf.sandbox.pronesoft.com/api/v1")
        }
    }

    /**
     * enum for parameter &#x60;inline&#x60;
     */
     enum class &#x60;Inline&#x60;DownloadSentDocumentXml(val value: kotlin.String) {
         @SerializedName(value = "true") `true`("true"),
         @SerializedName(value = "false") `false`("false");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /documents/download
     * Descargar XML del documento
     * 
     * @param id ID interno del documento (optional)
     * @param fileUrl  (optional)
     * @param `inline` true para ver en el navegador, false para descargar (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun downloadSentDocumentXml(id: java.util.UUID? = null, fileUrl: java.net.URI? = null, `inline`: &#x60;Inline&#x60;DownloadSentDocumentXml? = null) : kotlin.String {
        val localVarResponse = downloadSentDocumentXmlWithHttpInfo(id = id, fileUrl = fileUrl, `inline` = `inline`)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/download
     * Descargar XML del documento
     * 
     * @param id ID interno del documento (optional)
     * @param fileUrl  (optional)
     * @param `inline` true para ver en el navegador, false para descargar (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun downloadSentDocumentXmlWithHttpInfo(id: java.util.UUID?, fileUrl: java.net.URI?, `inline`: &#x60;Inline&#x60;DownloadSentDocumentXml?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = downloadSentDocumentXmlRequestConfig(id = id, fileUrl = fileUrl, `inline` = `inline`)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation downloadSentDocumentXml
     *
     * @param id ID interno del documento (optional)
     * @param fileUrl  (optional)
     * @param `inline` true para ver en el navegador, false para descargar (optional)
     * @return RequestConfig
     */
    fun downloadSentDocumentXmlRequestConfig(id: java.util.UUID?, fileUrl: java.net.URI?, `inline`: &#x60;Inline&#x60;DownloadSentDocumentXml?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (id != null) {
                    put("id", listOf(id.toString()))
                }
                if (fileUrl != null) {
                    put("fileUrl", listOf(fileUrl.toString()))
                }
                if (`inline` != null) {
                    put("inline", listOf(`inline`.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/download",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/{id}
     * Obtener detalle del documento
     * 
     * @param id 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return SentDocumentDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSentDocumentById(id: java.util.UUID, xTenantId: java.util.UUID? = null) : SentDocumentDetail {
        val localVarResponse = getSentDocumentByIdWithHttpInfo(id = id, xTenantId = xTenantId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SentDocumentDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/{id}
     * Obtener detalle del documento
     * 
     * @param id 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return ApiResponse<SentDocumentDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSentDocumentByIdWithHttpInfo(id: java.util.UUID, xTenantId: java.util.UUID?) : ApiResponse<SentDocumentDetail?> {
        val localVariableConfig = getSentDocumentByIdRequestConfig(id = id, xTenantId = xTenantId)

        return request<Unit, SentDocumentDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSentDocumentById
     *
     * @param id 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return RequestConfig
     */
    fun getSentDocumentByIdRequestConfig(id: java.util.UUID, xTenantId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/logs/{id}
     * Logs de procesamiento del documento
     * 
     * @param id 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return kotlin.collections.List<GetSentDocumentLogs200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSentDocumentLogs(id: java.util.UUID, xTenantId: java.util.UUID? = null) : kotlin.collections.List<GetSentDocumentLogs200ResponseInner> {
        val localVarResponse = getSentDocumentLogsWithHttpInfo(id = id, xTenantId = xTenantId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<GetSentDocumentLogs200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/logs/{id}
     * Logs de procesamiento del documento
     * 
     * @param id 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return ApiResponse<kotlin.collections.List<GetSentDocumentLogs200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSentDocumentLogsWithHttpInfo(id: java.util.UUID, xTenantId: java.util.UUID?) : ApiResponse<kotlin.collections.List<GetSentDocumentLogs200ResponseInner>?> {
        val localVariableConfig = getSentDocumentLogsRequestConfig(id = id, xTenantId = xTenantId)

        return request<Unit, kotlin.collections.List<GetSentDocumentLogs200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSentDocumentLogs
     *
     * @param id 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return RequestConfig
     */
    fun getSentDocumentLogsRequestConfig(id: java.util.UUID, xTenantId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/logs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/stats/summary
     * Estadísticas de documentos enviados
     * 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return DocumentStatsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSentDocumentStats(xTenantId: java.util.UUID? = null) : DocumentStatsResponse {
        val localVarResponse = getSentDocumentStatsWithHttpInfo(xTenantId = xTenantId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DocumentStatsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/stats/summary
     * Estadísticas de documentos enviados
     * 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return ApiResponse<DocumentStatsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSentDocumentStatsWithHttpInfo(xTenantId: java.util.UUID?) : ApiResponse<DocumentStatsResponse?> {
        val localVariableConfig = getSentDocumentStatsRequestConfig(xTenantId = xTenantId)

        return request<Unit, DocumentStatsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSentDocumentStats
     *
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return RequestConfig
     */
    fun getSentDocumentStatsRequestConfig(xTenantId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/stats/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/stats/by-environment
     * Estadísticas agrupadas por ambiente y estado
     * 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSentDocumentStatsByEnvironment(xTenantId: java.util.UUID? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = getSentDocumentStatsByEnvironmentWithHttpInfo(xTenantId = xTenantId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/stats/by-environment
     * Estadísticas agrupadas por ambiente y estado
     * 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSentDocumentStatsByEnvironmentWithHttpInfo(xTenantId: java.util.UUID?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = getSentDocumentStatsByEnvironmentRequestConfig(xTenantId = xTenantId)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSentDocumentStatsByEnvironment
     *
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @return RequestConfig
     */
    fun getSentDocumentStatsByEnvironmentRequestConfig(xTenantId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/stats/by-environment",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /documents/status-options
     * Opciones de filtro de estado disponibles
     * 
     * @return kotlin.collections.List<GetSentDocumentStatusOptions200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSentDocumentStatusOptions() : kotlin.collections.List<GetSentDocumentStatusOptions200ResponseInner> {
        val localVarResponse = getSentDocumentStatusOptionsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<GetSentDocumentStatusOptions200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/status-options
     * Opciones de filtro de estado disponibles
     * 
     * @return ApiResponse<kotlin.collections.List<GetSentDocumentStatusOptions200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSentDocumentStatusOptionsWithHttpInfo() : ApiResponse<kotlin.collections.List<GetSentDocumentStatusOptions200ResponseInner>?> {
        val localVariableConfig = getSentDocumentStatusOptionsRequestConfig()

        return request<Unit, kotlin.collections.List<GetSentDocumentStatusOptions200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSentDocumentStatusOptions
     *
     * @return RequestConfig
     */
    fun getSentDocumentStatusOptionsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/status-options",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter &#x60;inline&#x60;
     */
     enum class &#x60;Inline&#x60;GetSentDocumentXml(val value: kotlin.String) {
         @SerializedName(value = "true") `true`("true"),
         @SerializedName(value = "false") `false`("false");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /documents/sent/{id}/xml
     * Descargar XML del documento por ID
     * 
     * @param id ID interno del documento
     * @param `inline` true para ver en el navegador, false para descargar (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSentDocumentXml(id: java.util.UUID, `inline`: &#x60;Inline&#x60;GetSentDocumentXml? = null) : kotlin.String {
        val localVarResponse = getSentDocumentXmlWithHttpInfo(id = id, `inline` = `inline`)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/sent/{id}/xml
     * Descargar XML del documento por ID
     * 
     * @param id ID interno del documento
     * @param `inline` true para ver en el navegador, false para descargar (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSentDocumentXmlWithHttpInfo(id: java.util.UUID, `inline`: &#x60;Inline&#x60;GetSentDocumentXml?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = getSentDocumentXmlRequestConfig(id = id, `inline` = `inline`)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSentDocumentXml
     *
     * @param id ID interno del documento
     * @param `inline` true para ver en el navegador, false para descargar (optional)
     * @return RequestConfig
     */
    fun getSentDocumentXmlRequestConfig(id: java.util.UUID, `inline`: &#x60;Inline&#x60;GetSentDocumentXml?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (`inline` != null) {
                    put("inline", listOf(`inline`.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/sent/{id}/xml".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusListSentDocuments(val value: kotlin.String) {
         @SerializedName(value = "APPROVED") APPROVED("APPROVED"),
         @SerializedName(value = "REJECTED") REJECTED("REJECTED"),
         @SerializedName(value = "IN_PROCESS") IN_PROCESS("IN_PROCESS"),
         @SerializedName(value = "CONTINGENCY") CONTINGENCY("CONTINGENCY"),
         @SerializedName(value = "ERROR") ERROR("ERROR");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /documents/sent
     * Listar documentos enviados
     * 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @param env  (optional)
     * @param ecf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return SentDocumentListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSentDocuments(xTenantId: java.util.UUID? = null, env: Environment? = null, ecf: kotlin.String? = null, type: kotlin.String? = null, status: StatusListSentDocuments? = null, dateFrom: java.time.LocalDate? = null, dateTo: java.time.LocalDate? = null, page: kotlin.Int? = 1, limit: kotlin.Int? = 10) : SentDocumentListResponse {
        val localVarResponse = listSentDocumentsWithHttpInfo(xTenantId = xTenantId, env = env, ecf = ecf, type = type, status = status, dateFrom = dateFrom, dateTo = dateTo, page = page, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SentDocumentListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /documents/sent
     * Listar documentos enviados
     * 
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @param env  (optional)
     * @param ecf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return ApiResponse<SentDocumentListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSentDocumentsWithHttpInfo(xTenantId: java.util.UUID?, env: Environment?, ecf: kotlin.String?, type: kotlin.String?, status: StatusListSentDocuments?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?, page: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<SentDocumentListResponse?> {
        val localVariableConfig = listSentDocumentsRequestConfig(xTenantId = xTenantId, env = env, ecf = ecf, type = type, status = status, dateFrom = dateFrom, dateTo = dateTo, page = page, limit = limit)

        return request<Unit, SentDocumentListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSentDocuments
     *
     * @param xTenantId UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal.  (optional)
     * @param env  (optional)
     * @param ecf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun listSentDocumentsRequestConfig(xTenantId: java.util.UUID?, env: Environment?, ecf: kotlin.String?, type: kotlin.String?, status: StatusListSentDocuments?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?, page: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
                if (ecf != null) {
                    put("ecf", listOf(ecf.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (dateFrom != null) {
                    put("dateFrom", listOf(parseDateToQueryString(dateFrom)))
                }
                if (dateTo != null) {
                    put("dateTo", listOf(parseDateToQueryString(dateTo)))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId?.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/documents/sent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
