/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.pronesoft.ecf.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.pronesoft.ecf.models.EcfSubmissionResponse
import com.pronesoft.ecf.models.ElectronicDocument
import com.pronesoft.ecf.models.Environment
import com.pronesoft.ecf.models.ErrorResponse

import com.google.gson.annotations.SerializedName

import com.pronesoft.ecf.infrastructure.ApiClient
import com.pronesoft.ecf.infrastructure.ApiResponse
import com.pronesoft.ecf.infrastructure.ClientException
import com.pronesoft.ecf.infrastructure.ClientError
import com.pronesoft.ecf.infrastructure.ServerException
import com.pronesoft.ecf.infrastructure.ServerError
import com.pronesoft.ecf.infrastructure.MultiValueMap
import com.pronesoft.ecf.infrastructure.PartConfig
import com.pronesoft.ecf.infrastructure.RequestConfig
import com.pronesoft.ecf.infrastructure.RequestMethod
import com.pronesoft.ecf.infrastructure.ResponseType
import com.pronesoft.ecf.infrastructure.Success
import com.pronesoft.ecf.infrastructure.toMultiValue

open class ECFSubmissionApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.ecf.sandbox.pronesoft.com/api/v1")
        }
    }

    /**
     * POST /{environment}/ecf/submit
     * Submit e-CF document to DGII
     * Submits an electronic tax document to the DGII via the Pronesoft platform. Pronesoft handles XML signing, DGII authentication, and status polling on your behalf.  ### Flow 1. Build the &#x60;ElectronicDocument&#x60; payload. 2. Call this endpoint with the target &#x60;environment&#x60; in the path. 3. Receive a &#x60;documentId&#x60; and &#x60;trackId&#x60; in the response. 4. Listen for the &#x60;document.status_changed&#x60; webhook event, or poll    the DGII track ID to confirm final approval.  ### Path parameter: environment | Value | Description | |---|---| | &#x60;TesteCF&#x60; | Functional tests (no DGII interaction) | | &#x60;CerteCF&#x60; | DGII certification environment | | &#x60;eCF&#x60; | Production — real documents | 
     * @param xTenantId UUID of the company or branch (tenant) making the request. Obtained from the Pronesoft portal after account setup. 
     * @param environment Target submission environment.
     * @param electronicDocument 
     * @return EcfSubmissionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submitEcf(xTenantId: java.util.UUID, environment: Environment, electronicDocument: ElectronicDocument) : EcfSubmissionResponse {
        val localVarResponse = submitEcfWithHttpInfo(xTenantId = xTenantId, environment = environment, electronicDocument = electronicDocument)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EcfSubmissionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /{environment}/ecf/submit
     * Submit e-CF document to DGII
     * Submits an electronic tax document to the DGII via the Pronesoft platform. Pronesoft handles XML signing, DGII authentication, and status polling on your behalf.  ### Flow 1. Build the &#x60;ElectronicDocument&#x60; payload. 2. Call this endpoint with the target &#x60;environment&#x60; in the path. 3. Receive a &#x60;documentId&#x60; and &#x60;trackId&#x60; in the response. 4. Listen for the &#x60;document.status_changed&#x60; webhook event, or poll    the DGII track ID to confirm final approval.  ### Path parameter: environment | Value | Description | |---|---| | &#x60;TesteCF&#x60; | Functional tests (no DGII interaction) | | &#x60;CerteCF&#x60; | DGII certification environment | | &#x60;eCF&#x60; | Production — real documents | 
     * @param xTenantId UUID of the company or branch (tenant) making the request. Obtained from the Pronesoft portal after account setup. 
     * @param environment Target submission environment.
     * @param electronicDocument 
     * @return ApiResponse<EcfSubmissionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitEcfWithHttpInfo(xTenantId: java.util.UUID, environment: Environment, electronicDocument: ElectronicDocument) : ApiResponse<EcfSubmissionResponse?> {
        val localVariableConfig = submitEcfRequestConfig(xTenantId = xTenantId, environment = environment, electronicDocument = electronicDocument)

        return request<ElectronicDocument, EcfSubmissionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submitEcf
     *
     * @param xTenantId UUID of the company or branch (tenant) making the request. Obtained from the Pronesoft portal after account setup. 
     * @param environment Target submission environment.
     * @param electronicDocument 
     * @return RequestConfig
     */
    fun submitEcfRequestConfig(xTenantId: java.util.UUID, environment: Environment, electronicDocument: ElectronicDocument) : RequestConfig<ElectronicDocument> {
        val localVariableBody = electronicDocument
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xTenantId.apply { localVariableHeaders["x-tenant-id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/{environment}/ecf/submit".replace("{"+"environment"+"}", encodeURIComponent(environment.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
