/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.pronesoft.ecf.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.pronesoft.ecf.models.Environment
import com.pronesoft.ecf.models.ErrorResponse

import com.google.gson.annotations.SerializedName

import com.pronesoft.ecf.infrastructure.ApiClient
import com.pronesoft.ecf.infrastructure.ApiResponse
import com.pronesoft.ecf.infrastructure.ClientException
import com.pronesoft.ecf.infrastructure.ClientError
import com.pronesoft.ecf.infrastructure.ServerException
import com.pronesoft.ecf.infrastructure.ServerError
import com.pronesoft.ecf.infrastructure.MultiValueMap
import com.pronesoft.ecf.infrastructure.PartConfig
import com.pronesoft.ecf.infrastructure.RequestConfig
import com.pronesoft.ecf.infrastructure.RequestMethod
import com.pronesoft.ecf.infrastructure.ResponseType
import com.pronesoft.ecf.infrastructure.Success
import com.pronesoft.ecf.infrastructure.toMultiValue

open class ReportsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.ecf.sandbox.pronesoft.com/api/v1")
        }
    }

    /**
     * enum for parameter format
     */
     enum class FormatExport606(val value: kotlin.String) {
         @SerializedName(value = "txt") txt("txt"),
         @SerializedName(value = "xlsx") xlsx("xlsx");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /dgii/606/export
     * Export Format 606 (Purchases)
     * Downloads the official Format 606 for DGII in TXT (official) or Excel format.
     * @param from 
     * @param to 
     * @param format 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun export606(from: java.time.LocalDate, to: java.time.LocalDate, format: FormatExport606) : kotlin.String {
        val localVarResponse = export606WithHttpInfo(from = from, to = to, format = format)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/606/export
     * Export Format 606 (Purchases)
     * Downloads the official Format 606 for DGII in TXT (official) or Excel format.
     * @param from 
     * @param to 
     * @param format 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun export606WithHttpInfo(from: java.time.LocalDate, to: java.time.LocalDate, format: FormatExport606) : ApiResponse<kotlin.String?> {
        val localVariableConfig = export606RequestConfig(from = from, to = to, format = format)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation export606
     *
     * @param from 
     * @param to 
     * @param format 
     * @return RequestConfig
     */
    fun export606RequestConfig(from: java.time.LocalDate, to: java.time.LocalDate, format: FormatExport606) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("from", listOf(parseDateToQueryString(from)))
                put("to", listOf(parseDateToQueryString(to)))
                put("format", listOf(format.value))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain, application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/606/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusExportSentDocuments(val value: kotlin.String) {
         @SerializedName(value = "ACCEPTED") ACCEPTED("ACCEPTED"),
         @SerializedName(value = "REJECTED") REJECTED("REJECTED"),
         @SerializedName(value = "PENDING") PENDING("PENDING");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /dgii/sent/export
     * Export sent documents report
     * Downloads submitted documents in a date range as Excel. Requires reports:read scope.
     * @param from 
     * @param to 
     * @param env  (optional)
     * @param encf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param trackId  (optional)
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun exportSentDocuments(from: java.time.LocalDate, to: java.time.LocalDate, env: Environment? = null, encf: kotlin.String? = null, type: kotlin.String? = null, status: StatusExportSentDocuments? = null, trackId: kotlin.String? = null) : java.io.File {
        val localVarResponse = exportSentDocumentsWithHttpInfo(from = from, to = to, env = env, encf = encf, type = type, status = status, trackId = trackId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/sent/export
     * Export sent documents report
     * Downloads submitted documents in a date range as Excel. Requires reports:read scope.
     * @param from 
     * @param to 
     * @param env  (optional)
     * @param encf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param trackId  (optional)
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun exportSentDocumentsWithHttpInfo(from: java.time.LocalDate, to: java.time.LocalDate, env: Environment?, encf: kotlin.String?, type: kotlin.String?, status: StatusExportSentDocuments?, trackId: kotlin.String?) : ApiResponse<java.io.File?> {
        val localVariableConfig = exportSentDocumentsRequestConfig(from = from, to = to, env = env, encf = encf, type = type, status = status, trackId = trackId)

        return request<Unit, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation exportSentDocuments
     *
     * @param from 
     * @param to 
     * @param env  (optional)
     * @param encf  (optional)
     * @param type  (optional)
     * @param status  (optional)
     * @param trackId  (optional)
     * @return RequestConfig
     */
    fun exportSentDocumentsRequestConfig(from: java.time.LocalDate, to: java.time.LocalDate, env: Environment?, encf: kotlin.String?, type: kotlin.String?, status: StatusExportSentDocuments?, trackId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("from", listOf(parseDateToQueryString(from)))
                put("to", listOf(parseDateToQueryString(to)))
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
                if (encf != null) {
                    put("encf", listOf(encf.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (trackId != null) {
                    put("trackId", listOf(trackId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/sent/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
