=begin
#eCF-Pronesoft Integration API

### Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.1.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class AutomatedCertificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download certification ZIP
    # Downloads ZIP with PDFs and XMLs. Only available when status is COMPLETED.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_certification(id, opts = {})
      data, _status_code, _headers = download_certification_with_http_info(id, opts)
      data
    end

    # Download certification ZIP
    # Downloads ZIP with PDFs and XMLs. Only available when status is COMPLETED.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_certification_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomatedCertificationApi.download_certification ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomatedCertificationApi.download_certification"
      end
      # resource path
      local_var_path = '/dgii-ecf/automated-certification/{id}/download'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/zip', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AutomatedCertificationApi.download_certification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomatedCertificationApi#download_certification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get certification process status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CertificationStatus]
    def get_certification_status(id, opts = {})
      data, _status_code, _headers = get_certification_status_with_http_info(id, opts)
      data
    end

    # Get certification process status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificationStatus, Integer, Hash)>] CertificationStatus data, response status code and response headers
    def get_certification_status_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomatedCertificationApi.get_certification_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomatedCertificationApi.get_certification_status"
      end
      # resource path
      local_var_path = '/dgii-ecf/automated-certification/{id}/status'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertificationStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AutomatedCertificationApi.get_certification_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomatedCertificationApi#get_certification_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List certification niches
    # @param [Hash] opts the optional parameters
    # @return [Array<CertificationNiche>]
    def list_certification_niches(opts = {})
      data, _status_code, _headers = list_certification_niches_with_http_info(opts)
      data
    end

    # List certification niches
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CertificationNiche>, Integer, Hash)>] Array<CertificationNiche> data, response status code and response headers
    def list_certification_niches_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomatedCertificationApi.list_certification_niches ...'
      end
      # resource path
      local_var_path = '/dgii-ecf/automated-certification/niches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CertificationNiche>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AutomatedCertificationApi.list_certification_niches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomatedCertificationApi#list_certification_niches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start certification process
    # @param start_certification_request [StartCertificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StartCertification200Response]
    def start_certification(start_certification_request, opts = {})
      data, _status_code, _headers = start_certification_with_http_info(start_certification_request, opts)
      data
    end

    # Start certification process
    # @param start_certification_request [StartCertificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartCertification200Response, Integer, Hash)>] StartCertification200Response data, response status code and response headers
    def start_certification_with_http_info(start_certification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomatedCertificationApi.start_certification ...'
      end
      # verify the required parameter 'start_certification_request' is set
      if @api_client.config.client_side_validation && start_certification_request.nil?
        fail ArgumentError, "Missing the required parameter 'start_certification_request' when calling AutomatedCertificationApi.start_certification"
      end
      # resource path
      local_var_path = '/dgii-ecf/automated-certification/start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(start_certification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StartCertification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AutomatedCertificationApi.start_certification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomatedCertificationApi#start_certification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
