=begin
#eCF-Pronesoft Master Integration API

#Especificación de producción 100% exacta de la API de eCF-Pronesoft. **Diseñada para la generación automática de SDKs.**  Esta especificación ha sido auditada contra el código fuente real (DTOs, Controllers y Guards),  reflejando con total precisión la obligatoriedad de los campos y las estructuras de respuesta. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class AutomatedCertificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Listar nichos
    # @param [Hash] opts the optional parameters
    # @return [Array<Niche>]
    def list_niches(opts = {})
      data, _status_code, _headers = list_niches_with_http_info(opts)
      data
    end

    # Listar nichos
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Niche>, Integer, Hash)>] Array<Niche> data, response status code and response headers
    def list_niches_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomatedCertificationApi.list_niches ...'
      end
      # resource path
      local_var_path = '/dgii-ecf/automated-certification/niches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Niche>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AutomatedCertificationApi.list_niches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomatedCertificationApi#list_niches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Iniciar certificación
    # @param start_certification_request [StartCertificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StartCertification200Response]
    def start_certification(start_certification_request, opts = {})
      data, _status_code, _headers = start_certification_with_http_info(start_certification_request, opts)
      data
    end

    # Iniciar certificación
    # @param start_certification_request [StartCertificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartCertification200Response, Integer, Hash)>] StartCertification200Response data, response status code and response headers
    def start_certification_with_http_info(start_certification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutomatedCertificationApi.start_certification ...'
      end
      # verify the required parameter 'start_certification_request' is set
      if @api_client.config.client_side_validation && start_certification_request.nil?
        fail ArgumentError, "Missing the required parameter 'start_certification_request' when calling AutomatedCertificationApi.start_certification"
      end
      # resource path
      local_var_path = '/dgii-ecf/automated-certification/start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(start_certification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StartCertification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AutomatedCertificationApi.start_certification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomatedCertificationApi#start_certification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
