=begin
#eCF-Pronesoft Master Integration API

#**Highly detailed** production-grade API specification for eCF-Pronesoft. **Optimized for high-fidelity SDK generation.**  This specification is the result of an exhaustive audit of the source code (NestJS), covering 100% of the DTOs, regex validations, Webhook schemas, and  OAuth 2.0 security flows. 

The version of the OpenAPI document: 0.0.1

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class DigitalCertificatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload Digital Certificate (P12)
    # @param rnc [String] 
    # @param file [File] 
    # @param password [String] 
    # @param [Hash] opts the optional parameters
    # @return [UploadCertificate201Response]
    def upload_certificate(rnc, file, password, opts = {})
      data, _status_code, _headers = upload_certificate_with_http_info(rnc, file, password, opts)
      data
    end

    # Upload Digital Certificate (P12)
    # @param rnc [String] 
    # @param file [File] 
    # @param password [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadCertificate201Response, Integer, Hash)>] UploadCertificate201Response data, response status code and response headers
    def upload_certificate_with_http_info(rnc, file, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DigitalCertificatesApi.upload_certificate ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling DigitalCertificatesApi.upload_certificate"
      end
      pattern = Regexp.new(/^[0-9]{9}|[0-9]{11}$/)
      if @api_client.config.client_side_validation && rnc !~ pattern
        fail ArgumentError, "invalid value for 'rnc' when calling DigitalCertificatesApi.upload_certificate, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling DigitalCertificatesApi.upload_certificate"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling DigitalCertificatesApi.upload_certificate"
      end
      # resource path
      local_var_path = '/{rnc}/certificates'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['password'] = password

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadCertificate201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DigitalCertificatesApi.upload_certificate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DigitalCertificatesApi#upload_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
