=begin
#eCF-Pronesoft Master Integration API

#Especificación de producción 100% exacta de la API de eCF-Pronesoft. **Diseñada para la generación automática de SDKs.**  Esta especificación ha sido auditada contra el código fuente real (DTOs, Controllers y Guards),  reflejando con total precisión la obligatoriedad de los campos y las estructuras de respuesta. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class DocumentsReceivedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Listar documentos recibidos
    # @param business_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaginatedResponse]
    def list_received_documents(business_id, opts = {})
      data, _status_code, _headers = list_received_documents_with_http_info(business_id, opts)
      data
    end

    # Listar documentos recibidos
    # @param business_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaginatedResponse, Integer, Hash)>] PaginatedResponse data, response status code and response headers
    def list_received_documents_with_http_info(business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsReceivedApi.list_received_documents ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling DocumentsReceivedApi.list_received_documents"
      end
      # resource path
      local_var_path = '/documents/received/all'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'businessId'] = business_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DocumentsReceivedApi.list_received_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsReceivedApi#list_received_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
