=begin
#eCF-Pronesoft Integration API

### Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.1.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class DocumentsReceivedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get received documents statistics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [ReceivedDocumentStatsResponse]
    def get_received_document_stats(opts = {})
      data, _status_code, _headers = get_received_document_stats_with_http_info(opts)
      data
    end

    # Get received documents statistics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [Array<(ReceivedDocumentStatsResponse, Integer, Hash)>] ReceivedDocumentStatsResponse data, response status code and response headers
    def get_received_document_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsReceivedApi.get_received_document_stats ...'
      end
      # resource path
      local_var_path = '/documents/received/stats/summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReceivedDocumentStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DocumentsReceivedApi.get_received_document_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsReceivedApi#get_received_document_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List received documents
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [String] :ecf 
    # @option opts [String] :document_type 
    # @option opts [Integer] :status 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 10)
    # @return [ReceivedDocumentListResponse]
    def list_received_documents(opts = {})
      data, _status_code, _headers = list_received_documents_with_http_info(opts)
      data
    end

    # List received documents
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [String] :ecf 
    # @option opts [String] :document_type 
    # @option opts [Integer] :status 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<(ReceivedDocumentListResponse, Integer, Hash)>] ReceivedDocumentListResponse data, response status code and response headers
    def list_received_documents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsReceivedApi.list_received_documents ...'
      end
      # resource path
      local_var_path = '/documents/received/all'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ecf'] = opts[:'ecf'] if !opts[:'ecf'].nil?
      query_params[:'documentType'] = opts[:'document_type'] if !opts[:'document_type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReceivedDocumentListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DocumentsReceivedApi.list_received_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsReceivedApi#list_received_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
