=begin
#eCF-Pronesoft Integration API

### Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.1.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class DocumentsSentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download document XML
    # @param file_url [String] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def download_document(file_url, opts = {})
      data, _status_code, _headers = download_document_with_http_info(file_url, opts)
      data
    end

    # Download document XML
    # @param file_url [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def download_document_with_http_info(file_url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsSentApi.download_document ...'
      end
      # verify the required parameter 'file_url' is set
      if @api_client.config.client_side_validation && file_url.nil?
        fail ArgumentError, "Missing the required parameter 'file_url' when calling DocumentsSentApi.download_document"
      end
      # resource path
      local_var_path = '/documents/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fileUrl'] = file_url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DocumentsSentApi.download_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsSentApi#download_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get document details
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [SentDocumentDetail]
    def get_document(id, opts = {})
      data, _status_code, _headers = get_document_with_http_info(id, opts)
      data
    end

    # Get document details
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [Array<(SentDocumentDetail, Integer, Hash)>] SentDocumentDetail data, response status code and response headers
    def get_document_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsSentApi.get_document ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DocumentsSentApi.get_document"
      end
      # resource path
      local_var_path = '/documents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SentDocumentDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DocumentsSentApi.get_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsSentApi#get_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get document statistics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [String] :period  (default to '30d')
    # @return [DocumentStatsResponse]
    def get_document_stats(opts = {})
      data, _status_code, _headers = get_document_stats_with_http_info(opts)
      data
    end

    # Get document statistics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [String] :period  (default to '30d')
    # @return [Array<(DocumentStatsResponse, Integer, Hash)>] DocumentStatsResponse data, response status code and response headers
    def get_document_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsSentApi.get_document_stats ...'
      end
      allowable_values = ["7d", "30d", "90d"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/documents/stats/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DocumentsSentApi.get_document_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsSentApi#get_document_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sent documents
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [Environment] :env 
    # @option opts [String] :ecf 
    # @option opts [String] :type 
    # @option opts [String] :status 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 10)
    # @return [SentDocumentListResponse]
    def list_sent_documents(opts = {})
      data, _status_code, _headers = list_sent_documents_with_http_info(opts)
      data
    end

    # List sent documents
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [Environment] :env 
    # @option opts [String] :ecf 
    # @option opts [String] :type 
    # @option opts [String] :status 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<(SentDocumentListResponse, Integer, Hash)>] SentDocumentListResponse data, response status code and response headers
    def list_sent_documents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsSentApi.list_sent_documents ...'
      end
      allowable_values = ["APPROVED", "REJECTED", "IN_PROCESS", "CONTINGENCY", "ERROR"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DocumentsSentApi.list_sent_documents, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/documents/sent'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'env'] = opts[:'env'] if !opts[:'env'].nil?
      query_params[:'ecf'] = opts[:'ecf'] if !opts[:'ecf'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SentDocumentListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DocumentsSentApi.list_sent_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsSentApi#list_sent_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
