=begin
#eCF-Pronesoft Integration API

### Descripción general API de nivel productivo para emitir Comprobantes Fiscales Electrónicos (e-CF) en la República Dominicana a través de la plataforma Pronesoft.  ## Autenticación — OAuth 2.0 Client Credentials  ### Pasos 1. Obtén tus credenciales desde el portal:    - Sandbox: https://ecf.sandbox.pronesoft.com → Apps → Default Sandbox App    - Producción: https://ecf.pronesoft.com → Integraciones → Apps → Crear App 2. Solicita un token via POST /oauth/token — válido por 24 horas (86400s). 3. Usa: Authorization: Bearer <accessToken> en cada request. 4. Renueva al recibir HTTP 401. Buena práctica: renovar 5 minutos antes del vencimiento.  ### Delegación multi-empresa Para actuar en nombre de una empresa asociada (sucursal), agrega:   x-tenant-id: <business-uuid> NO envíes x-tenant-id cuando actúes como la empresa principal.  ### Detalles del Sandbox - Usa cualquier RNC que comience con SBX (ej. SBX123456) — no se requiere certificado real. - Las secuencias son automáticas — no es necesario crearlas manualmente. - El campo environment en el cuerpo del documento DEBE ser TesteCF.  ### Scopes disponibles business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.2.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class ECFSubmissionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Obtener estadísticas de envíos (últimos 30 días)
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @return [EcfStatsResponse]
    def get_ecf_stats(environment, opts = {})
      data, _status_code, _headers = get_ecf_stats_with_http_info(environment, opts)
      data
    end

    # Obtener estadísticas de envíos (últimos 30 días)
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @return [Array<(EcfStatsResponse, Integer, Hash)>] EcfStatsResponse data, response status code and response headers
    def get_ecf_stats_with_http_info(environment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.get_ecf_stats ...'
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.get_ecf_stats"
      end
      # resource path
      local_var_path = '/{environment}/ecf/responses/stats'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EcfStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.get_ecf_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#get_ecf_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Consultar estado del documento por ID interno
    # @param environment [Environment] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @return [EcfStatusResponse]
    def get_ecf_status(environment, id, opts = {})
      data, _status_code, _headers = get_ecf_status_with_http_info(environment, id, opts)
      data
    end

    # Consultar estado del documento por ID interno
    # @param environment [Environment] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @return [Array<(EcfStatusResponse, Integer, Hash)>] EcfStatusResponse data, response status code and response headers
    def get_ecf_status_with_http_info(environment, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.get_ecf_status ...'
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.get_ecf_status"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ECFSubmissionApi.get_ecf_status"
      end
      # resource path
      local_var_path = '/{environment}/ecf/status/{id}'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EcfStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.get_ecf_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#get_ecf_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Historial de envíos (paginado)
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @return [GetEcfSubmissionHistory200Response]
    def get_ecf_submission_history(environment, opts = {})
      data, _status_code, _headers = get_ecf_submission_history_with_http_info(environment, opts)
      data
    end

    # Historial de envíos (paginado)
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(GetEcfSubmissionHistory200Response, Integer, Hash)>] GetEcfSubmissionHistory200Response data, response status code and response headers
    def get_ecf_submission_history_with_http_info(environment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.get_ecf_submission_history ...'
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.get_ecf_submission_history"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ECFSubmissionApi.get_ecf_submission_history, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/{environment}/ecf/responses/history'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEcfSubmissionHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.get_ecf_submission_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#get_ecf_submission_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enviar documento e-CF a la DGII
    # Envía un comprobante fiscal electrónico. Maneja automáticamente la firma XML, la cola de envío, el modo contingencia y la comunicación con la DGII. IMPORTANTE: En Sandbox el campo environment en el cuerpo DEBE ser TesteCF. 
    # @param environment [Environment] 
    # @param electronic_document [ElectronicDocument] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @return [EcfSubmitResponse]
    def submit_ecf(environment, electronic_document, opts = {})
      data, _status_code, _headers = submit_ecf_with_http_info(environment, electronic_document, opts)
      data
    end

    # Enviar documento e-CF a la DGII
    # Envía un comprobante fiscal electrónico. Maneja automáticamente la firma XML, la cola de envío, el modo contingencia y la comunicación con la DGII. IMPORTANTE: En Sandbox el campo environment en el cuerpo DEBE ser TesteCF. 
    # @param environment [Environment] 
    # @param electronic_document [ElectronicDocument] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa en nombre de una sucursal. Omitir cuando se actúa como empresa principal. 
    # @return [Array<(EcfSubmitResponse, Integer, Hash)>] EcfSubmitResponse data, response status code and response headers
    def submit_ecf_with_http_info(environment, electronic_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.submit_ecf ...'
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.submit_ecf"
      end
      # verify the required parameter 'electronic_document' is set
      if @api_client.config.client_side_validation && electronic_document.nil?
        fail ArgumentError, "Missing the required parameter 'electronic_document' when calling ECFSubmissionApi.submit_ecf"
      end
      # resource path
      local_var_path = '/{environment}/ecf/submit'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(electronic_document)

      # return_type
      return_type = opts[:debug_return_type] || 'EcfSubmitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.submit_ecf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#submit_ecf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
