=begin
#eCF-Pronesoft Master Integration API

#Especificación de producción 100% exacta de la API de eCF-Pronesoft. **Diseñada para la generación automática de SDKs.**  Esta especificación ha sido auditada contra el código fuente real (DTOs, Controllers y Guards),  reflejando con total precisión la obligatoriedad de los campos y las estructuras de respuesta. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class ECFSubmissionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Consultar estatus trackId
    # @param environment [Environment] 
    # @param track_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrackStatusResponse]
    def get_ecf_status(environment, track_id, opts = {})
      data, _status_code, _headers = get_ecf_status_with_http_info(environment, track_id, opts)
      data
    end

    # Consultar estatus trackId
    # @param environment [Environment] 
    # @param track_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackStatusResponse, Integer, Hash)>] TrackStatusResponse data, response status code and response headers
    def get_ecf_status_with_http_info(environment, track_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.get_ecf_status ...'
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.get_ecf_status"
      end
      # verify the required parameter 'track_id' is set
      if @api_client.config.client_side_validation && track_id.nil?
        fail ArgumentError, "Missing the required parameter 'track_id' when calling ECFSubmissionApi.get_ecf_status"
      end
      # resource path
      local_var_path = '/{environment}/ecf/status/{trackId}'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s)).sub('{' + 'trackId' + '}', CGI.escape(track_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrackStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.get_ecf_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#get_ecf_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enviar e-CF a plataforma
    # @param environment [Environment] 
    # @param electronic_document [ElectronicDocument] 
    # @param [Hash] opts the optional parameters
    # @return [EcfSubmissionResponse]
    def submit_ecf(environment, electronic_document, opts = {})
      data, _status_code, _headers = submit_ecf_with_http_info(environment, electronic_document, opts)
      data
    end

    # Enviar e-CF a plataforma
    # @param environment [Environment] 
    # @param electronic_document [ElectronicDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EcfSubmissionResponse, Integer, Hash)>] EcfSubmissionResponse data, response status code and response headers
    def submit_ecf_with_http_info(environment, electronic_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.submit_ecf ...'
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.submit_ecf"
      end
      # verify the required parameter 'electronic_document' is set
      if @api_client.config.client_side_validation && electronic_document.nil?
        fail ArgumentError, "Missing the required parameter 'electronic_document' when calling ECFSubmissionApi.submit_ecf"
      end
      # resource path
      local_var_path = '/{environment}/ecf/submit'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(electronic_document)

      # return_type
      return_type = opts[:debug_return_type] || 'EcfSubmissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.submit_ecf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#submit_ecf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
