=begin
#eCF-Pronesoft Master Integration API

#**Highly detailed** production-grade API specification for eCF-Pronesoft. **Optimized for high-fidelity SDK generation.**  This specification is the result of an exhaustive audit of the source code (NestJS), covering 100% of the DTOs, regex validations, Webhook schemas, and  OAuth 2.0 security flows. 

The version of the OpenAPI document: 0.0.1

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class ECFSubmissionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Submit e-CF to platform
    # @param x_tenant_id [String] 
    # @param environment [Environment] 
    # @param electronic_document [ElectronicDocument] 
    # @param [Hash] opts the optional parameters
    # @return [EcfSubmissionResponse]
    def submit_ecf(x_tenant_id, environment, electronic_document, opts = {})
      data, _status_code, _headers = submit_ecf_with_http_info(x_tenant_id, environment, electronic_document, opts)
      data
    end

    # Submit e-CF to platform
    # @param x_tenant_id [String] 
    # @param environment [Environment] 
    # @param electronic_document [ElectronicDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EcfSubmissionResponse, Integer, Hash)>] EcfSubmissionResponse data, response status code and response headers
    def submit_ecf_with_http_info(x_tenant_id, environment, electronic_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ECFSubmissionApi.submit_ecf ...'
      end
      # verify the required parameter 'x_tenant_id' is set
      if @api_client.config.client_side_validation && x_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_tenant_id' when calling ECFSubmissionApi.submit_ecf"
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling ECFSubmissionApi.submit_ecf"
      end
      # verify the required parameter 'electronic_document' is set
      if @api_client.config.client_side_validation && electronic_document.nil?
        fail ArgumentError, "Missing the required parameter 'electronic_document' when calling ECFSubmissionApi.submit_ecf"
      end
      # resource path
      local_var_path = '/{environment}/ecf/submit'.sub('{' + 'environment' + '}', CGI.escape(environment.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-tenant-id'] = x_tenant_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(electronic_document)

      # return_type
      return_type = opts[:debug_return_type] || 'EcfSubmissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ECFSubmissionApi.submit_ecf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ECFSubmissionApi#submit_ecf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
