=begin
#eCF-Pronesoft Integration API

### Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.1.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class ReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Export Format 606 (Purchases)
    # Downloads the official Format 606 for DGII in TXT (official) or Excel format.
    # @param from [Date] 
    # @param to [Date] 
    # @param format [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :type 
    # @option opts [String] :encf 
    # @return [String]
    def export606(from, to, format, opts = {})
      data, _status_code, _headers = export606_with_http_info(from, to, format, opts)
      data
    end

    # Export Format 606 (Purchases)
    # Downloads the official Format 606 for DGII in TXT (official) or Excel format.
    # @param from [Date] 
    # @param to [Date] 
    # @param format [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :type 
    # @option opts [String] :encf 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def export606_with_http_info(from, to, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.export606 ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling ReportsApi.export606"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling ReportsApi.export606"
      end
      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling ReportsApi.export606"
      end
      # verify enum value
      allowable_values = ["txt", "xlsx"]
      if @api_client.config.client_side_validation && !allowable_values.include?(format)
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/dgii/606/export'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'format'] = format
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'encf'] = opts[:'encf'] if !opts[:'encf'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.export606",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#export606\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export sent documents report
    # Downloads submitted documents in a date range as Excel. Requires reports:read scope.
    # @param from [Date] 
    # @param to [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Environment] :env 
    # @option opts [String] :encf 
    # @option opts [String] :type 
    # @option opts [String] :status 
    # @option opts [String] :track_id 
    # @return [File]
    def export_sent_documents(from, to, opts = {})
      data, _status_code, _headers = export_sent_documents_with_http_info(from, to, opts)
      data
    end

    # Export sent documents report
    # Downloads submitted documents in a date range as Excel. Requires reports:read scope.
    # @param from [Date] 
    # @param to [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Environment] :env 
    # @option opts [String] :encf 
    # @option opts [String] :type 
    # @option opts [String] :status 
    # @option opts [String] :track_id 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def export_sent_documents_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.export_sent_documents ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling ReportsApi.export_sent_documents"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling ReportsApi.export_sent_documents"
      end
      allowable_values = ["ACCEPTED", "REJECTED", "PENDING"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/dgii/sent/export'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'env'] = opts[:'env'] if !opts[:'env'].nil?
      query_params[:'encf'] = opts[:'encf'] if !opts[:'encf'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'trackId'] = opts[:'track_id'] if !opts[:'track_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.export_sent_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#export_sent_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
