=begin
#eCF-Pronesoft Master Integration API

#Especificación de producción 100% exacta de la API de eCF-Pronesoft. **Diseñada para la generación automática de SDKs.**  Esta especificación ha sido auditada contra el código fuente real (DTOs, Controllers y Guards),  reflejando con total precisión la obligatoriedad de los campos y las estructuras de respuesta. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class TaxSequencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Crear nueva secuencia fiscal
    # @param create_tax_sequence_request [CreateTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_tax_sequence(create_tax_sequence_request, opts = {})
      create_tax_sequence_with_http_info(create_tax_sequence_request, opts)
      nil
    end

    # Crear nueva secuencia fiscal
    # @param create_tax_sequence_request [CreateTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_tax_sequence_with_http_info(create_tax_sequence_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.create_tax_sequence ...'
      end
      # verify the required parameter 'create_tax_sequence_request' is set
      if @api_client.config.client_side_validation && create_tax_sequence_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tax_sequence_request' when calling TaxSequencesApi.create_tax_sequence"
      end
      # resource path
      local_var_path = '/tax-sequences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tax_sequence_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.create_tax_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#create_tax_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Obtener próximo número disponible
    # @param type [InvoiceType] 
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @return [GetNextNumber200Response]
    def get_next_number(type, environment, opts = {})
      data, _status_code, _headers = get_next_number_with_http_info(type, environment, opts)
      data
    end

    # Obtener próximo número disponible
    # @param type [InvoiceType] 
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetNextNumber200Response, Integer, Hash)>] GetNextNumber200Response data, response status code and response headers
    def get_next_number_with_http_info(type, environment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.get_next_number ...'
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling TaxSequencesApi.get_next_number"
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling TaxSequencesApi.get_next_number"
      end
      # resource path
      local_var_path = '/tax-sequences/next'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = type
      query_params[:'environment'] = environment

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNextNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.get_next_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#get_next_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Listar secuencias fiscales
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceType] :type 
    # @return [ListTaxSequences200Response]
    def list_tax_sequences(opts = {})
      data, _status_code, _headers = list_tax_sequences_with_http_info(opts)
      data
    end

    # Listar secuencias fiscales
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceType] :type 
    # @return [Array<(ListTaxSequences200Response, Integer, Hash)>] ListTaxSequences200Response data, response status code and response headers
    def list_tax_sequences_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.list_tax_sequences ...'
      end
      # resource path
      local_var_path = '/tax-sequences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTaxSequences200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.list_tax_sequences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#list_tax_sequences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
