=begin
#eCF-Pronesoft Integration API

### Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.1.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class TaxSequencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create new tax sequence
    # @param create_tax_sequence_request [CreateTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [CreateTaxSequence201Response]
    def create_tax_sequence(create_tax_sequence_request, opts = {})
      data, _status_code, _headers = create_tax_sequence_with_http_info(create_tax_sequence_request, opts)
      data
    end

    # Create new tax sequence
    # @param create_tax_sequence_request [CreateTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [Array<(CreateTaxSequence201Response, Integer, Hash)>] CreateTaxSequence201Response data, response status code and response headers
    def create_tax_sequence_with_http_info(create_tax_sequence_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.create_tax_sequence ...'
      end
      # verify the required parameter 'create_tax_sequence_request' is set
      if @api_client.config.client_side_validation && create_tax_sequence_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tax_sequence_request' when calling TaxSequencesApi.create_tax_sequence"
      end
      # resource path
      local_var_path = '/tax-sequences/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tax_sequence_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTaxSequence201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.create_tax_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#create_tax_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get next available fiscal number
    # Returns the next e-NCF number. Use this as invoiceNumber when submitting.
    # @param type [InvoiceTypeSequence] 
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [GetNextNumber200Response]
    def get_next_number(type, environment, opts = {})
      data, _status_code, _headers = get_next_number_with_http_info(type, environment, opts)
      data
    end

    # Get next available fiscal number
    # Returns the next e-NCF number. Use this as invoiceNumber when submitting.
    # @param type [InvoiceTypeSequence] 
    # @param environment [Environment] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [Array<(GetNextNumber200Response, Integer, Hash)>] GetNextNumber200Response data, response status code and response headers
    def get_next_number_with_http_info(type, environment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.get_next_number ...'
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling TaxSequencesApi.get_next_number"
      end
      # verify the required parameter 'environment' is set
      if @api_client.config.client_side_validation && environment.nil?
        fail ArgumentError, "Missing the required parameter 'environment' when calling TaxSequencesApi.get_next_number"
      end
      # resource path
      local_var_path = '/tax-sequences/next'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = type
      query_params[:'environment'] = environment

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNextNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.get_next_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#get_next_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tax sequences
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [InvoiceTypeSequence] :type 
    # @option opts [Environment] :environment 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 10)
    # @return [ListTaxSequences200Response]
    def list_tax_sequences(opts = {})
      data, _status_code, _headers = list_tax_sequences_with_http_info(opts)
      data
    end

    # List tax sequences
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @option opts [InvoiceTypeSequence] :type 
    # @option opts [Environment] :environment 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<(ListTaxSequences200Response, Integer, Hash)>] ListTaxSequences200Response data, response status code and response headers
    def list_tax_sequences_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.list_tax_sequences ...'
      end
      # resource path
      local_var_path = '/tax-sequences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'environment'] = opts[:'environment'] if !opts[:'environment'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTaxSequences200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.list_tax_sequences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#list_tax_sequences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update tax sequence
    # @param id [String] 
    # @param update_tax_sequence_request [UpdateTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [nil]
    def update_tax_sequence(id, update_tax_sequence_request, opts = {})
      update_tax_sequence_with_http_info(id, update_tax_sequence_request, opts)
      nil
    end

    # Update tax sequence
    # @param id [String] 
    # @param update_tax_sequence_request [UpdateTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_tax_sequence_with_http_info(id, update_tax_sequence_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.update_tax_sequence ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxSequencesApi.update_tax_sequence"
      end
      # verify the required parameter 'update_tax_sequence_request' is set
      if @api_client.config.client_side_validation && update_tax_sequence_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_tax_sequence_request' when calling TaxSequencesApi.update_tax_sequence"
      end
      # resource path
      local_var_path = '/tax-sequences/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_tax_sequence_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.update_tax_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#update_tax_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Void a range of fiscal numbers
    # Cancels unused fiscal numbers and notifies DGII.
    # @param void_tax_sequence_request [VoidTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [VoidTaxSequence200Response]
    def void_tax_sequence(void_tax_sequence_request, opts = {})
      data, _status_code, _headers = void_tax_sequence_with_http_info(void_tax_sequence_request, opts)
      data
    end

    # Void a range of fiscal numbers
    # Cancels unused fiscal numbers and notifies DGII.
    # @param void_tax_sequence_request [VoidTaxSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id UUID of the associated company (branch). Include ONLY when acting on behalf of a branch. Omit when acting as the main company. 
    # @return [Array<(VoidTaxSequence200Response, Integer, Hash)>] VoidTaxSequence200Response data, response status code and response headers
    def void_tax_sequence_with_http_info(void_tax_sequence_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxSequencesApi.void_tax_sequence ...'
      end
      # verify the required parameter 'void_tax_sequence_request' is set
      if @api_client.config.client_side_validation && void_tax_sequence_request.nil?
        fail ArgumentError, "Missing the required parameter 'void_tax_sequence_request' when calling TaxSequencesApi.void_tax_sequence"
      end
      # resource path
      local_var_path = '/tax-sequences/void'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-tenant-id'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(void_tax_sequence_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VoidTaxSequence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"TaxSequencesApi.void_tax_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxSequencesApi#void_tax_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
