=begin
#eCF-Pronesoft Master Integration API

#**Highly detailed** production-grade API specification for eCF-Pronesoft. **Optimized for high-fidelity SDK generation.**  This specification is the result of an exhaustive audit of the source code (NestJS), covering 100% of the DTOs, regex validations, Webhook schemas, and  OAuth 2.0 security flows. 

The version of the OpenAPI document: 0.0.1
Contact: contacto@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class WebhookConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Register new webhook
    # @param rnc [String] 
    # @param create_webhook_config [CreateWebhookConfig] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookConfigResponse]
    def create_webhook(rnc, create_webhook_config, opts = {})
      data, _status_code, _headers = create_webhook_with_http_info(rnc, create_webhook_config, opts)
      data
    end

    # Register new webhook
    # @param rnc [String] 
    # @param create_webhook_config [CreateWebhookConfig] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookConfigResponse, Integer, Hash)>] WebhookConfigResponse data, response status code and response headers
    def create_webhook_with_http_info(rnc, create_webhook_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.create_webhook ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.create_webhook"
      end
      pattern = Regexp.new(/^[0-9]{9}|[0-9]{11}$/)
      if @api_client.config.client_side_validation && rnc !~ pattern
        fail ArgumentError, "invalid value for 'rnc' when calling WebhookConfigurationApi.create_webhook, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_webhook_config' is set
      if @api_client.config.client_side_validation && create_webhook_config.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_config' when calling WebhookConfigurationApi.create_webhook"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_config)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.create_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#create_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete webhook configuration
    # @param rnc [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_webhook(rnc, webhook_id, opts = {})
      delete_webhook_with_http_info(rnc, webhook_id, opts)
      nil
    end

    # Delete webhook configuration
    # @param rnc [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_webhook_with_http_info(rnc, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.delete_webhook ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.delete_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhookConfigurationApi.delete_webhook"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks/{webhookId}'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.delete_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#delete_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all webhook configurations
    # @param rnc [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<WebhookConfigResponse>]
    def list_webhooks(rnc, opts = {})
      data, _status_code, _headers = list_webhooks_with_http_info(rnc, opts)
      data
    end

    # List all webhook configurations
    # @param rnc [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<WebhookConfigResponse>, Integer, Hash)>] Array<WebhookConfigResponse> data, response status code and response headers
    def list_webhooks_with_http_info(rnc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.list_webhooks ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.list_webhooks"
      end
      pattern = Regexp.new(/^[0-9]{9}|[0-9]{11}$/)
      if @api_client.config.client_side_validation && rnc !~ pattern
        fail ArgumentError, "invalid value for 'rnc' when calling WebhookConfigurationApi.list_webhooks, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/{rnc}/webhooks'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WebhookConfigResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.list_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
