=begin
#eCF-Pronesoft Integration API

### Overview Production-grade API for issuing Electronic Tax Receipts (e-CF) in the Dominican Republic through the Pronesoft platform.  ## Authentication — OAuth 2.0 Client Credentials  ### Steps 1. Get credentials from the portal:    - Sandbox: https://ecf.sandbox.pronesoft.com -> Apps -> Default Sandbox App    - Production: https://ecf.pronesoft.com -> Integrations -> Apps -> Create App 2. Request a token via POST /oauth/token — valid for 24 hours (86400s). 3. Use: Authorization: Bearer <accessToken> on every request. 4. Renew on HTTP 401. Best practice: renew 5 minutes before expiry.  ### Multi-company delegation To act on behalf of an associated company (branch), add:   x-tenant-id: <business-uuid> Do NOT send x-tenant-id when acting as the main company.  ### Sandbox specifics - Use any RNC starting with SBX (e.g. SBX123456) — no real certificate needed. - Sequences are automatic — no need to create them manually. - The environment field in the document body MUST be TesteCF.  ### Scopes business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.1.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class WebhookConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get webhook details
    # @param rnc [String] Company RNC (9 or 11 digits). In Sandbox use SBX-prefixed values.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookConfigDetail]
    def get_webhook(rnc, webhook_id, opts = {})
      data, _status_code, _headers = get_webhook_with_http_info(rnc, webhook_id, opts)
      data
    end

    # Get webhook details
    # @param rnc [String] Company RNC (9 or 11 digits). In Sandbox use SBX-prefixed values.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookConfigDetail, Integer, Hash)>] WebhookConfigDetail data, response status code and response headers
    def get_webhook_with_http_info(rnc, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.get_webhook ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.get_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhookConfigurationApi.get_webhook"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks/{webhookId}'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookConfigDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.get_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#get_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get webhook delivery statistics
    # @param rnc [String] Company RNC (9 or 11 digits). In Sandbox use SBX-prefixed values.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period  (default to 'month')
    # @return [WebhookStats]
    def get_webhook_stats(rnc, webhook_id, opts = {})
      data, _status_code, _headers = get_webhook_stats_with_http_info(rnc, webhook_id, opts)
      data
    end

    # Get webhook delivery statistics
    # @param rnc [String] Company RNC (9 or 11 digits). In Sandbox use SBX-prefixed values.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period  (default to 'month')
    # @return [Array<(WebhookStats, Integer, Hash)>] WebhookStats data, response status code and response headers
    def get_webhook_stats_with_http_info(rnc, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.get_webhook_stats ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.get_webhook_stats"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhookConfigurationApi.get_webhook_stats"
      end
      allowable_values = ["today", "week", "month", "all"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks/{webhookId}/stats'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.get_webhook_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#get_webhook_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook configurations
    # Returns all webhooks for the RNC. Webhooks are created from the Dashboard UI only.
    # @param rnc [String] Company RNC (9 or 11 digits). In Sandbox use SBX-prefixed values.
    # @param [Hash] opts the optional parameters
    # @return [Array<WebhookConfigResponse>]
    def list_webhooks(rnc, opts = {})
      data, _status_code, _headers = list_webhooks_with_http_info(rnc, opts)
      data
    end

    # List webhook configurations
    # Returns all webhooks for the RNC. Webhooks are created from the Dashboard UI only.
    # @param rnc [String] Company RNC (9 or 11 digits). In Sandbox use SBX-prefixed values.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<WebhookConfigResponse>, Integer, Hash)>] Array<WebhookConfigResponse> data, response status code and response headers
    def list_webhooks_with_http_info(rnc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.list_webhooks ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.list_webhooks"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WebhookConfigResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.list_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
