=begin
#eCF-Pronesoft Master Integration API

#Especificación de producción 100% exacta de la API de eCF-Pronesoft. **Diseñada para la generación automática de SDKs.**  Esta especificación ha sido auditada contra el código fuente real (DTOs, Controllers y Guards),  reflejando con total precisión la obligatoriedad de los campos y las estructuras de respuesta. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Listar webhooks
    # @param rnc [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<WebhookConfig>]
    def list_webhooks(rnc, opts = {})
      data, _status_code, _headers = list_webhooks_with_http_info(rnc, opts)
      data
    end

    # Listar webhooks
    # @param rnc [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<WebhookConfig>, Integer, Hash)>] Array<WebhookConfig> data, response status code and response headers
    def list_webhooks_with_http_info(rnc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhooks ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhooksApi.list_webhooks"
      end
      pattern = Regexp.new(/^[0-9]{9}|[0-9]{11}$/)
      if @api_client.config.client_side_validation && rnc !~ pattern
        fail ArgumentError, "invalid value for 'rnc' when calling WebhooksApi.list_webhooks, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/{rnc}/webhooks'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WebhookConfig>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
