=begin
#eCF-Pronesoft Integration API

### Descripción general API de nivel productivo para emitir Comprobantes Fiscales Electrónicos (e-CF) en la República Dominicana a través de la plataforma Pronesoft.  ## Autenticación — OAuth 2.0 Client Credentials  ### Pasos 1. Obtén tus credenciales desde el portal:    - Sandbox: https://ecf.sandbox.pronesoft.com → Apps → Default Sandbox App    - Producción: https://ecf.pronesoft.com → Integraciones → Apps → Crear App 2. Solicita un token via POST /oauth/token — válido por 24 horas (86400s). 3. Usa: Authorization: Bearer <accessToken> en cada request. 4. Renueva al recibir HTTP 401. Buena práctica: renovar 5 minutos antes del vencimiento.  ### Delegación multi-empresa Para actuar en nombre de una empresa asociada (sucursal), agrega:   x-tenant-id: <business-uuid> NO envíes x-tenant-id cuando actúes como la empresa principal.  ### Detalles del Sandbox - Usa cualquier RNC que comience con SBX (ej. SBX123456) — no se requiere certificado real. - Las secuencias son automáticas — no es necesario crearlas manualmente. - El campo environment en el cuerpo del documento DEBE ser TesteCF.  ### Scopes disponibles business:read, business:create, business:update, members:read, members:invite, members:revoke, certificates:read, certificates:upload, certificates:update, documents:read, documents:create, documents:send, documents:receive, documents:update, approvals:read, approvals:commercial, sequences:read, sequences:create, sequences:update, sequences:cancel, business_info:read, certification:read, certification:write, reports:read 

The version of the OpenAPI document: 1.2.0
Contact: support@pronesoft.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module PronesoftEcf
  class WebhookConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Detalle de un webhook
    # @param rnc [String] RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookConfigDetail]
    def get_webhook(rnc, webhook_id, opts = {})
      data, _status_code, _headers = get_webhook_with_http_info(rnc, webhook_id, opts)
      data
    end

    # Detalle de un webhook
    # @param rnc [String] RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookConfigDetail, Integer, Hash)>] WebhookConfigDetail data, response status code and response headers
    def get_webhook_with_http_info(rnc, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.get_webhook ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.get_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhookConfigurationApi.get_webhook"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks/{webhookId}'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookConfigDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.get_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#get_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estadísticas de entregas del webhook
    # @param rnc [String] RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period  (default to 'month')
    # @return [WebhookStats]
    def get_webhook_stats(rnc, webhook_id, opts = {})
      data, _status_code, _headers = get_webhook_stats_with_http_info(rnc, webhook_id, opts)
      data
    end

    # Estadísticas de entregas del webhook
    # @param rnc [String] RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period  (default to 'month')
    # @return [Array<(WebhookStats, Integer, Hash)>] WebhookStats data, response status code and response headers
    def get_webhook_stats_with_http_info(rnc, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.get_webhook_stats ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.get_webhook_stats"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhookConfigurationApi.get_webhook_stats"
      end
      allowable_values = ["today", "week", "month", "all"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks/{webhookId}/stats'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.get_webhook_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#get_webhook_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Listar configuraciones de webhooks
    # Retorna todos los webhooks del RNC. Los webhooks se crean solo desde el Portal.
    # @param rnc [String] RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
    # @param [Hash] opts the optional parameters
    # @return [Array<WebhookConfigResponse>]
    def list_webhooks(rnc, opts = {})
      data, _status_code, _headers = list_webhooks_with_http_info(rnc, opts)
      data
    end

    # Listar configuraciones de webhooks
    # Retorna todos los webhooks del RNC. Los webhooks se crean solo desde el Portal.
    # @param rnc [String] RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<WebhookConfigResponse>, Integer, Hash)>] Array<WebhookConfigResponse> data, response status code and response headers
    def list_webhooks_with_http_info(rnc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookConfigurationApi.list_webhooks ...'
      end
      # verify the required parameter 'rnc' is set
      if @api_client.config.client_side_validation && rnc.nil?
        fail ArgumentError, "Missing the required parameter 'rnc' when calling WebhookConfigurationApi.list_webhooks"
      end
      # resource path
      local_var_path = '/{rnc}/webhooks'.sub('{' + 'rnc' + '}', CGI.escape(rnc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WebhookConfigResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"WebhookConfigurationApi.list_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookConfigurationApi#list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
