openapi: 3.0.0

# =============================================================================
# eCF-Pronesoft Master Integration API — v1.1.0
# =============================================================================
# Authentication: OAuth 2.0 Client Credentials
#
# PORTALS (get credentials here):
#   Sandbox:    https://ecf.sandbox.pronesoft.com
#   Production: https://ecf.pronesoft.com
#
# API ENDPOINTS:
#   Sandbox:    https://api.ecf.sandbox.pronesoft.com/api/v1
#   Production: https://api.ecf.pronesoft.com/api/v1
#
# TOKEN LIFETIME: 86400 seconds (24 hours)
# =============================================================================

info:
  title: eCF-Pronesoft Integration API
  version: 1.2.0
  description: |
    ## Descripción general
    API de nivel productivo para emitir Comprobantes Fiscales Electrónicos (e-CF) en la
    República Dominicana a través de la plataforma Pronesoft.

    ## Autenticación — OAuth 2.0 Client Credentials

    ### Pasos
    1. Obtén tus credenciales desde el portal:
       - Sandbox: https://ecf.sandbox.pronesoft.com → Apps → Default Sandbox App
       - Producción: https://ecf.pronesoft.com → Integraciones → Apps → Crear App
    2. Solicita un token via POST /oauth/token — válido por 24 horas (86400s).
    3. Usa: Authorization: Bearer <accessToken> en cada request.
    4. Renueva al recibir HTTP 401. Buena práctica: renovar 5 minutos antes del vencimiento.

    ### Delegación multi-empresa
    Para actuar en nombre de una empresa asociada (sucursal), agrega:
      x-tenant-id: <business-uuid>
    NO envíes x-tenant-id cuando actúes como la empresa principal.

    ### Detalles del Sandbox
    - Usa cualquier RNC que comience con SBX (ej. SBX123456) — no se requiere certificado real.
    - Las secuencias son automáticas — no es necesario crearlas manualmente.
    - El campo environment en el cuerpo del documento DEBE ser TesteCF.

    ### Scopes disponibles
    business:read, business:create, business:update,
    members:read, members:invite, members:revoke,
    certificates:read, certificates:upload, certificates:update,
    documents:read, documents:create, documents:send, documents:receive, documents:update,
    approvals:read, approvals:commercial,
    sequences:read, sequences:create, sequences:update, sequences:cancel,
    business_info:read, certification:read, certification:write, reports:read

  contact:
    name: Pronesoft SRL Support
    url: https://pronesoft.com
    email: support@pronesoft.com
  license:
    name: Proprietary
    url: https://pronesoft.com/terms

externalDocs:
  description: Pronesoft eCF SDKs Repository
  url: https://github.com/ProneSoftSRL/pronesoft-ecf-sdks

servers:
  - url: https://api.ecf.sandbox.pronesoft.com/api/v1
    description: Sandbox — desarrollo y pruebas
  - url: https://api.ecf.pronesoft.com/api/v1
    description: Producción — emisión real de e-CF

security:
  - oauth2: []

tags:
  - name: Authentication
    description: Endpoint de token OAuth 2.0. No requiere cabecera de autorización. Los tokens son válidos por 24 horas.
  - name: Digital Certificates
    description: Sube y gestiona los certificados digitales de firma emitidos por DGII (formato P12/PFX).
  - name: Tax Sequences
    description: Gestiona los rangos de números de comprobante fiscal e-NCF (E31-E47). Automático en Sandbox.
  - name: eCF Submission
    description: Endpoint principal para enviar documentos e-CF a la DGII a través de Pronesoft.
  - name: Documents Sent
    description: Consulta, descarga y obtén estadísticas de los documentos enviados.
  - name: Documents Received
    description: Gestiona y consulta los documentos e-CF recibidos de terceros.
  - name: Commercial Approvals
    description: Gestiona el flujo interno de aprobación comercial de documentos recibidos.
  - name: Associated Companies
    description: Gestiona sucursales y empresas asociadas bajo tu cuenta principal.
  - name: Webhook Configuration
    description: Consulta las configuraciones de webhooks (los webhooks se crean desde el Portal).
  - name: Automated Certification
    description: Automatiza el proceso de certificación con la DGII para ERPs.
  - name: Reports
    description: Descarga reportes contables (Documentos Enviados, Formato 606) para cumplimiento DGII.

paths:
  /oauth/token:
    post:
      tags: [Authentication]
      summary: Obtener token de acceso (OAuth 2.0)
      description: |
        Autenticación mediante el flujo OAuth 2.0 Client Credentials.
        Retorna un token Bearer válido por 24 horas (86400 segundos).
        Este endpoint es público — no requiere cabecera de Authorization.
      operationId: getAccessToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthTokenRequest"
            example:
              clientId: "app_live_TU_CLIENT_ID"
              clientSecret: "sk_live_TU_CLIENT_SECRET"
      responses:
        "200":
          description: Token generado exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
              example:
                accessToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                tokenType: "Bearer"
                expiresIn: 86400
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{rnc}/certificates:
    post:
      tags: [Digital Certificates]
      summary: Subir certificado digital (P12/PFX)
      description: |
        Sube el certificado de firma digital emitido por DGII para una empresa.
        Se almacena cifrado con AES-256-CBC. No existe endpoint de descarga.
        Tip Sandbox: Los RNC con prefijo SBX no requieren certificado.
      operationId: uploadCertificate
      security:
        - oauth2: [certificates:upload]
      parameters:
        - $ref: "#/components/parameters/RncPath"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, password]
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo del certificado en formato .p12 o .pfx.
                password:
                  type: string
                  format: password
                  description: Contraseña para desbloquear el certificado.
      responses:
        "201":
          description: Certificado subido exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCertificateResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: RNC de la empresa no encontrado en el sistema.

  /tax-sequences:
    get:
      tags: [Tax Sequences]
      summary: Listar secuencias de NCF
      operationId: listTaxSequences
      security:
        - oauth2: [sequences:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/InvoiceTypeSequence"
        - name: environment
          in: query
          schema:
            $ref: "#/components/schemas/Environment"
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        "200":
          description: Lista de secuencias de NCF
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TaxSequence"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /tax-sequences/create:
    post:
      tags: [Tax Sequences]
      summary: Crear nueva secuencia de NCF
      operationId: createTaxSequence
      security:
        - oauth2: [sequences:create]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaxSequenceRequest"
            example:
              type: "E32"
              from: 1
              to: 10000
              quantity: 10000
              expiration: "2025-12-31"
              environment: "TesteCF"
      responses:
        "201":
          description: Secuencia creada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    $ref: "#/components/schemas/TaxSequenceCreated"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /tax-sequences/next:
    get:
      tags: [Tax Sequences]
      summary: Obtener siguiente número fiscal disponible
      description: Retorna el siguiente número e-NCF disponible. Úsalo como invoiceNumber al enviar.
      operationId: getNextNumber
      security:
        - oauth2: [sequences:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: type
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/InvoiceTypeSequence"
        - name: environment
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Environment"
      responses:
        "200":
          description: Siguiente número e-NCF disponible
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      nextNumber:
                        type: string
                        example: "E32000005251"
                      sequenceId:
                        type: string
                        example: "seq_live_1234567890"
                      remainingNumbers:
                        type: integer
                        example: 4750
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /tax-sequences/update:
    patch:
      tags: [Tax Sequences]
      summary: Actualizar secuencia de NCF
      operationId: updateTaxSequence
      security:
        - oauth2: [sequences:update]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: id
          in: query
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaxSequenceRequest"
      responses:
        "200":
          description: Secuencia actualizada exitosamente
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /tax-sequences/void:
    post:
      tags: [Tax Sequences]
      summary: Anular rango de números fiscales
      description: Cancela números fiscales no utilizados y notifica a la DGII.
      operationId: voidTaxSequence
      security:
        - oauth2: [sequences:cancel]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoidTaxSequenceRequest"
      responses:
        "200":
          description: Números anulados exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      sequenceId: { type: string }
                      voidedNumbers: { type: integer }
                      status: { type: string, example: "SENT_TO_DGII" }
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{environment}/ecf/submit:
    post:
      tags: [eCF Submission]
      summary: Enviar documento e-CF a la DGII
      description: |
        Envía un comprobante fiscal electrónico. Maneja automáticamente la firma XML,
        la cola de envío, el modo contingencia y la comunicación con la DGII.
        IMPORTANTE: En Sandbox el campo environment en el cuerpo DEBE ser TesteCF.
      operationId: submitEcf
      security:
        - oauth2: [documents:send]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: environment
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Environment"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ElectronicDocument"
            examples:
              tipo31_credito_fiscal:
                summary: "Tipo 31 — Factura de Crédito Fiscal"
                description: Para ventas a empresas con RNC. El comprador puede deducir el ITBIS.
                value:
                  invoiceType: "31"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  incomeType: "01"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "101234567"
                    name: "Cliente Corporativo SRL"
                  items:
                    - name: "Servicio de desarrollo de software"
                      quantity: 1
                      unitPrice: "50000.00"
                      unitOfMeasure: 1
                      type: "2"
                      billingIndicator: "1"
                  totals:
                    taxableAmount: 50000.00
                    exemptAmount: 0
                    totalITBIS: 9000.00
                    totalAmount: 59000.00
                  paymentForms:
                    - method: "1"
                      amount: 59000.00

              tipo32_consumo:
                summary: "Tipo 32 — Factura de Consumo"
                description: Para ventas al consumidor final. Comprador opcional si el total es menor a RD$250,000.
                value:
                  invoiceType: "32"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  incomeType: "01"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    name: "Consumidor Final"
                  items:
                    - name: "Producto electrónico"
                      quantity: 2
                      unitPrice: "5500.00"
                      unitOfMeasure: 1
                      type: "1"
                      billingIndicator: "1"
                  totals:
                    taxableAmount: 11000.00
                    exemptAmount: 0
                    totalITBIS: 1980.00
                    totalAmount: 12980.00
                  paymentForms:
                    - method: "1"
                      amount: 12980.00

              tipo33_nota_debito:
                summary: "Tipo 33 — Nota de Débito"
                description: Aumenta el valor de una factura previamente emitida. Requiere referenceInfo.
                value:
                  invoiceType: "33"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  incomeType: "01"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  referenceInfo:
                    modifiedInvoiceNumber: "E310000000001"
                    modifiedInvoiceDate: "2025-05-20"
                    modificationCode: "3"
                  buyer:
                    taxId: "101234567"
                    name: "Cliente Corporativo SRL"
                  items:
                    - name: "Ajuste por diferencia de precio"
                      quantity: 1
                      unitPrice: "2000.00"
                      unitOfMeasure: 1
                      type: "2"
                      billingIndicator: "1"
                  totals:
                    taxableAmount: 2000.00
                    exemptAmount: 0
                    totalITBIS: 360.00
                    totalAmount: 2360.00
                  paymentForms:
                    - method: "1"
                      amount: 2360.00

              tipo34_nota_credito:
                summary: "Tipo 34 — Nota de Crédito"
                description: Reduce el valor de una factura previamente emitida. Requiere creditNoteIndicator y referenceInfo.
                value:
                  invoiceType: "34"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  incomeType: "01"
                  creditNoteIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  referenceInfo:
                    modifiedInvoiceNumber: "E310000000001"
                    modifiedInvoiceDate: "2025-05-20"
                    modificationCode: "3"
                  buyer:
                    taxId: "101234567"
                    name: "Cliente Corporativo SRL"
                  items:
                    - name: "Devolución parcial de servicio"
                      quantity: 1
                      unitPrice: "10000.00"
                      unitOfMeasure: 1
                      type: "2"
                      billingIndicator: "1"
                  totals:
                    taxableAmount: 10000.00
                    exemptAmount: 0
                    totalITBIS: 1800.00
                    totalAmount: 11800.00
                  paymentForms:
                    - method: "7"
                      amount: 11800.00

              tipo41_compras:
                summary: "Tipo 41 — Comprobante de Compras"
                description: Registro de compras a proveedores. Requiere retención de ITBIS e ISR según tipo de ítem.
                value:
                  invoiceType: "41"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "109876543"
                    name: "Proveedor de Servicios SRL"
                  items:
                    - name: "Servicio de consultoría"
                      quantity: 1
                      unitPrice: "30000.00"
                      unitOfMeasure: 1
                      type: "2"
                      billingIndicator: "1"
                      withholdingAgentIndicator: 1
                      withheldITBISAmount: 5400.00
                      withheldISRAmount: 3000.00
                  totals:
                    taxableAmount: 30000.00
                    exemptAmount: 0
                    totalITBIS: 5400.00
                    totalAmount: 35400.00
                    totalWithheldITBIS: 5400.00
                    totalIncomeTaxWithholding: 3000.00
                  paymentForms:
                    - method: "1"
                      amount: 35400.00

              tipo43_gastos_menores:
                summary: "Tipo 43 — Gastos Menores"
                description: Gastos pequeños sin comprobante fiscal. No requiere comprador, paymentType ni incomeType.
                value:
                  invoiceType: "43"
                  issueDate: "2025-06-04"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  items:
                    - name: "Combustible vehículo corporativo"
                      quantity: 1
                      unitPrice: "3500.00"
                      unitOfMeasure: 1
                      type: "1"
                      billingIndicator: "4"
                  totals:
                    taxableAmount: 0
                    exemptAmount: 3500.00
                    totalITBIS: 0
                    totalAmount: 3500.00
                  paymentForms:
                    - method: "1"
                      amount: 3500.00

              tipo44_regimenes_especiales:
                summary: "Tipo 44 — Regímenes Especiales"
                description: Para empresas en zonas francas u otros regímenes de exención.
                value:
                  invoiceType: "44"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  incomeType: "01"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "101234567"
                    name: "Empresa Zona Franca SRL"
                  items:
                    - name: "Materia prima importada"
                      quantity: 100
                      unitPrice: "250.00"
                      unitOfMeasure: 1
                      type: "1"
                      billingIndicator: "4"
                  totals:
                    taxableAmount: 0
                    exemptAmount: 25000.00
                    totalITBIS: 0
                    totalAmount: 25000.00
                  paymentForms:
                    - method: "1"
                      amount: 25000.00

              tipo45_gubernamental:
                summary: "Tipo 45 — Gubernamental"
                description: Para ventas a instituciones del Estado. Ejemplo con pago a crédito.
                value:
                  invoiceType: "45"
                  issueDate: "2025-06-04"
                  paymentType: "2"
                  incomeType: "01"
                  paymentTerms: "30 días"
                  paymentDeadline: "2025-07-04"
                  taxedAmountIndicator: "0"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    taxId: "401123456"
                    name: "Ministerio de Hacienda"
                  items:
                    - name: "Equipos de cómputo"
                      quantity: 10
                      unitPrice: "45000.00"
                      unitOfMeasure: 1
                      type: "1"
                      billingIndicator: "1"
                  totals:
                    taxableAmount: 450000.00
                    exemptAmount: 0
                    totalITBIS: 81000.00
                    totalAmount: 531000.00
                  paymentForms:
                    - method: "4"
                      amount: 531000.00

              tipo46_exportaciones:
                summary: "Tipo 46 — Exportaciones"
                description: Para ventas al exterior. ITBIS siempre 0% (tasa cero).
                value:
                  invoiceType: "46"
                  issueDate: "2025-06-04"
                  paymentType: "1"
                  incomeType: "01"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    foreignId: "US123456789"
                    name: "Foreign Client LLC"
                  items:
                    - name: "Software de gestión empresarial"
                      quantity: 1
                      unitPrice: "150000.00"
                      unitOfMeasure: 1
                      type: "2"
                      billingIndicator: "3"
                  totals:
                    taxableAmount: 150000.00
                    exemptAmount: 0
                    totalITBIS: 0
                    totalAmount: 150000.00
                  paymentForms:
                    - method: "1"
                      amount: 150000.00

              tipo47_pagos_exterior:
                summary: "Tipo 47 — Pagos al Exterior"
                description: Servicios contratados a proveedores extranjeros. Requiere buyer.foreignId y retención ISR obligatoria.
                value:
                  invoiceType: "47"
                  issueDate: "2025-06-04"
                  issuerRNC: "133190907"
                  issuerBusinessName: "Mi Empresa SRL"
                  issuerAddress: "Av. Winston Churchill 1099, Santo Domingo"
                  buyer:
                    foreignId: "US987654321"
                    name: "Tech Services Inc."
                  items:
                    - name: "Licencia de software anual"
                      quantity: 1
                      unitPrice: "80000.00"
                      unitOfMeasure: 1
                      type: "2"
                      billingIndicator: "4"
                      withholdingAgentIndicator: 1
                      withheldISRAmount: 8000.00
                  totals:
                    taxableAmount: 0
                    exemptAmount: 80000.00
                    totalITBIS: 0
                    totalAmount: 80000.00
                    totalIncomeTaxWithholding: 8000.00
                  paymentForms:
                    - method: "1"
                      amount: 80000.00
      responses:
        "201":
          description: Documento registrado y en cola de procesamiento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EcfSubmitResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "422":
          description: Error de validación o procesamiento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimitError"

  /{environment}/ecf/status/{id}:
    get:
      tags: [eCF Submission]
      summary: Consultar estado del documento por ID interno
      operationId: getEcfStatus
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: environment
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Environment"
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Estado del documento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EcfStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{environment}/ecf/responses/stats:
    get:
      tags: [eCF Submission]
      summary: Obtener estadísticas de envíos (últimos 30 días)
      operationId: getEcfStats
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: environment
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Environment"
      responses:
        "200":
          description: Estadísticas de envíos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EcfStatsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{environment}/ecf/responses/history:
    get:
      tags: [eCF Submission]
      summary: Historial de envíos (paginado)
      operationId: getEcfSubmissionHistory
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: environment
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Environment"
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Historial de documentos paginado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EcfHistoryItem"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/sent:
    get:
      tags: [Documents Sent]
      summary: Listar documentos enviados
      operationId: listSentDocuments
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: env
          in: query
          schema:
            $ref: "#/components/schemas/Environment"
        - name: ecf
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: string
            enum: [APPROVED, REJECTED, IN_PROCESS, CONTINGENCY, ERROR]
        - name: dateFrom
          in: query
          schema: { type: string, format: date }
        - name: dateTo
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
      responses:
        "200":
          description: Lista paginada de documentos enviados
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentDocumentListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/{id}:
    get:
      tags: [Documents Sent]
      summary: Obtener detalle del documento
      operationId: getSentDocumentById
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Detalle del documento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentDocumentDetail"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/download:
    get:
      tags: [Documents Sent]
      summary: Descargar XML del documento
      operationId: downloadSentDocumentXml
      security:
        - oauth2: [documents:read]
      parameters:
        - name: id
          in: query
          required: false
          description: ID interno del documento
          schema: { type: string, format: uuid }
        - name: fileUrl
          in: query
          required: false
          schema: { type: string, format: uri }
        - name: inline
          in: query
          required: false
          description: "true para ver en el navegador, false para descargar"
          schema: { type: string, enum: ["true", "false"] }
      responses:
        "200":
          description: Contenido del archivo XML
          content:
            application/xml:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/status-options:
    get:
      tags: [Documents Sent]
      summary: Opciones de filtro de estado disponibles
      operationId: getSentDocumentStatusOptions
      security:
        - oauth2: [documents:read]
      responses:
        "200":
          description: Lista de opciones de estado
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value: { type: string }
                    label: { type: string }
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/stats/summary:
    get:
      tags: [Documents Sent]
      summary: Estadísticas de documentos enviados
      operationId: getSentDocumentStats
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
      responses:
        "200":
          description: Estadísticas de documentos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/stats/by-environment:
    get:
      tags: [Documents Sent]
      summary: Estadísticas agrupadas por ambiente y estado
      operationId: getSentDocumentStatsByEnvironment
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
      responses:
        "200":
          description: Estadísticas por ambiente
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/logs/{id}:
    get:
      tags: [Documents Sent]
      summary: Logs de procesamiento del documento
      operationId: getSentDocumentLogs
      security:
        - oauth2: [documents:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Logs de procesamiento del documento
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    message: { type: string }
                    type: { type: string }
                    createdAt: { type: string, format: date-time }
        "404":
          description: Documento no encontrado
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/received:
    get:
      tags: [Documents Received]
      summary: Listar documentos recibidos
      operationId: listReceivedDocuments
      security:
        - oauth2: [documents:receive]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: ecf
          in: query
          schema: { type: string }
        - name: type
          in: query
          description: "Tipo de documento (31, 32, 33, etc.)"
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: integer
            enum: [1, 2, 3]
            description: "1=Válido, 2=Anulado, 3=Pendiente"
        - name: supplierRnc
          in: query
          description: RNC del emisor/proveedor
          schema: { type: string }
        - name: amountFrom
          in: query
          schema: { type: number }
        - name: amountTo
          in: query
          schema: { type: number }
        - name: processed
          in: query
          schema: { type: boolean }
        - name: dateFrom
          in: query
          schema: { type: string, format: date }
        - name: dateTo
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
      responses:
        "200":
          description: Lista paginada de documentos recibidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocumentListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/received/stats/summary:
    get:
      tags: [Documents Received]
      summary: Estadísticas de documentos recibidos
      operationId: getReceivedDocumentStatsSummary
      security:
        - oauth2: [documents:receive]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
      responses:
        "200":
          description: Estadísticas de documentos recibidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocumentStatsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/received/stats/by-supplier:
    get:
      tags: [Documents Received]
      summary: Top 10 proveedores por volumen de documentos recibidos
      operationId: getReceivedDocumentStatsBySupplier
      security:
        - oauth2: [documents:receive]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
      responses:
        "200":
          description: Top proveedores por volumen
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    supplierRnc: { type: string, example: "123456789" }
                    count: { type: integer, example: 25 }
                    totalAmount: { type: number, example: 125000.50 }
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/received/{id}:
    get:
      tags: [Documents Received]
      summary: Obtener documento recibido por ID
      operationId: getReceivedDocumentById
      security:
        - oauth2: [documents:receive]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Detalle del documento recibido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocument"
        "404":
          description: Documento no encontrado
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/approvals:
    get:
      tags: [Commercial Approvals]
      summary: Listar aprobaciones comerciales
      operationId: listCommercialApprovals
      security:
        - oauth2: [approvals:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: ecf
          in: query
          required: false
          schema: { type: string }
        - name: type
          in: query
          description: Tipo de documento
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            description: "1=Aprobado, 2=Rechazado, 3=Pendiente, 4=En revisión"
        - name: dateFrom
          in: query
          schema: { type: string, format: date }
        - name: dateTo
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
      responses:
        "200":
          description: Lista paginada de aprobaciones comerciales
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /documents/approvals/{id}:
    get:
      tags: [Commercial Approvals]
      summary: Obtener aprobación comercial por ID
      operationId: getCommercialApprovalById
      security:
        - oauth2: [approvals:read]
      parameters:
        - $ref: "#/components/parameters/TenantIdHeaderOptional"
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Detalle de la aprobación comercial
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalItem"
        "404":
          description: Aprobación no encontrada
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /associated-companies:
    get:
      tags: [Associated Companies]
      summary: Listar empresas asociadas / sucursales
      operationId: listAssociatedCompanies
      security:
        - oauth2: [business:read]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        "200":
          description: Lista de empresas asociadas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssociatedCompany"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
    post:
      tags: [Associated Companies]
      summary: Crear empresa asociada / sucursal
      operationId: createAssociatedCompany
      security:
        - oauth2: [business:create]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateAssociatedCompanyRequest"
      responses:
        "201":
          description: Empresa creada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  business:
                    $ref: "#/components/schemas/AssociatedCompany"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /associated-companies/{companyId}:
    put:
      tags: [Associated Companies]
      summary: Actualizar empresa asociada
      operationId: updateAssociatedCompany
      security:
        - oauth2: [business:update]
      parameters:
        - name: companyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdateAssociatedCompanyRequest"
      responses:
        "200":
          description: Empresa actualizada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  business:
                    $ref: "#/components/schemas/AssociatedCompany"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
    delete:
      tags: [Associated Companies]
      summary: Eliminar empresa asociada
      description: Elimina permanentemente una empresa asociada. Esta acción es irreversible.
      operationId: deleteAssociatedCompany
      security:
        - oauth2: [business:update]
      parameters:
        - name: companyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Empresa eliminada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /associated-companies/{companyId}/metrics:
    get:
      tags: [Associated Companies]
      summary: Métricas de la empresa
      operationId: getCompanyMetrics
      security:
        - oauth2: [business:read]
      parameters:
        - name: companyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Métricas de la empresa
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyMetrics"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /associated-companies/{companyId}/documents-metrics:
    get:
      tags: [Associated Companies]
      summary: Métricas de documentos de la empresa
      operationId: getCompanyDocumentMetrics
      security:
        - oauth2: [business:read]
      parameters:
        - name: companyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Métricas de documentos de la empresa
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyDocumentMetrics"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{rnc}/webhooks:
    get:
      tags: [Webhook Configuration]
      summary: Listar configuraciones de webhooks
      description: Retorna todos los webhooks del RNC. Los webhooks se crean solo desde el Portal.
      operationId: listWebhooks
      security:
        - oauth2: [business:read]
      parameters:
        - $ref: "#/components/parameters/RncPath"
      responses:
        "200":
          description: Lista de configuraciones de webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookConfigResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{rnc}/webhooks/{webhookId}:
    get:
      tags: [Webhook Configuration]
      summary: Detalle de un webhook
      operationId: getWebhook
      security:
        - oauth2: [business:read]
      parameters:
        - $ref: "#/components/parameters/RncPath"
        - name: webhookId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Detalle del webhook
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookConfigDetail"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /{rnc}/webhooks/{webhookId}/stats:
    get:
      tags: [Webhook Configuration]
      summary: Estadísticas de entregas del webhook
      operationId: getWebhookStats
      security:
        - oauth2: [business:read]
      parameters:
        - $ref: "#/components/parameters/RncPath"
        - name: webhookId
          in: path
          required: true
          schema: { type: string }
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, all]
            default: month
      responses:
        "200":
          description: Estadísticas de entregas del webhook
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookStats"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /dgii-ecf/automated-certification/niches:
    get:
      tags: [Automated Certification]
      summary: Listar nichos de certificación
      operationId: listCertificationNiches
      security:
        - oauth2: [certification:read]
      responses:
        "200":
          description: Lista de nichos disponibles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CertificationNiche"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /dgii-ecf/automated-certification/start:
    post:
      tags: [Automated Certification]
      summary: Iniciar proceso de certificación
      operationId: startCertification
      security:
        - oauth2: [certification:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartCertificationRequest"
      responses:
        "200":
          description: Proceso de certificación iniciado
          content:
            application/json:
              schema:
                type: object
                properties:
                  processId:
                    type: string
                    format: uuid
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /dgii-ecf/automated-certification/{id}/status:
    get:
      tags: [Automated Certification]
      summary: Estado del proceso de certificación
      operationId: getCertificationStatus
      security:
        - oauth2: [certification:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Estado del proceso de certificación
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificationStatus"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /dgii-ecf/automated-certification/{id}/download:
    get:
      tags: [Automated Certification]
      summary: Descargar ZIP de certificación
      description: Descarga un ZIP con PDFs y XMLs. Solo disponible cuando el estado es COMPLETED.
      operationId: downloadCertification
      security:
        - oauth2: [certification:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Archivo ZIP con documentos de certificación
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /dgii/sent/export:
    get:
      tags: [Reports]
      summary: Exportar reporte de documentos enviados
      description: Descarga los documentos enviados en un rango de fechas en formato Excel. Requiere el scope reports:read.
      operationId: exportSentDocuments
      security:
        - oauth2: [reports:read]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
          example: "2024-01-01"
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
          example: "2024-01-31"
        - name: env
          in: query
          schema:
            $ref: "#/components/schemas/Environment"
        - name: encf
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: string
            enum: [ACCEPTED, REJECTED, PENDING]
        - name: trackId
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Archivo Excel del reporte
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /dgii/606/export:
    get:
      tags: [Reports]
      summary: Exportar Formato 606 (Compras)
      description: Descarga el Formato 606 oficial para DGII en TXT (oficial) o Excel.
      operationId: export606
      security:
        - oauth2: [reports:read]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [txt, xlsx]
        - name: status
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { type: string }
        - name: encf
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Reporte Formato 606
          content:
            text/plain:
              schema:
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token from POST /oauth/token.
        Get credentials at https://ecf.sandbox.pronesoft.com (sandbox)
        or https://ecf.pronesoft.com (production).
        Tokens expire after 86400 seconds (24 hours).

    oauth2:
      type: oauth2
      description: |
        OAuth 2.0 Client Credentials.
        Credentials from https://ecf.sandbox.pronesoft.com or https://ecf.pronesoft.com
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            "business:read": Consultar datos de la empresa.
            "business:create": Crear una nueva empresa.
            "business:update": Actualizar datos de la empresa.
            "members:read": Ver miembros del equipo.
            "members:invite": Invitar nuevos miembros.
            "members:revoke": Revocar acceso de miembros.
            "certificates:read": Ver certificados digitales.
            "certificates:upload": Subir nuevos certificados.
            "certificates:update": Actualizar certificados existentes.
            "documents:read": Listar y consultar detalles de documentos.
            "documents:create": Crear borradores o documentos internos.
            "documents:send": Enviar e-CF a la DGII.
            "documents:receive": Recibir e-CF de terceros.
            "documents:update": Modificar metadatos de documentos.
            "approvals:read": Ver estados de aprobación.
            "approvals:commercial": Realizar aprobaciones o rechazos comerciales.
            "sequences:read": Ver rangos de NCF/e-NCF.
            "sequences:create": Solicitar o agregar nuevas secuencias.
            "sequences:update": Modificar configuraciones de secuencias.
            "sequences:cancel": Cancelar secuencias no utilizadas.
            "business_info:read": Acceder a estadísticas y métricas del dashboard.
            "certification:read": Ver progreso de certificación DGII.
            "certification:write": Ejecutar pruebas de certificación automática DGII.
            "reports:read": Generar y exportar reportes (ej. formato 606).

  parameters:
    TenantIdHeaderOptional:
      name: x-tenant-id
      in: header
      required: false
      description: |
        UUID de la empresa asociada (sucursal). Incluir SOLO cuando se actúa
        en nombre de una sucursal. Omitir cuando se actúa como empresa principal.
      schema:
        type: string
        format: uuid
        example: "468a4aa1-1b80-447e-9ecb-400e39f7d798"

    RncPath:
      name: rnc
      in: path
      required: true
      description: RNC de la empresa (9 u 11 dígitos). En Sandbox usar valores con prefijo SBX.
      schema:
        type: string
        example: "133190907"

  responses:
    UnauthorizedError:
      description: Token ausente, expirado o inválido. Llama a POST /oauth/token para renovarlo.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 401
            message: "Invalid client credentials"
            error: "Unauthorized"

    ValidationError:
      description: Error de validación (400). Revisa el campo message para más detalles.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ForbiddenError:
      description: The token does not have the required scope.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    RateLimitError:
      description: Rate limit exceeded. Retry after indicated seconds.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RateLimitErrorResponse"

  schemas:
    Environment:
      type: string
      enum: [TesteCF, CerteCF, eCF]
      description: "TesteCF=testing no DGII, CerteCF=official certification, eCF=production"

    InvoiceType:
      type: string
      enum: ["31", "32", "33", "34", "41", "43", "44", "45", "46", "47"]
      description: |
        31=Factura Credito Fiscal, 32=Factura Consumo, 33=Nota Debito,
        34=Nota Credito, 41=Compras, 43=Gastos Menores,
        44=Regimenes Especiales, 45=Gubernamental, 46=Exportaciones, 47=Pagos Exterior

    InvoiceTypeSequence:
      type: string
      enum: [E31, E32, E33, E34, E41, E43, E44, E45, E46, E47]
      description: Invoice type with E prefix — used for tax sequence endpoints.

    PaymentMethod:
      type: string
      enum: ["1", "2", "3", "4", "5", "6", "7", "8"]
      description: "1=Cash, 2=Check, 3=Card, 4=Credit, 5=Transfer, 6=Electronic, 7=Bond, 8=Other"

    BillingIndicator:
      type: string
      enum: ["0", "1", "2", "3", "4"]
      description: "0=Non-billable, 1=18% ITBIS, 2=16% ITBIS, 3=0% ITBIS, 4=Exempt"

    WebhookEventType:
      type: string
      enum:
        - document.received
        - document.status_changed
        - document.validation_error
        - document.contingency_activated
        - commercial.approval
        - certificate.expiring
        - security.new_login
        - security.api_key_rotated
        - plan.usage_alert
        - plan.payment_failed
        - billing.invoice_ready
        - sequence.depleted
        - sequence.voided
        - branch.created
        - branch.status_changed
        - member.invited
        - member.joined
        - member.removed
        - certification.completed

    PrintFormat:
      type: string
      enum: [A4, thermal_80, thermal_58]

    AccountType:
      type: string
      enum: [CT, AH, OT]
      description: "CT=Current account, AH=Savings, OT=Other"

    DocumentStatus:
      type: string
      enum: [IN_PROCESS, APPROVED, CONDITIONALLY_APPROVED, REJECTED, ERROR, ERROR_COMUNICATION]

    PublicDocumentStatus:
      type: string
      description: Lifecycle status visible to integrators.
      enum: [REGISTERED, TO_SEND, WAITING_RESPONSE, FINISHED]

    LegalStatus:
      type: string
      description: Fiscal result from DGII. Only meaningful when PublicDocumentStatus=FINISHED.
      enum: [ACCEPTED, ACCEPTED_WITH_OBSERVATIONS, REJECTED, ERROR]

    OAuthTokenRequest:
      type: object
      required: [clientId, clientSecret]
      description: Credentials for OAuth 2.0. Get from Pronesoft portal.
      properties:
        clientId:
          type: string
          example: "app_live_TU_CLIENT_ID"
        clientSecret:
          type: string
          example: "sk_live_TU_CLIENT_SECRET"

    OAuthTokenResponse:
      type: object
      description: Bearer token valid for 24 hours (86400 seconds).
      properties:
        accessToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        tokenType:
          type: string
          example: "Bearer"
        expiresIn:
          type: integer
          description: Token lifetime in seconds (24 hours = 86400).
          example: 86400
        scope:
          type: array
          items: { type: string }
          example: ["documents:read", "documents:write"]

    PaymentForm:
      type: object
      required: [method, amount]
      properties:
        method:
          $ref: "#/components/schemas/PaymentMethod"
        amount:
          type: number
          example: 11800.0

    ElectronicDocument:
      type: object
      required: [invoiceType, issueDate, items, totals, paymentForms]
      description: |
        Payload del comprobante fiscal electrónico (e-CF).

        **invoiceNumber**: opcional. Si tienes una secuencia registrada en la API, el sistema
        asigna el siguiente e-NCF automáticamente según el `invoiceType`. Usa
        `GET /tax-sequences/next?invoiceType=31` solo si necesitas conocer el número antes de enviar.

        **environment**: NO va en el body. Se especifica en el path del endpoint:
        `POST /{environment}/ecf/submit` (ej. `TesteCF` o `eCF`).
      properties:
        version:
          type: string
          default: "1.0"
          example: "1.0"
          description: Siempre "1.0".
        invoiceType:
          $ref: "#/components/schemas/InvoiceType"
        invoiceNumber:
          type: string
          description: |
            Número e-NCF (ej. E310000000001 — E + 2 dígitos tipo + 9 dígitos secuencia).
            **Opcional**: si se omite, el sistema lo asigna automáticamente desde la secuencia registrada para ese `invoiceType`.
          example: "E310000000001"
        groupId:
          type: string
          description: Optional Group ID for batch processing
        issueDate:
          type: string
          format: date-time
          example: "2025-01-15T10:30:00Z"
        expirationDate:
          type: string
          format: date-time
        creditNoteIndicator:
          type: string
          enum: ["0", "1"]
          description: "Credit Notes only: 0=affected invoice <=30 days, 1=>30 days"
        deferredSendingIndicator:
          type: string
          enum: ["1"]
        taxedAmountIndicator:
          type: string
          enum: ["0", "1"]
        incomeType:
          type: string
          enum: ["01", "02", "03", "04", "05", "06"]
          description: "01=Operations, 02=Financial, 03=Extraordinary, 04=Leasing, 05=Assets, 06=Other"
        paymentType:
          type: string
          enum: ["1", "2", "3"]
          description: "1=Cash, 2=Credit, 3=Mixed"
        paymentDeadline:
          type: string
          format: date-time
        paymentTerms:
          type: string
          maxLength: 15
        paymentForms:
          type: array
          description: Payment breakdown. Required.
          items:
            $ref: "#/components/schemas/PaymentForm"
          example:
            - method: "1"
              amount: 11800.0
        paymentAccountType:
          $ref: "#/components/schemas/AccountType"
        paymentAccountNumber:
          type: string
          maxLength: 28
        paymentBank:
          type: string
          maxLength: 75
        serviceStartDate:
          type: string
          format: date-time
        serviceEndDate:
          type: string
          format: date-time
        totalPages:
          type: integer
        issuerRNC:
          type: string
          description: RNC of the issuing company.
        issuerBusinessName:
          type: string
          maxLength: 150
        issuerCommercialName:
          type: string
          maxLength: 150
        branchName:
          type: string
          maxLength: 20
        issuerAddress:
          type: string
          maxLength: 100
        municipalityCode:
          type: string
          maxLength: 6
        provinceCode:
          type: string
          maxLength: 6
        issuerPhones:
          type: array
          items: { type: string }
          maxItems: 3
        issuerEmail:
          type: string
          format: email
          maxLength: 80
        issuerWebsite:
          type: string
          format: uri
          maxLength: 50
        issuerEconomicActivity:
          type: string
          maxLength: 100
        sellerCode:
          type: string
          maxLength: 60
        internalInvoiceNumber:
          type: string
        internalOrderNumber:
          type: integer
        salesZone:
          type: string
          maxLength: 20
        salesRoute:
          type: string
          maxLength: 20
        additionalIssuerInfo:
          type: string
          maxLength: 250
        buyer:
          $ref: "#/components/schemas/Buyer"
        items:
          type: array
          items:
            $ref: "#/components/schemas/Item"
          minItems: 1
          maxItems: 1000
        totals:
          $ref: "#/components/schemas/Totals"
        transport:
          $ref: "#/components/schemas/Transport"
        additionalInfo:
          $ref: "#/components/schemas/AdditionalInfo"
        alternativeCurrency:
          $ref: "#/components/schemas/AlternativeCurrency"
        referenceInfo:
          $ref: "#/components/schemas/ReferenceInfo"
        subtotals:
          $ref: "#/components/schemas/Subtotal"
        discountsOrSurcharges:
          type: array
          items:
            $ref: "#/components/schemas/DiscountOrSurcharge"
        pages:
          $ref: "#/components/schemas/Page"

    Buyer:
      type: object
      required: [name]
      properties:
        taxId:
          type: string
          description: RNC (9 digits) or cedula (11 digits). Required for type 31.
          example: "131415678"
        foreignId:
          type: string
        name:
          type: string
          maxLength: 150
          example: "Cliente Empresa SRL"
        contact:
          type: string
        email:
          type: string
          format: email
        address:
          type: string
          maxLength: 100
        municipalityCode:
          type: string
        provinceCode:
          type: string
        deliveryDate:
          type: string
          format: date-time
        deliveryContact:
          type: string
        deliveryAddress:
          type: string
        additionalPhone:
          type: string
        purchaseOrderDate:
          type: string
          format: date-time
        purchaseOrderNumber:
          type: string
        internalCode:
          type: string
        paymentResponsible:
          type: string
        additionalInfo:
          type: string

    Item:
      type: object
      required: [billingIndicator, name, type, quantity, unitPrice]
      properties:
        lineNumber:
          type: integer
          example: 1
        codes:
          type: array
          items:
            type: object
            properties:
              codeType: { type: string }
              code: { type: string }
        name:
          type: string
          maxLength: 80
          example: "Servicio profesional"
        description:
          type: string
          maxLength: 1000
        type:
          type: string
          enum: ["1", "2"]
          description: "1=Good, 2=Service"
        billingIndicator:
          $ref: "#/components/schemas/BillingIndicator"
        withholdingAgentIndicator:
          type: integer
        withheldITBISAmount:
          oneOf: [{ type: number }, { type: string }]
        withheldISRAmount:
          oneOf: [{ type: number }, { type: string }]
        quantity:
          oneOf: [{ type: number }, { type: string }]
          example: "1"
        unitOfMeasure:
          type: integer
        referenceQuantity:
          oneOf: [{ type: number }, { type: string }]
        referenceUnit:
          type: integer
        referenceUnitPrice:
          oneOf: [{ type: number }, { type: string }]
        subquantities:
          type: array
          items:
            $ref: "#/components/schemas/Subquantity"
        alcoholDegree:
          type: number
        manufacturingDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        miningInfo:
          type: object
          properties:
            netWeightKg: { type: number }
            netWeightMining: { type: number }
            affiliationType: { type: string, enum: ["1", "2"] }
            settlement: { type: string, enum: ["1", "2"] }
        unitPrice:
          oneOf: [{ type: number }, { type: string }]
          example: "10000.00"
        discountAmount:
          oneOf: [{ type: number }, { type: string }]
        discount:
          type: array
          items:
            type: object
            properties:
              type: { type: string, enum: ["$", "%"] }
              value: { type: number }
              amount: { oneOf: [{ type: number }, { type: string }] }
        surchargeAmount:
          oneOf: [{ type: number }, { type: string }]
        surcharge:
          type: array
          items:
            type: object
            properties:
              type: { type: string, enum: ["$", "%"] }
              value: { type: number }
              amount: { type: number }
        additionalTaxes:
          type: array
          items:
            $ref: "#/components/schemas/ItemAdditionalTax"
        alternativeCurrency:
          type: object
          properties:
            unitPrice: { type: number }
            discount: { type: number }
            surcharge: { type: number }
            amount: { type: number }
        amount:
          oneOf: [{ type: number }, { type: string }]
          example: 10000.0

    Totals:
      type: object
      properties:
        taxableAmount: { oneOf: [{ type: number }, { type: string }] }
        taxableAmount1: { oneOf: [{ type: number }, { type: string }] }
        taxableAmount2: { oneOf: [{ type: number }, { type: string }] }
        taxableAmount3: { oneOf: [{ type: number }, { type: string }] }
        exemptAmount: { oneOf: [{ type: number }, { type: string }] }
        itbisRate1: { oneOf: [{ type: number }, { type: string }], example: 0.18 }
        itbisRate2: { oneOf: [{ type: number }, { type: string }], example: 0.16 }
        itbisRate3: { oneOf: [{ type: number }, { type: string }], example: 0.00 }
        totalITBIS: { oneOf: [{ type: number }, { type: string }] }
        itbis1: { oneOf: [{ type: number }, { type: string }] }
        itbis2: { oneOf: [{ type: number }, { type: string }] }
        itbis3: { oneOf: [{ type: number }, { type: string }] }
        additionalTaxAmount: { oneOf: [{ type: number }, { type: string }] }
        additionalTaxes:
          type: array
          items: { $ref: "#/components/schemas/AdditionalTax" }
          maxItems: 20
        totalAmount:
          oneOf: [{ type: number }, { type: string }]
          example: 11800.0
        nonBillableAmount: { oneOf: [{ type: number }, { type: string }] }
        periodAmount: { oneOf: [{ type: number }, { type: string }] }
        previousBalance: { oneOf: [{ type: number }, { type: string }] }
        advancePaymentAmount: { oneOf: [{ type: number }, { type: string }] }
        amountToPay: { oneOf: [{ type: number }, { type: string }] }
        totalWithheldITBIS: { oneOf: [{ type: number }, { type: string }] }
        totalIncomeTaxWithholding: { oneOf: [{ type: number }, { type: string }] }
        totalITBISPerception: { oneOf: [{ type: number }, { type: string }] }
        totalISRPerception: { oneOf: [{ type: number }, { type: string }] }

    EcfSubmitResponse:
      description: |
        Respuesta del endpoint POST submit. El documento fue registrado y firmado localmente.
        `status` siempre es `REGISTERED`. `legalStatus` y `trackId` siempre son `null` en este momento
        — se populan una vez que la DGII procesa el documento. Usa `GET /ecf/status/{id}` o
        escucha el webhook `document.status_changed` para obtener el resultado fiscal final.
      type: object
      required: [id, status, companyIdentification, sequenceConsumed]
      example:
        id: "550e8400-e29b-41d4-a716-446655440000"
        stampDate: "2025-06-04"
        status: "REGISTERED"
        legalStatus: null
        companyIdentification: "133190907"
        trackId: null
        documentNumber: null
        encf: "E310000000001"
        contingencyMode: false
        documentStampUrl: null
        pdf: "https://storage.ecf.pronesoft.com/133190907/E310000000001.pdf?token=..."
        xmlUrl: "https://storage.ecf.pronesoft.com/133190907/E310000000001.xml?token=..."
        signatureDate: "2025-06-04T14:30:00.000Z"
        securityCode: "ABC123XYZ"
        sequenceConsumed: false
      properties:
        id:
          type: string
          format: uuid
          description: ID interno del documento. Úsalo para `GET /ecf/status/{id}`.
        stampDate:
          type: string
          format: date
          nullable: true
          description: Fecha de emisión del documento (YYYY-MM-DD).
        status:
          type: string
          enum: [REGISTERED]
          description: Siempre `REGISTERED` al enviar. El estado fiscal llega vía webhook o polling.
        legalStatus:
          type: string
          nullable: true
          enum: [ACCEPTED, ACCEPTED_WITH_OBSERVATIONS, REJECTED, ERROR, null]
          description: Siempre `null` al enviar. Se actualiza tras la respuesta de DGII.
        companyIdentification:
          description: RNC de la empresa emisora.
          oneOf:
            - type: string
            - type: integer
        trackId:
          type: string
          nullable: true
          description: Siempre `null` al enviar. Lo asigna DGII al procesar el documento.
        documentNumber:
          type: string
          nullable: true
          description: Número de control electrónico (e-NCF). Igual a `encf`.
        encf:
          type: string
          nullable: true
          description: Número e-NCF asignado al documento (ej. E310000000001).
        contingencyMode:
          type: boolean
          description: "`true` si el documento fue emitido en modo contingencia (DGII no disponible)."
        contingencyMessage:
          type: string
          nullable: true
          description: Mensaje oficial DGII cuando `contingencyMode` es `true`.
        documentStampUrl:
          type: string
          format: uri
          nullable: true
          description: URL del código QR del documento.
        pdf:
          type: string
          format: uri
          nullable: true
          description: URL pre-firmada del PDF (expira en 1 hora).
        xmlUrl:
          type: string
          format: uri
          nullable: true
          description: URL pre-firmada del XML firmado (expira en 1 hora).
        signatureDate:
          type: string
          format: date-time
          nullable: true
          description: Fecha y hora de la firma digital.
        securityCode:
          type: string
          nullable: true
          description: Código de seguridad del documento.
        sequenceConsumed:
          type: boolean
          enum: [false]
          description: Siempre `false` en el submit. Se confirma como `true` solo tras respuesta de DGII.

    EcfStatusResponse:
      description: Respuesta del endpoint GET /ecf/status/{id}. Incluye el estado fiscal completo de DGII.
      type: object
      required: [id, status, companyIdentification, sequenceConsumed]
      properties:
        id: { type: string, format: uuid, description: ID interno del documento. }
        stampDate: { type: string, format: date, nullable: true, description: Fecha de emisión del documento (YYYY-MM-DD). }
        status:
          type: string
          enum: [REGISTERED, TO_SEND, WAITING_RESPONSE, TO_NOTIFY, FINISHED]
          description: Estado del proceso de envío a DGII.
        legalStatus:
          type: string
          nullable: true
          enum: [ACCEPTED, ACCEPTED_WITH_OBSERVATIONS, REJECTED, ERROR]
          description: Estado fiscal según la respuesta de DGII. null mientras no hay respuesta.
        companyIdentification:
          description: RNC de la empresa emisora.
          oneOf:
            - type: string
            - type: integer
        trackId: { type: string, nullable: true, description: ID de seguimiento asignado por DGII. }
        documentNumber: { type: string, nullable: true, description: Número de control electrónico (e-NCF). }
        encf: { type: string, nullable: true, description: Número e-NCF del documento. }
        contingencyMode: { type: boolean, description: true si fue emitido en modo contingencia. }
        contingencyMessage: { type: string, description: Mensaje oficial DGII cuando contingencyMode es true. }
        documentStampUrl: { type: string, format: uri, nullable: true, description: URL del código QR del documento. }
        pdf: { type: string, format: uri, nullable: true, description: URL pre-firmada del PDF (expira en 1 hora). }
        xmlUrl: { type: string, format: uri, nullable: true, description: URL pre-firmada del XML firmado (expira en 1 hora). }
        signatureDate: { type: string, format: date-time, nullable: true, description: Fecha y hora de la firma digital. }
        securityCode: { type: string, nullable: true, description: Código de seguridad del documento. }
        sequenceConsumed: { type: boolean, description: true si DGII confirmó el consumo de la secuencia. }
        governmentResponse:
          type: object
          additionalProperties: true
          description: Respuesta completa de DGII (disponible cuando status es FINISHED).

    EcfStatsResponse:
      type: object
      properties:
        total: { type: integer }
        accepted: { type: integer }
        rejected: { type: integer }
        processing: { type: integer }
        error: { type: integer }
        successRate: { type: string, example: "91.67" }
        period: { type: string }
        dateFrom: { type: string, format: date-time }
        dateTo: { type: string, format: date-time }

    EcfHistoryItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        trackId: { type: string, nullable: true }
        encf: { type: string, nullable: true }
        documentType: { type: string, example: "31" }
        status:
          type: string
          enum: [REGISTERED, TO_SEND, WAITING_RESPONSE, FINISHED]
        legalStatus:
          type: string
          nullable: true
          enum: [ACCEPTED, ACCEPTED_WITH_OBSERVATIONS, REJECTED, ERROR, null]
        issuerRnc: { type: string, example: "133190907" }
        environment: { $ref: "#/components/schemas/Environment" }
        receivedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    ProcessingLog:
      type: object
      properties:
        timestamp: { type: string, format: date-time }
        level:
          type: string
          enum: [INFO, SUCCESS, WARNING, ERROR]
        message: { type: string }

    TaxSequence:
      type: object
      properties:
        id: { type: string, example: "seq_sbx_1234567890" }
        type: { $ref: "#/components/schemas/InvoiceTypeSequence" }
        startNumber: { type: string, example: "E32000000001" }
        endNumber: { type: string, example: "E32000010000" }
        currentNumber: { type: string, example: "E32000005250" }
        status:
          type: string
          enum: [ACTIVE, EXHAUSTED, EXPIRED, VOIDED]
        totalNumbers: { type: integer }
        usedNumbers: { type: integer }
        availableNumbers: { type: integer }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }

    TaxSequenceCreated:
      type: object
      properties:
        id: { type: string }
        type: { $ref: "#/components/schemas/InvoiceTypeSequence" }
        from: { type: integer }
        to: { type: integer }
        environment: { $ref: "#/components/schemas/Environment" }
        createdAt: { type: string, format: date-time }

    CreateTaxSequenceRequest:
      type: object
      required: [type, from, to]
      properties:
        type: { $ref: "#/components/schemas/InvoiceTypeSequence" }
        from: { type: integer, example: 1 }
        to: { type: integer, example: 10000 }
        quantity: { type: integer, example: 10000 }
        expiration: { type: string, format: date, example: "2025-12-31" }
        environment: { $ref: "#/components/schemas/Environment" }

    UpdateTaxSequenceRequest:
      type: object
      properties:
        type: { $ref: "#/components/schemas/InvoiceTypeSequence" }
        from: { type: integer }
        to: { type: integer }
        quantity: { type: integer }
        expiration: { type: string, format: date }
        environment: { $ref: "#/components/schemas/Environment" }

    VoidTaxSequenceRequest:
      type: object
      required: [sequenceId, startNumber, endNumber, reason]
      properties:
        sequenceId: { type: string }
        startNumber: { type: string, example: "E32000005251" }
        endNumber: { type: string, example: "E32000005300" }
        reason: { type: string }

    SentDocumentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SentDocumentSummary"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    SentDocumentSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        encf: { type: string, nullable: true }
        status:
          type: string
          enum: [APPROVED, REJECTED, IN_PROCESS, CONDITIONALLY_APPROVED, ERROR, ERROR_COMUNICATION]
        statusLabel: { type: string, example: "Aceptado" }
        trackId: { type: string, nullable: true }
        documentType: { type: string, example: "31" }
        issuerRnc: { type: string, example: "133190907" }
        environment: { $ref: "#/components/schemas/Environment" }
        receivedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        business:
          type: object
          properties:
            name: { type: string }
            rnc: { type: string }

    SentDocumentDetail:
      allOf:
        - $ref: "#/components/schemas/SentDocumentSummary"
        - type: object
          properties:
            legalStatus:
              type: string
              nullable: true
              enum: [ACCEPTED, ACCEPTED_WITH_OBSERVATIONS, REJECTED, ERROR, null]
            documentStampUrl: { type: string, format: uri, nullable: true }
            securityCode: { type: string, nullable: true }
            contingencyMode: { type: boolean }
            governmentResponse:
              type: object
              additionalProperties: true
              nullable: true

    DocumentStatsResponse:
      type: object
      properties:
        total: { type: integer }
        recentActivity: { type: integer }
        byStatus:
          type: object
          additionalProperties:
            type: object
            properties:
              count: { type: integer }
              label: { type: string }
        byEnvironment:
          type: object
          additionalProperties:
            type: integer

    ReceivedDocumentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ReceivedDocument"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    ReceivedDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        encf: { type: string }
        senderRnc: { type: string, example: "123456789" }
        receiverRnc: { type: string, example: "987654321" }
        totalAmount: { type: number, example: 15000.50 }
        status: { type: integer, enum: [1, 2, 3], description: "1=Valid, 2=Voided, 3=Pending" }
        statusLabel: { type: string, example: "Valido" }
        issueDate: { type: string, format: date-time }
        receivedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        commercialApprovalStatus: { type: string, nullable: true }
        commercialApprovalRejectionReason: { type: string, nullable: true }
        business:
          type: object
          properties:
            name: { type: string }
            rnc: { type: string }

    ReceivedDocumentStatsResponse:
      type: object
      properties:
        total: { type: integer }
        totalAmount: { type: number }
        byStatus:
          type: object
          additionalProperties:
            type: integer

    ApprovalListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalItem"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    ApprovalItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        encf: { type: string, example: "E31000000003" }
        type: { type: string, example: "31" }
        issuerRnc: { type: string, example: "123456789" }
        buyerRnc: { type: string, example: "987654321" }
        totalAmount: { type: number, example: 15000.00 }
        approvalStatus: { type: string, example: "APPROVED" }
        status: { type: integer, enum: [1, 2, 3, 4], description: "1=Approved, 2=Rejected, 3=Pending, 4=Under Review" }
        statusLabel: { type: string, example: "Aprobado" }
        issueDate: { type: string, format: date-time }
        receivedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        rejectionDescription: { type: string, nullable: true }
        business:
          type: object
          properties:
            name: { type: string }
            rnc: { type: string }

    AssociatedCompany:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        rnc: { type: string }
        logoPath: { type: string, nullable: true }
        type:
          type: string
          enum: [MAIN, ASSOCIATED]
        city: { type: string }
        country: { type: string }
        phone: { type: string }
        address: { type: string }
        website: { type: string, format: uri, nullable: true }
        category: { type: string, nullable: true }
        monthlySalesRange: { type: string, nullable: true }
        printerType: { $ref: "#/components/schemas/PrintFormat" }
        createdAt: { type: string, format: date-time }
        docsIssuedThisMonth: { type: integer }
        purchasedDocsConsumedThisMonth: { type: integer }
        ownerEmail: { type: string, format: email }
        subscription:
          type: object
          nullable: true
          properties:
            status: { type: string }
            expirationDate: { type: string, format: date-time, nullable: true }
            plan:
              type: object
              properties:
                name: { type: string }
                maxDocsPerMonth: { type: integer }

    CreateAssociatedCompanyRequest:
      type: object
      required: [email, password, name, rnc, phone, address, city, country, printerType]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        firstName: { type: string }
        lastName: { type: string }
        jobTitle: { type: string }
        name: { type: string }
        rnc: { type: string, example: "SBX133190907" }
        phone: { type: string }
        address: { type: string }
        city: { type: string }
        country: { type: string }
        website: { type: string, format: uri }
        category: { type: string }
        monthlySalesRange: { type: string }
        printerType: { $ref: "#/components/schemas/PrintFormat" }
        logo: { type: string, format: binary }

    UpdateAssociatedCompanyRequest:
      type: object
      properties:
        name: { type: string }
        phone: { type: string }
        website: { type: string, format: uri }
        city: { type: string }
        country: { type: string }
        logo: { type: string, format: binary }

    CompanyMetrics:
      type: object
      properties:
        businessId: { type: string, format: uuid }
        businessName: { type: string }
        rnc: { type: string }
        totalDocumentsIssued: { type: integer }
        documentsThisMonth: { type: integer }
        documentsStatus:
          type: object
          properties:
            APPROVED: { type: integer }
            REJECTED: { type: integer }
            PENDING: { type: integer }
        consumptionPercentage: { type: number }
        subscriptionStatus: { type: string }
        expirationDate: { type: string, format: date-time }

    CompanyDocumentMetrics:
      type: object
      properties:
        mainBusiness:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            rnc: { type: string }
        associatedBusiness:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            rnc: { type: string }
        totals:
          type: object
          properties:
            total: { type: integer }
            last30Days: { type: integer }
        groupByStatus:
          type: array
          items:
            type: object
            properties:
              status: { type: string }
              _count:
                type: object
                properties:
                  status: { type: integer }

    WebhookConfigResponse:
      type: object
      properties:
        id: { type: string, example: "webhook_sbx_1234567890abcdef" }
        url: { type: string, format: uri }
        description: { type: string }
        eventTypes:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEventType"
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        lastTriggeredAt: { type: string, format: date-time, nullable: true }

    WebhookConfigDetail:
      allOf:
        - $ref: "#/components/schemas/WebhookConfigResponse"
        - type: object
          properties:
            deliveries: { type: integer }

    WebhookStats:
      type: object
      properties:
        webhookId: { type: string }
        period: { type: string }
        stats:
          type: object
          properties:
            totalAttempts: { type: integer }
            successful: { type: integer }
            failed: { type: integer }
            successRate: { type: string }
            averageResponseTime: { type: integer }
            lastAttempt: { type: string, format: date-time }

    DocumentStatusChangedPayload:
      type: object
      description: |
        Payload inside `data` when event is `document.status_changed`.
        Use `documentId` to poll GET /{environment}/ecf/status/{id} if needed.
        `issuerRnc` identifies the company that issued the document
        (useful in multi-company setups where an associated company sent it).
      required: [documentId, encf, issuerRnc, status]
      properties:
        documentId:
          type: string
          format: uuid
          description: Internal document ID for polling.
          example: "550e8400-e29b-41d4-a716-446655440000"
        encf:
          type: string
          description: e-NCF fiscal number.
          example: "E31000000001"
        issuerRnc:
          type: string
          description: RNC of the issuing company (associated or main).
          example: "133190907"
        status:
          type: string
          description: Public lifecycle status.
          enum: [REGISTERED, TO_SEND, WAITING_RESPONSE, FINISHED]
        legalStatus:
          type: string
          nullable: true
          description: Fiscal result from DGII. Only present when status=FINISHED.
          enum: [ACCEPTED, ACCEPTED_WITH_OBSERVATIONS, REJECTED, ERROR, null]
        documentType:
          type: string
          nullable: true
          description: Tipo de documento code (31=Invoice, 32=Credit Note, etc.)
          example: "31"
        trackId:
          type: string
          nullable: true
          description: DGII tracking ID.
        dgiiMessage:
          type: string
          nullable: true
          description: Human-readable DGII response message.

    DocumentReceivedPayload:
      type: object
      description: Payload del evento `document.received`. Se dispara cuando tu empresa recibe un e-CF de un proveedor.
      required: [encf, senderRnc, receiverRnc, totalAmount, issueDate, receivedAt, status]
      properties:
        encf:
          type: string
          description: Número de comprobante fiscal electrónico.
          example: "E310000000001"
        senderRnc:
          type: string
          description: RNC del emisor del documento.
          example: "123456789"
        receiverRnc:
          type: string
          description: RNC del receptor del documento.
          example: "133190907"
        totalAmount:
          type: number
          description: Monto total del documento.
          example: 1500.50
        issueDate:
          type: string
          format: date-time
          description: Fecha de emisión del documento.
          example: "2025-06-04T10:30:00.000Z"
        receivedAt:
          type: string
          format: date-time
          description: Fecha de recepción del documento.
          example: "2025-06-04T14:30:00.000Z"
        status:
          type: string
          enum: [received, rejected]
          description: Estado del documento recibido.
          example: "received"
        rejectionReason:
          type: string
          nullable: true
          description: Razón del rechazo (solo si status es 'rejected').
          example: "Error de Firma Digital"

    CommercialApprovalPayload:
      type: object
      description: Payload del evento `commercial.approval`. Se dispara cuando una aprobación comercial es actualizada.
      required: [encf, senderRnc, receiverRnc, totalAmount, issueDate, approvalStatus, approvalDate]
      properties:
        encf:
          type: string
          example: "E310000000001"
        senderRnc:
          type: string
          example: "123456789"
        receiverRnc:
          type: string
          example: "133190907"
        totalAmount:
          type: number
          example: 1500.50
        issueDate:
          type: string
          format: date-time
          example: "2025-06-04T10:30:00.000Z"
        approvalStatus:
          type: string
          enum: [approved, rejected]
          example: "approved"
        approvalDate:
          type: string
          format: date-time
          example: "2025-06-04T14:35:00.000Z"
        rejectionCode:
          type: string
          nullable: true
          description: Código de rechazo (solo si approvalStatus es 'rejected').
        rejectionDescription:
          type: string
          nullable: true
          description: Descripción del rechazo (solo si approvalStatus es 'rejected').

    DocumentValidationErrorPayload:
      type: object
      description: Payload del evento `document.validation_error`. El documento fue rechazado por validación local antes de enviarse a la DGII.
      required: [encf, errorCode, message]
      properties:
        encf:
          type: string
          example: "E31000000001"
        errorCode:
          type: string
          description: Código de error de validación.
          example: "SCHEMA_VALIDATION_FAILED"
        message:
          type: string
          description: Descripción del error.
          example: "El campo FechaVencimientoSecuencia es requerido"

    ContingencyActivatedPayload:
      type: object
      description: Payload del evento `document.contingency_activated`. Un documento fue emitido en modo contingencia porque la DGII no estaba disponible.
      required: [encf, reason]
      properties:
        encf:
          type: string
          example: "E31000000001"
        reason:
          type: string
          description: Motivo de la activación de contingencia.
          example: "DGII no disponible"
        retryAt:
          type: string
          format: date-time
          nullable: true
          description: Fecha estimada de reintento de envío.
          example: "2025-01-15T13:00:00Z"

    CertificateExpiringPayload:
      type: object
      description: Payload del evento `certificate.expiring`. Tu certificado P12 vence en menos de 30 días.
      required: [expirationDate, daysLeft]
      properties:
        expirationDate:
          type: string
          format: date-time
          example: "2025-02-10T00:00:00Z"
        daysLeft:
          type: integer
          description: Días restantes hasta el vencimiento.
          example: 15

    SecurityNewLoginPayload:
      type: object
      description: Payload del evento `security.new_login`. Se detectó un inicio de sesión desde una IP o dispositivo nuevo.
      required: [ip, userAgent]
      properties:
        ip:
          type: string
          example: "192.168.1.100"
        userAgent:
          type: string
          example: "Chrome/120"
        city:
          type: string
          nullable: true
          description: Ciudad detectada por geolocalización.
          example: "Santo Domingo"

    SecurityApiKeyRotatedPayload:
      type: object
      description: Payload del evento `security.api_key_rotated`. Una App rotó su clientSecret.
      required: [appId, rotatedAt]
      properties:
        appId:
          type: string
[...]
