openapi: 3.0.0
info:
  contact:
    email: contacto@pronesoft.com
    name: Pronesoft SRL Support
    url: https://pronesoft.com
  description: |
    ## Overview
    Production-grade API for issuing Electronic Tax Receipts (e-CF) in the
    Dominican Republic through the Pronesoft platform, which handles all
    communication with the DGII on your behalf.

    ## Authentication — OAuth 2.0 Client Credentials
    This API uses the **OAuth 2.0 Client Credentials** flow. There is no
    user login — authentication is machine-to-machine using a
    `clientId` and `clientSecret` issued by the Pronesoft portal.

    ### Step-by-step
    1. **Get credentials**:
       - Sandbox: https://ecf.sandbox.pronesoft.com
       - Production: https://ecf.pronesoft.com
    2. **Request a token** — call `POST /oauth/token` with your credentials.
       The server returns an `accessToken` valid for `expiresIn` seconds.
    3. **Authorize requests** — include the token in every subsequent request:
       ```
       Authorization: Bearer <accessToken>
       ```
    4. **Identify your tenant** — include your company/branch UUID in every
       protected request:
       ```
       x-tenant-id: <your-tenant-uuid>
       ```
    5. **Refresh** — when the token expires, simply call `POST /oauth/token` again.

    ### Scopes
    | Category | Scope | Description |
    |---|---|---|
    | **Business** | `business:read` | Read company data |
    | | `business:create` | Create a new company |
    | | `business:update` | Update company data |
    | **Members** | `members:read` | View team members |
    | | `members:invite` | Invite new members |
    | | `members:revoke` | Revoke member access |
    | **Certificates** | `certificates:read` | View digital certificates |
    | | `certificates:upload` | Upload new certificates |
    | | `certificates:update` | Update existing certificates |
    | **Documents** | `documents:read` | List and view documents |
    | | `documents:create` | Create drafts or internal documents |
    | | `documents:send` | Submit e-CF to DGII |
    | | `documents:receive` | Receive e-CF from third parties |
    | | `documents:update` | Modify document metadata |
    | **Approvals** | `approvals:read` | View approval statuses |
    | | `approvals:commercial` | Perform commercial approvals/rejections |
    | **Sequences** | `sequences:read` | View NCF/e-NCF ranges |
    | | `sequences:create` | Request new sequences |
    | | `sequences:update` | Modify sequence configurations |
    | | `sequences:cancel` | Cancel unused sequences |
    | **Dashboard** | `business_info:read` | Access dashboard stats and metrics |
    | **Certification** | `certification:read` | View certification progress |
    | | `certification:write` | Run automated DGII certification tests |
    | **Reports** | `reports:read` | Generate and export reports (e.g. 606) |

    ## Environments
    | Environment | Portal | API Host | Purpose |
    |---|---|---|---|
    | Sandbox | https://ecf.sandbox.pronesoft.com | `api.ecf.sandbox.pronesoft.com` | Development & testing |
    | Production | https://ecf.pronesoft.com | `api.ecf.pronesoft.com` | Live e-CF issuance |

    ## Invoice Types (e-NCF)
    | Code | Name |
    |---|---|
    | `31` | Tax Credit Invoice (Factura de Crédito Fiscal) |
    | `32` | Consumer Invoice (Factura de Consumo) |
    | `33` | Debit Note (Nota de Débito) |
    | `34` | Credit Note (Nota de Crédito) |
    | `41` | Purchases (Compras) |
    | `43` | Minor Expenses (Gastos Menores) |
    | `44` | Special Regimes (Regímenes Especiales) |
    | `45` | Governmental (Gubernamentales) |
    | `46` | Exports (Exportaciones) |
    | `47` | Overseas Payments (Pagos al Exterior) |
  license:
    name: Proprietary
    url: https://pronesoft.com/terms
  title: eCF-Pronesoft Integration API
  version: 0.0.1
externalDocs:
  description: Pronesoft eCF SDKs Repository
  url: https://github.com/ProneSoftSRL/pronesoft-ecf-sdks
servers:
- description: Sandbox — for development and testing
  url: https://api.ecf.sandbox.pronesoft.com/api/v1
- description: Production — live e-CF issuance
  url: https://api.ecf.pronesoft.com/api/v1
security:
- bearerAuth: []
tags:
- description: |
    OAuth 2.0 token endpoint. Call this first to get your `accessToken`.
    No `Authorization` header is needed for this endpoint.
  name: Authentication
- description: Upload and manage DGII digital signing certificates (P12 format).
  name: Digital Certificates
- description: |
    Manage e-NCF fiscal number sequences. You must have a valid sequence
    before submitting documents. Use `GET /tax-sequences/next` to get the
    next available number for a given invoice type.
  name: Tax Sequences
- description: |
    Core endpoint for submitting electronic tax documents to the DGII
    via the Pronesoft platform.
  name: eCF Submission
- description: Manage branches and associated companies under your main account.
  name: Associated Companies
- description: |
    Register URLs to receive real-time event notifications (e.g. when the
    DGII finishes processing a document, or when a sequence is depleted).
  name: Webhook Configuration
paths:
  /oauth/token:
    post:
      description: |
        Authenticates using OAuth 2.0 **Client Credentials** flow.
        Returns a Bearer token to use in subsequent requests.

        **This endpoint does NOT require an Authorization header.**

        ```
        POST /oauth/token
        Content-Type: application/json

        {
          "clientId": "your-client-id",
          "clientSecret": "your-client-secret"
        }
        ```

        Use the returned `accessToken` as:
        ```
        Authorization: Bearer <accessToken>
        ```
      operationId: getAccessToken
      requestBody:
        content:
          application/json:
            example:
              clientId: my-client-id
              clientSecret: my-super-secret
            schema:
              $ref: "#/components/schemas/OAuthTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accessToken: eyJhbGciOiJSUzI1NiJ9...
                tokenType: Bearer
                expiresIn: 3600
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
          description: Token generated successfully
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security: []
      summary: Get access token
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /{rnc}/certificates:
    post:
      description: |
        Uploads the DGII-issued digital signing certificate for a company
        identified by its RNC. The certificate must be in P12/PFX format.

        This is required before submitting any e-CF documents.
      operationId: uploadCertificate
      parameters:
      - description: |
          RNC (Registro Nacional del Contribuyente) of the company.
          Must be 9 digits (persona jurídica) or 11 digits (persona física).
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "130000001"
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadCertificate_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCertificateResponse"
          description: Certificate uploaded and registered successfully
        "400":
          content:
            application/json:
              example:
                statusCode: 400
                message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Validation error (400 Bad Request). The request body or parameters
            did not pass validation. Check the `message` field for details.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - certificates:upload
      summary: Upload digital certificate (P12)
      tags:
      - Digital Certificates
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /tax-sequences:
    get:
      description: Returns all fiscal number sequences registered for the tenant.
      operationId: listTaxSequences
      parameters:
      - description: |
          UUID of the company or branch (tenant) making the request.
          Obtained from the Pronesoft portal after account setup.
        explode: false
        in: header
        name: x-tenant-id
        required: true
        schema:
          example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
          format: uuid
          type: string
        style: simple
      - description: Filter by invoice type (e.g. "31" for Tax Credit).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/InvoiceType"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTaxSequences_200_response"
          description: List of tax sequences
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - sequences:read
      summary: List tax sequences
      tags:
      - Tax Sequences
      x-accepts:
      - application/json
    post:
      description: |
        Registers a new block of fiscal numbers for a given invoice type.
        The `from` and `to` values define the numeric range of the sequence.
      operationId: createTaxSequence
      parameters:
      - description: |
          UUID of the company or branch (tenant) making the request.
          Obtained from the Pronesoft portal after account setup.
        explode: false
        in: header
        name: x-tenant-id
        required: true
        schema:
          example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: "31"
              from: 1
              to: 500
            schema:
              $ref: "#/components/schemas/CreateTaxSequenceRequest"
        required: true
      responses:
        "201":
          description: Sequence created successfully
        "400":
          content:
            application/json:
              example:
                statusCode: 400
                message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Validation error (400 Bad Request). The request body or parameters
            did not pass validation. Check the `message` field for details.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - sequences:create
      summary: Create new tax sequence
      tags:
      - Tax Sequences
      x-content-type: application/json
      x-accepts:
      - application/json
  /tax-sequences/next:
    get:
      description: |
        Returns the next available e-NCF number for a given invoice type
        and environment. Use this number as the `invoiceNumber` when
        submitting a document.
      operationId: getNextNumber
      parameters:
      - description: |
          UUID of the company or branch (tenant) making the request.
          Obtained from the Pronesoft portal after account setup.
        explode: false
        in: header
        name: x-tenant-id
        required: true
        schema:
          example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
          format: uuid
          type: string
        style: simple
      - description: Invoice type code (e.g. "31" for Tax Credit Invoice).
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: "#/components/schemas/InvoiceType"
        style: form
      - description: Target environment for the sequence.
        explode: true
        in: query
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getNextNumber_200_response"
          description: Next available e-NCF number
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - sequences:read
      summary: Get next available fiscal number
      tags:
      - Tax Sequences
      x-accepts:
      - application/json
  /{environment}/ecf/submit:
    post:
      callbacks:
        onEcfProcessed:
          '{$request.body#/callbackUrl}':
            post:
              description: |
                Sent by Pronesoft to your `callbackUrl` when the DGII
                finishes processing the document.
              operationId: onEcfProcessedPost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebhookNotificationPayload"
                required: true
              responses:
                "200":
                  description: Callback received successfully
              summary: DGII processing result callback
              x-callback-request: true
      description: |
        Submits an electronic tax document to the DGII via the Pronesoft
        platform. Pronesoft handles XML signing, DGII authentication, and
        status polling on your behalf.

        ### Flow
        1. Build the `ElectronicDocument` payload.
        2. Call this endpoint with the target `environment` in the path.
        3. Receive a `documentId` and `trackId` in the response.
        4. Listen for the `document.status_changed` webhook event, or poll
           the DGII track ID to confirm final approval.

        ### Path parameter: environment
        | Value | Description |
        |---|---|
        | `TesteCF` | Functional tests (no DGII interaction) |
        | `CerteCF` | DGII certification environment |
        | `eCF` | Production — real documents |
      operationId: submitEcf
      parameters:
      - description: |
          UUID of the company or branch (tenant) making the request.
          Obtained from the Pronesoft portal after account setup.
        explode: false
        in: header
        name: x-tenant-id
        required: true
        schema:
          example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
          format: uuid
          type: string
        style: simple
      - description: Target submission environment.
        explode: false
        in: path
        name: environment
        required: true
        schema:
          $ref: "#/components/schemas/Environment"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ElectronicDocument"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                documentId: 550e8400-e29b-41d4-a716-446655440000
                encf: E310000000001
                trackId: TRK-20240101-0001
                message: Document submitted successfully
              schema:
                $ref: "#/components/schemas/EcfSubmissionResponse"
          description: Document accepted and submitted to DGII
        "400":
          content:
            application/json:
              example:
                statusCode: 400
                message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Validation error (400 Bad Request). The request body or parameters
            did not pass validation. Check the `message` field for details.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - documents:send
      summary: Submit e-CF document to DGII
      tags:
      - eCF Submission
      x-content-type: application/json
      x-accepts:
      - application/json
  /associated-companies:
    get:
      description: Returns all companies and branches linked to the current tenant.
      operationId: listAssociatedCompanies
      parameters:
      - description: |
          UUID of the company or branch (tenant) making the request.
          Obtained from the Pronesoft portal after account setup.
        explode: false
        in: header
        name: x-tenant-id
        required: true
        schema:
          example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AssociatedCompany"
                type: array
          description: List of associated companies
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - business:read
      summary: List associated companies / branches
      tags:
      - Associated Companies
      x-accepts:
      - application/json
    post:
      description: |
        Registers a new branch or associated company under the current
        tenant account. Accepts multipart/form-data to support logo upload.
      operationId: createAssociatedCompany
      parameters:
      - description: |
          UUID of the company or branch (tenant) making the request.
          Obtained from the Pronesoft portal after account setup.
        explode: false
        in: header
        name: x-tenant-id
        required: true
        schema:
          example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateAssociatedCompanyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssociatedCompany_201_response"
          description: Associated company created successfully
        "400":
          content:
            application/json:
              example:
                statusCode: 400
                message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Validation error (400 Bad Request). The request body or parameters
            did not pass validation. Check the `message` field for details.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - business:create
      summary: Create new associated company
      tags:
      - Associated Companies
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /{rnc}/webhooks:
    get:
      description: Returns all registered webhooks for the given RNC.
      operationId: listWebhooks
      parameters:
      - description: |
          RNC (Registro Nacional del Contribuyente) of the company.
          Must be 9 digits (persona jurídica) or 11 digits (persona física).
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "130000001"
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/WebhookConfigResponse"
                type: array
          description: List of webhook configurations
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - business:read
      summary: List webhook configurations
      tags:
      - Webhook Configuration
      x-accepts:
      - application/json
    post:
      description: |
        Registers a URL to receive real-time event notifications for the
        given RNC. You can subscribe to one or more `WebhookEventType` values.

        Optionally provide a `secret` (min 16 chars) — Pronesoft will sign
        webhook payloads with HMAC-SHA256 using this secret so you can verify
        authenticity on your end.
      operationId: createWebhook
      parameters:
      - description: |
          RNC (Registro Nacional del Contribuyente) of the company.
          Must be 9 digits (persona jurídica) or 11 digits (persona física).
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "130000001"
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              url: https://myapp.com/webhooks/ecf
              eventTypes:
              - document.status_changed
              - sequence.depleted
              description: Main notification endpoint
              secret: my-super-secret-value-here
            schema:
              $ref: "#/components/schemas/CreateWebhookConfig"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookConfigResponse"
          description: Webhook registered successfully
        "400":
          content:
            application/json:
              example:
                statusCode: 400
                message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Validation error (400 Bad Request). The request body or parameters
            did not pass validation. Check the `message` field for details.
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
      security:
      - bearerAuth: []
      - oauth2:
        - business:update
      summary: Register new webhook
      tags:
      - Webhook Configuration
      x-content-type: application/json
      x-accepts:
      - application/json
  /{rnc}/webhooks/{webhookId}:
    delete:
      description: Removes a registered webhook by its ID.
      operationId: deleteWebhook
      parameters:
      - description: |
          RNC (Registro Nacional del Contribuyente) of the company.
          Must be 9 digits (persona jurídica) or 11 digits (persona física).
        explode: false
        in: path
        name: rnc
        required: true
        schema:
          example: "130000001"
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        style: simple
      - description: The unique ID of the webhook to delete.
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Webhook deleted successfully
        "401":
          content:
            application/json:
              example:
                statusCode: 401
                message: "Unauthorized: token expired"
                timestamp: 2024-01-01T12:00:00Z
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            Authorization error. The token is missing, expired, or invalid.
            Call `POST /oauth/token` to get a new token.
        "404":
          description: Webhook not found
      security:
      - bearerAuth: []
      - oauth2:
        - business:update
      summary: Delete webhook configuration
      tags:
      - Webhook Configuration
      x-accepts:
      - application/json
components:
  parameters:
    TenantIdHeader:
      description: |
        UUID of the company or branch (tenant) making the request.
        Obtained from the Pronesoft portal after account setup.
      explode: false
      in: header
      name: x-tenant-id
      required: true
      schema:
        example: 38400000-8cf0-11bd-b23e-10b96e4ef00d
        format: uuid
        type: string
      style: simple
    RncPath:
      description: |
        RNC (Registro Nacional del Contribuyente) of the company.
        Must be 9 digits (persona jurídica) or 11 digits (persona física).
      explode: false
      in: path
      name: rnc
      required: true
      schema:
        example: "130000001"
        pattern: "^([0-9]{9}|[0-9]{11})$"
        type: string
      style: simple
  responses:
    UnauthorizedError:
      content:
        application/json:
          example:
            statusCode: 401
            message: "Unauthorized: token expired"
            timestamp: 2024-01-01T12:00:00Z
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: |
        Authorization error. The token is missing, expired, or invalid.
        Call `POST /oauth/token` to get a new token.
    ValidationError:
      content:
        application/json:
          example:
            statusCode: 400
            message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
            timestamp: 2024-01-01T12:00:00Z
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: |
        Validation error (400 Bad Request). The request body or parameters
        did not pass validation. Check the `message` field for details.
  schemas:
    Environment:
      description: |
        Target environment for e-CF submission.
        - `TesteCF`: Functional tests, no real DGII interaction.
        - `CerteCF`: DGII certification environment.
        - `eCF`: Production — issues real legal documents.
      enum:
      - TesteCF
      - CerteCF
      - eCF
      type: string
    InvoiceType:
      description: |
        e-NCF invoice type code as defined by the DGII:
        - `31`: Tax Credit Invoice (Factura de Crédito Fiscal)
        - `32`: Consumer Invoice (Factura de Consumo)
        - `33`: Debit Note (Nota de Débito)
        - `34`: Credit Note (Nota de Crédito)
        - `41`: Purchases (Compras)
        - `43`: Minor Expenses (Gastos Menores)
        - `44`: Special Regimes (Regímenes Especiales)
        - `45`: Governmental (Gubernamentales)
        - `46`: Exports (Exportaciones)
        - `47`: Overseas Payments (Pagos al Exterior)
      enum:
      - "31"
      - "32"
      - "33"
      - "34"
      - "41"
      - "43"
      - "44"
      - "45"
      - "46"
      - "47"
      type: string
    PaymentMethod:
      description: |
        Payment method code:
        - `1`: Cash (Efectivo)
        - `2`: Check (Cheque)
        - `3`: Debit/Credit Card (Tarjeta de Débito/Crédito)
        - `4`: Credit (Crédito)
        - `5`: Bank Transfer (Transferencia Bancaria)
        - `6`: Electronic Money (Dinero Electrónico)
        - `7`: Bond/Gift Card (Bono/Gift Card)
        - `8`: Other (Otro)
      enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      type: string
    BillingIndicator:
      description: |
        ITBIS tax billing indicator for a line item:
        - `0`: Non-billable (No facturable)
        - `1`: 18% ITBIS rate
        - `2`: 16% ITBIS rate
        - `3`: 0% ITBIS rate
        - `4`: Exempt (Exento)
      enum:
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      type: string
    WebhookEventType:
      description: Type of event that triggers a webhook notification.
      enum:
      - document.received
      - document.status_changed
      - document.validation_error
      - document.contingency_activated
      - commercial.approval
      - certificate.expiring
      - plan.usage_alert
      - plan.payment_failed
      - billing.invoice_ready
      - sequence.depleted
      - sequence.voided
      - branch.created
      - branch.status_changed
      - member.invited
      - member.joined
      - member.removed
      - certification.completed
      type: string
    PrintFormat:
      description: |
        Printer/receipt format:
        - `A4`: Standard A4 paper
        - `thermal_80`: 80mm thermal printer
        - `thermal_58`: 58mm thermal printer
      enum:
      - A4
      - thermal_80
      - thermal_58
      type: string
    AccountType:
      description: |
        Bank account type:
        - `CT`: Current account (Cuenta Corriente)
        - `AH`: Savings account (Cuenta de Ahorros)
        - `OT`: Other
      enum:
      - CT
      - AH
      - OT
      type: string
    OAuthTokenRequest:
      description: |
        Credentials for OAuth 2.0 Client Credentials authentication.

        Obtain `clientId` and `clientSecret` from the Pronesoft portal:
        - Sandbox: https://ecf.sandbox.pronesoft.com
        - Production: https://ecf.pronesoft.com
      example:
        clientId: my-app-client-id
        clientSecret: my-super-secret-value
      properties:
        clientId:
          description: Your application's client ID from the Pronesoft portal.
          example: my-app-client-id
          type: string
        clientSecret:
          description: Your application's client secret. Keep this confidential.
          example: my-super-secret-value
          type: string
      required:
      - clientId
      - clientSecret
      type: object
    OAuthTokenResponse:
      description: |
        Successful token response. Use `accessToken` as a Bearer token
        in the `Authorization` header of all subsequent requests.
      example:
        expiresIn: 3600
        accessToken: eyJhbGciOiJSUzI1NiJ9...
        tokenType: Bearer
      properties:
        accessToken:
          description: "JWT Bearer token. Pass as Authorization: Bearer <accessToken>."
          example: eyJhbGciOiJSUzI1NiJ9...
          type: string
        tokenType:
          description: Always "Bearer".
          example: Bearer
          type: string
        expiresIn:
          description: Token lifetime in seconds. Request a new token when it expires.
          example: 3600
          type: integer
      type: object
    ElectronicDocument:
      description: |
        The main e-CF document payload. Build this object and submit it to
        `POST /{environment}/ecf/submit`.

        **Required fields:** `version`, `invoiceType`, `invoiceNumber`,
        `issueDate`, `items`, `totals`.

        Use `GET /tax-sequences/next` to obtain the correct `invoiceNumber`.
      example:
        paymentAccountType: CT
        paymentBank: paymentBank
        alternativeCurrency:
          totalAmount: 201.71
          code: USD
          exchangeRate: 58.5
        paymentType: "1"
        pages:
        - taxableAmount: 7.04836565559697
          pageNumber: 8
          additionalTaxes: 4.678947989005849
          lineTo: 3
          exemptAmount: 7.260521264802104
          itbis2: 4.258773108174356
          lineFrom: 7
          itbis1: 6.628464275087742
          itbis3: 1.041444916118296
          nonBillableAmount: 9.132027271330688
          totalITBIS: 0.2025324113236393
          subtotal: 3.0576100241049344
          taxableAmount2: 3.2588565619047607
          taxableAmount1: 5.533258397034986
          taxableAmount3: 4.078845849666752
        - taxableAmount: 7.04836565559697
          pageNumber: 8
          additionalTaxes: 4.678947989005849
          lineTo: 3
          exemptAmount: 7.260521264802104
          itbis2: 4.258773108174356
          lineFrom: 7
          itbis1: 6.628464275087742
          itbis3: 1.041444916118296
          nonBillableAmount: 9.132027271330688
          totalITBIS: 0.2025324113236393
          subtotal: 3.0576100241049344
          taxableAmount2: 3.2588565619047607
          taxableAmount1: 5.533258397034986
          taxableAmount3: 4.078845849666752
        invoiceNumber: E310000000001
        additionalInfo:
          grossWeight: 8.762042012749001
          sealId: sealId
          packageQuantity: 9.018348186070783
          containerId: containerId
        invoiceType: "31"
        issueDate: 2024-01-15T10:30:00Z
        paymentTerms: paymentTerms
        expirationDate: 2024-02-15T10:30:00Z
        paymentAccountNumber: paymentAccountNumber
        subtotals:
        - taxableAmount: 6.965117697638846
          amount: 3.5571952270680973
          additionalTaxes: 3.0937452626664474
          description: description
          exemptAmount: 7.143538047012306
          itbis2: 6.704019297950036
          itbis1: 5.944895607614016
          itbis3: 3.353193347011243
          number: 6
          totalITBIS: 6.878052220127876
          taxableAmount2: 2.8841621266687802
          taxableAmount1: 1.284659006116532
          taxableAmount3: 6.778324963048013
          lines: 0
        - taxableAmount: 6.965117697638846
          amount: 3.5571952270680973
          additionalTaxes: 3.0937452626664474
          description: description
          exemptAmount: 7.143538047012306
          itbis2: 6.704019297950036
          itbis1: 5.944895607614016
          itbis3: 3.353193347011243
          number: 6
          totalITBIS: 6.878052220127876
          taxableAmount2: 2.8841621266687802
          taxableAmount1: 1.284659006116532
          taxableAmount3: 6.778324963048013
          lines: 0
        creditNoteIndicator: "0"
        incomeType: "01"
        totals:
          itbisRate2: 0.16
          amountToPay: 4.965218492984954
          taxableAmount: 5.637376656633329
          itbisRate1: 0.18
          totalITBISPerception: 9.369310271410669
          itbisRate3: 0.0
          additionalTaxes:
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          totalISRPerception: 6.683562403749608
          advancePaymentAmount: 1.1730742509559433
          exemptAmount: 3.616076749251911
          additionalTaxAmount: 1.0246457001441578
          itbis2: 7.386281948385884
          itbis1: 4.145608029883936
          itbis3: 1.2315135367772556
          previousBalance: 7.457744773683766
          nonBillableAmount: 1.4894159098541704
          periodAmount: 6.84685269835264
          totalIncomeTaxWithholding: 9.965781217890562
          totalAmount: 11800.0
          totalITBIS: 2.027123023002322
          taxableAmount2: 7.061401241503109
          taxableAmount1: 2.3021358869347655
          taxableAmount3: 9.301444243932576
          totalWithheldITBIS: 5.025004791520295
        transport:
          licensePlate: licensePlate
          route: route
          driver: driver
          vehicleId: vehicleId
          departureDate: 2000-01-23T04:56:07.000+00:00
          arrivalDate: 2000-01-23T04:56:07.000+00:00
        issuerEmail: issuerEmail
        version: "1.0"
        buyer:
          address: address
          deliveryAddress: deliveryAddress
          taxId: "130000001"
          provinceCode: provinceCode
          name: Empresa Compradora SRL
          municipalityCode: municipalityCode
          email: comprador@empresa.com
        issuerPhones:
        - issuerPhones
        - issuerPhones
        - issuerPhones
        discountsOrSurcharges:
        - amount: 6.519180951018382
          alternativeCurrencyAmount: 4.652396432933246
          valueType: $
          description: description
          billingIndicator: null
          percentageValue: 0.10263654006109402
          lineNumber: 7
          type: D
        - amount: 6.519180951018382
          alternativeCurrencyAmount: 4.652396432933246
          valueType: $
          description: description
          billingIndicator: null
          percentageValue: 0.10263654006109402
          lineNumber: 7
          type: D
        paymentDeadline: 2000-01-23T04:56:07.000+00:00
        items:
        - unitPrice: "1500.00"
          alcoholDegree: 5.962133916683182
          amount: 3750.0
          quantity: "2.5"
          subquantities:
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          additionalTaxes:
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          name: Consulting Services
          billingIndicator: "0"
          discountAmount: 0.0
          lineNumber: 1
          type: "1"
        - unitPrice: "1500.00"
          alcoholDegree: 5.962133916683182
          amount: 3750.0
          quantity: "2.5"
          subquantities:
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          additionalTaxes:
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          name: Consulting Services
          billingIndicator: "0"
          discountAmount: 0.0
          lineNumber: 1
          type: "1"
        - unitPrice: "1500.00"
          alcoholDegree: 5.962133916683182
          amount: 3750.0
          quantity: "2.5"
          subquantities:
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          additionalTaxes:
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          name: Consulting Services
          billingIndicator: "0"
          discountAmount: 0.0
          lineNumber: 1
          type: "1"
        - unitPrice: "1500.00"
          alcoholDegree: 5.962133916683182
          amount: 3750.0
          quantity: "2.5"
          subquantities:
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          additionalTaxes:
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          name: Consulting Services
          billingIndicator: "0"
          discountAmount: 0.0
          lineNumber: 1
          type: "1"
        - unitPrice: "1500.00"
          alcoholDegree: 5.962133916683182
          amount: 3750.0
          quantity: "2.5"
          subquantities:
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          - quantity: 6.027456183070403
            unitCode: 1.4658129805029452
          additionalTaxes:
          - amount: 0.8008281904610115
            code: code
          - amount: 0.8008281904610115
            code: code
          name: Consulting Services
          billingIndicator: "0"
          discountAmount: 0.0
          lineNumber: 1
          type: "1"
        issuerRNC: issuerRNC
        referenceInfo:
          modifiedInvoiceDate: 2000-01-23
          modificationReason: modificationReason
          otherContributorRNC: otherContributorRNC
          modifiedInvoiceNumber: E310000000001
          modificationCode: "1"
        issuerBusinessName: issuerBusinessName
      properties:
        version:
          default: "1.0"
          description: Document schema version. Always "1.0".
          example: "1.0"
          pattern: ^1\.0$
          type: string
        invoiceType:
          $ref: "#/components/schemas/InvoiceType"
        invoiceNumber:
          description: |
            e-NCF number (13 alphanumeric characters).
            Obtain from `GET /tax-sequences/next`.
          example: E310000000001
          pattern: "^[a-zA-Z0-9]{13}$"
          type: string
        issueDate:
          description: Document issue date and time (ISO 8601).
          example: 2024-01-15T10:30:00Z
          format: date-time
          type: string
        expirationDate:
          description: "Document expiration date (optional, for credit documents)."
          example: 2024-02-15T10:30:00Z
          format: date-time
          type: string
        incomeType:
          description: |
            Income type code:
            - `01`: Operations Income
            - `02`: Financial Income
            - `03`: Extraordinary Income
            - `04`: Leasing Income
            - `05`: Income from Sales of Assets
            - `06`: Other Income
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          type: string
        paymentType:
          description: |
            Payment condition:
            - `1`: Cash (Al Contado)
            - `2`: Credit (Crédito)
            - `3`: Mixed (Mixto)
          enum:
          - "1"
          - "2"
          - "3"
          type: string
        paymentDeadline:
          description: Payment due date (required when paymentType is "2" or "3").
          format: date-time
          type: string
        paymentTerms:
          description: Payment terms description (e.g. "Net 30").
          maxLength: 15
          type: string
        paymentAccountType:
          $ref: "#/components/schemas/AccountType"
        paymentAccountNumber:
          description: Bank account number for payment reference.
          maxLength: 28
          type: string
        paymentBank:
          description: Bank name for payment reference.
          maxLength: 75
          type: string
        creditNoteIndicator:
          description: |
            For Credit Notes (type 34) only:
            - `0`: Affected invoice issued ≤ 30 days ago
            - `1`: Affected invoice issued > 30 days ago
          enum:
          - "0"
          - "1"
          type: string
        issuerRNC:
          description: RNC of the issuing company (overrides tenant default if provided).
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        issuerBusinessName:
          description: Legal business name of the issuer.
          maxLength: 150
          type: string
        issuerEmail:
          description: Contact email of the issuer.
          format: email
          type: string
        issuerPhones:
          description: Issuer phone numbers in format "809-555-1234".
          items:
            pattern: "^\\d{3}-\\d{3}-\\d{4}$"
            type: string
          maxItems: 3
          type: array
        buyer:
          $ref: "#/components/schemas/Buyer"
        items:
          description: Line items of the document. At least 1 required.
          items:
            $ref: "#/components/schemas/Item"
          maxItems: 1000
          minItems: 1
          type: array
        totals:
          $ref: "#/components/schemas/Totals"
        transport:
          $ref: "#/components/schemas/Transport"
        additionalInfo:
          $ref: "#/components/schemas/AdditionalInfo"
        alternativeCurrency:
          $ref: "#/components/schemas/AlternativeCurrency"
        referenceInfo:
          $ref: "#/components/schemas/ReferenceInfo"
        subtotals:
          description: Page/section subtotals (for multi-page documents).
          items:
            $ref: "#/components/schemas/Subtotal"
          type: array
        discountsOrSurcharges:
          description: Document-level discounts or surcharges.
          items:
            $ref: "#/components/schemas/DiscountOrSurcharge"
          type: array
        pages:
          description: Page breakdown for multi-page documents.
          items:
            $ref: "#/components/schemas/Page"
          type: array
      required:
      - invoiceNumber
      - invoiceType
      - issueDate
      - items
      - totals
      - version
      type: object
    Buyer:
      description: Information about the buyer/recipient of the document.
      example:
        address: address
        deliveryAddress: deliveryAddress
        taxId: "130000001"
        provinceCode: provinceCode
        name: Empresa Compradora SRL
        municipalityCode: municipalityCode
        email: comprador@empresa.com
      properties:
        taxId:
          description: Buyer's RNC (9 digits) or cedula (11 digits). Required for
            type 31.
          example: "130000001"
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        name:
          description: Buyer's full legal name or business name.
          example: Empresa Compradora SRL
          maxLength: 150
          type: string
        email:
          description: Buyer's email address (for digital delivery of the e-CF).
          example: comprador@empresa.com
          format: email
          type: string
        address:
          description: Buyer's physical address.
          maxLength: 100
          type: string
        municipalityCode:
          description: DGII municipality code of the buyer.
          type: string
        provinceCode:
          description: DGII province code of the buyer.
          type: string
        deliveryAddress:
          description: Delivery address (if different from billing address).
          type: string
      required:
      - name
      type: object
    Item:
      description: A single line item in the electronic document.
      example:
        unitPrice: "1500.00"
        alcoholDegree: 5.962133916683182
        amount: 3750.0
        quantity: "2.5"
        subquantities:
        - quantity: 6.027456183070403
          unitCode: 1.4658129805029452
        - quantity: 6.027456183070403
          unitCode: 1.4658129805029452
        additionalTaxes:
        - amount: 0.8008281904610115
          code: code
        - amount: 0.8008281904610115
          code: code
        name: Consulting Services
        billingIndicator: "0"
        discountAmount: 0.0
        lineNumber: 1
        type: "1"
      properties:
        lineNumber:
          description: Sequential line number (1-based). Auto-assigned if omitted.
          example: 1
          type: integer
        name:
          description: Product or service name.
          example: Consulting Services
          maxLength: 80
          type: string
        type:
          description: |
            Item type:
            - `1`: Product (Bien)
            - `2`: Service (Servicio)
          enum:
          - "1"
          - "2"
          type: string
        billingIndicator:
          $ref: "#/components/schemas/BillingIndicator"
        quantity:
          description: Quantity (as string to support decimals with precision).
          example: "2.5"
          type: string
        unitPrice:
          description: Unit price (as string to support decimals with precision).
          example: "1500.00"
          type: string
        amount:
          description: "Total line amount (quantity × unitPrice, before discounts)."
          example: 3750.0
          type: number
        discountAmount:
          description: Discount amount applied to this line item.
          example: 0.0
          type: number
        additionalTaxes:
          description: "Additional taxes (e.g. ISC, IECS) for this line item."
          items:
            $ref: "#/components/schemas/ItemAdditionalTax"
          type: array
        subquantities:
          description: Sub-quantities (for items with multiple units of measure).
          items:
            $ref: "#/components/schemas/Subquantity"
          type: array
        alcoholDegree:
          description: Alcohol degree (required for alcoholic beverages subject to
            ISC).
          type: number
      required:
      - amount
      - billingIndicator
      - name
      - quantity
      - type
      - unitPrice
      type: object
    Totals:
      description: |
        Document totals. `totalAmount` is required.
        Provide ITBIS breakdowns by rate when applicable.
      example:
        itbisRate2: 0.16
        amountToPay: 4.965218492984954
        taxableAmount: 5.637376656633329
        itbisRate1: 0.18
        totalITBISPerception: 9.369310271410669
        itbisRate3: 0.0
        additionalTaxes:
        - amount: 0.8008281904610115
          code: code
        - amount: 0.8008281904610115
          code: code
        - amount: 0.8008281904610115
          code: code
        - amount: 0.8008281904610115
          code: code
        - amount: 0.8008281904610115
          code: code
        totalISRPerception: 6.683562403749608
        advancePaymentAmount: 1.1730742509559433
        exemptAmount: 3.616076749251911
        additionalTaxAmount: 1.0246457001441578
        itbis2: 7.386281948385884
        itbis1: 4.145608029883936
        itbis3: 1.2315135367772556
        previousBalance: 7.457744773683766
        nonBillableAmount: 1.4894159098541704
        periodAmount: 6.84685269835264
        totalIncomeTaxWithholding: 9.965781217890562
        totalAmount: 11800.0
        totalITBIS: 2.027123023002322
        taxableAmount2: 7.061401241503109
        taxableAmount1: 2.3021358869347655
        taxableAmount3: 9.301444243932576
        totalWithheldITBIS: 5.025004791520295
      properties:
        taxableAmount:
          description: Total taxable base amount (all ITBIS rates combined).
          type: number
        taxableAmount1:
          description: Taxable base for 18% ITBIS rate.
          type: number
        taxableAmount2:
          description: Taxable base for 16% ITBIS rate.
          type: number
        taxableAmount3:
          description: Taxable base for 0% ITBIS rate.
          type: number
        exemptAmount:
          description: Total amount exempt from ITBIS.
          type: number
        itbisRate1:
          description: ITBIS rate 1 (typically 0.18).
          example: 0.18
          type: number
        itbisRate2:
          description: ITBIS rate 2 (typically 0.16).
          example: 0.16
          type: number
        itbisRate3:
          description: ITBIS rate 3 (typically 0.00).
          example: 0.0
          type: number
        totalITBIS:
          description: Total ITBIS tax (all rates combined).
          type: number
        itbis1:
          description: ITBIS amount at rate 1.
          type: number
        itbis2:
          description: ITBIS amount at rate 2.
          type: number
        itbis3:
          description: ITBIS amount at rate 3.
          type: number
        additionalTaxAmount:
          description: "Total of all additional taxes (ISC, IECS, etc.)."
          type: number
        additionalTaxes:
          description: Breakdown of additional taxes at document level.
          items:
            $ref: "#/components/schemas/ItemAdditionalTax"
          maxItems: 20
          type: array
        totalAmount:
          description: Grand total of the document (required).
          example: 11800.0
          type: number
        nonBillableAmount:
          description: Amount not subject to billing.
          type: number
        periodAmount:
          description: Amount for the current billing period.
          type: number
        previousBalance:
          description: Previous balance (for billing statements).
          type: number
        advancePaymentAmount:
          description: Advance payment amount already received.
          type: number
        amountToPay:
          description: Net amount due after advance payments and previous balance.
          type: number
        totalWithheldITBIS:
          description: Total ITBIS withheld at source.
          type: number
        totalIncomeTaxWithholding:
          description: Total income tax (ISR) withheld at source.
          type: number
        totalITBISPerception:
          description: Total ITBIS perception collected.
          type: number
        totalISRPerception:
          description: Total ISR perception collected.
          type: number
      required:
      - totalAmount
      type: object
    EcfSubmissionResponse:
      description: Response returned after successfully submitting an e-CF document.
      example:
        encf: E310000000001
        success: true
        trackId: TRK-20240101-0001
        documentId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message: message
      properties:
        success:
          description: Whether the document was accepted by the platform.
          type: boolean
        documentId:
          description: Pronesoft internal document identifier.
          format: uuid
          type: string
        encf:
          description: The e-NCF number assigned to the document.
          example: E310000000001
          type: string
        trackId:
          description: DGII tracking ID for status polling.
          example: TRK-20240101-0001
          type: string
        message:
          description: Human-readable status message.
          type: string
      required:
      - documentId
      - success
      type: object
    TaxSequence:
      description: A registered fiscal number sequence for a given invoice type.
      example:
        nextNumber: E310000000001
        id: id
        type: "31"
      properties:
        id:
          description: Internal sequence identifier.
          type: string
        type:
          $ref: "#/components/schemas/InvoiceType"
        nextNumber:
          description: Next available e-NCF number in this sequence.
          example: E310000000001
          type: string
      type: object
    CreateTaxSequenceRequest:
      description: |
        Request to register a new block of fiscal numbers.
        The `from` and `to` values define the numeric range (inclusive).
      example:
        from: 1
        to: 500
        type: "31"
      properties:
        type:
          $ref: "#/components/schemas/InvoiceType"
        from:
          description: First number in the sequence range.
          example: 1
          type: integer
        to:
          description: Last number in the sequence range.
          example: 500
          type: integer
      required:
      - from
      - to
      - type
      type: object
    AssociatedCompany:
      description: A company or branch associated with the main tenant account.
      example:
        docsIssuedThisMonth: 0
        country: country
        website: https://openapi-generator.tech
        address: address
        city: city
        rnc: rnc
        logoPath: logoPath
        subscription:
          plan:
            name: name
            maxDocsPerMonth: 1
          status: status
          expirationDate: 2000-01-23T04:56:07.000+00:00
        type: MAIN
        ownerEmail: ownerEmail
        createdAt: 2000-01-23T04:56:07.000+00:00
        purchasedDocsConsumedThisMonth: 6
        phone: phone
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
        rnc:
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        country:
          type: string
        website:
          format: uri
          nullable: true
          type: string
        logoPath:
          nullable: true
          type: string
        type:
          description: Whether this is the main account or an associated branch.
          enum:
          - MAIN
          - ASSOCIATED
          type: string
        createdAt:
          format: date-time
          type: string
        docsIssuedThisMonth:
          description: Number of e-CF documents issued in the current month.
          type: integer
        purchasedDocsConsumedThisMonth:
          description: Purchased document quota consumed this month.
          type: integer
        ownerEmail:
          format: email
          type: string
        subscription:
          $ref: "#/components/schemas/AssociatedCompany_subscription"
      type: object
    CreateAssociatedCompanyRequest:
      description: Request body for creating a new associated company or branch.
      properties:
        email:
          description: Owner's email address (used for login).
          format: email
          type: string
        password:
          description: Initial password for the new account (min 8 characters).
          minLength: 8
          type: string
        firstName:
          type: string
        lastName:
          type: string
        jobTitle:
          type: string
        name:
          description: Legal business name.
          type: string
        rnc:
          description: Company RNC (9 digits) or personal cedula (11 digits).
          pattern: "^([0-9]{9}|[0-9]{11})$"
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        country:
          type: string
        website:
          format: uri
          type: string
        category:
          description: Business category or industry.
          type: string
        monthlySalesRange:
          description: Estimated monthly sales range (e.g. "0-500000").
          type: string
        printerType:
          $ref: "#/components/schemas/PrintFormat"
        logo:
          description: Company logo image file (multipart upload).
          format: binary
          type: string
      required:
      - address
      - city
      - country
      - email
      - name
      - password
      - phone
      - rnc
      type: object
    WebhookNotificationPayload:
      description: |
        Payload sent to your registered webhook URL when an event occurs.
        Verify authenticity using HMAC-SHA256 with your webhook `secret`.
      example:
        businessRnc: businessRnc
        data: "{}"
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        event: document.received
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Unique notification identifier (use for deduplication).
          format: uuid
          type: string
        event:
          $ref: "#/components/schemas/WebhookEventType"
        timestamp:
          description: When the event occurred (ISO 8601).
          format: date-time
          type: string
        businessRnc:
          description: RNC of the company that triggered the event.
          type: string
        data:
          description: Event-specific data payload.
          type: object
      required:
      - businessRnc
      - data
      - event
      - id
      - timestamp
      type: object
    WebhookConfigResponse:
      description: A registered webhook configuration.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        id: id
        lastTriggeredAt: 2000-01-23T04:56:07.000+00:00
        eventTypes:
        - document.received
        - document.received
        isActive: true
        url: https://openapi-generator.tech
      properties:
        id:
          description: Unique webhook identifier.
          type: string
        url:
          description: The URL that receives webhook notifications.
          format: uri
          type: string
        eventTypes:
          description: Events this webhook is subscribed to.
          items:
            $ref: "#/components/schemas/WebhookEventType"
          type: array
        isActive:
          description: Whether this webhook is currently active.
          type: boolean
        createdAt:
          format: date-time
          type: string
        lastTriggeredAt:
          description: When this webhook was last triggered. Null if never triggered.
          format: date-time
          nullable: true
          type: string
      type: object
    CreateWebhookConfig:
      description: Request body for registering a new webhook.
      example:
        description: description
        secret: secret
        eventTypes:
        - document.received
        - document.received
        url: https://myapp.com/webhooks/ecf
      properties:
        url:
          description: Your HTTPS endpoint that will receive POST notifications.
          example: https://myapp.com/webhooks/ecf
          format: uri
          type: string
        eventTypes:
          description: List of events to subscribe to.
          items:
            $ref: "#/components/schemas/WebhookEventType"
          type: array
        description:
          description: Optional label for this webhook (for your reference).
          type: string
        secret:
          description: |
            Optional HMAC signing secret (min 16 characters).
            Pronesoft will sign payloads so you can verify they are authentic.
          minLength: 16
          type: string
      required:
      - eventTypes
      - url
      type: object
    UploadCertificateResponse:
      description: Response after successfully uploading a digital certificate.
      example:
        message: Certificate uploaded successfully
        representative: representative
        expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        message:
          description: Confirmation message.
          example: Certificate uploaded successfully
          type: string
        representative:
          description: Name of the certificate holder as registered with the DGII.
          type: string
        expirationDate:
          description: Certificate expiration date. Monitor this to avoid disruptions.
          format: date-time
          type: string
      type: object
    Subtotal:
      description: Subtotal for a page or section within a multi-page document.
      example:
        taxableAmount: 6.965117697638846
        amount: 3.5571952270680973
        additionalTaxes: 3.0937452626664474
        description: description
        exemptAmount: 7.143538047012306
        itbis2: 6.704019297950036
        itbis1: 5.944895607614016
        itbis3: 3.353193347011243
        number: 6
        totalITBIS: 6.878052220127876
        taxableAmount2: 2.8841621266687802
        taxableAmount1: 1.284659006116532
        taxableAmount3: 6.778324963048013
        lines: 0
      properties:
        number:
          description: Page or section number.
          type: integer
        amount:
          description: Subtotal amount for this section.
          type: number
        description:
          type: string
        taxableAmount:
          type: number
        taxableAmount1:
          type: number
        taxableAmount2:
          type: number
        taxableAmount3:
          type: number
        totalITBIS:
          type: number
        itbis1:
          type: number
        itbis2:
          type: number
        itbis3:
          type: number
        additionalTaxes:
          type: number
        exemptAmount:
          type: number
        lines:
          description: Number of line items included in this subtotal.
          type: integer
      required:
      - amount
      - number
      type: object
    DiscountOrSurcharge:
      description: A document-level discount or surcharge.
      example:
        amount: 6.519180951018382
        alternativeCurrencyAmount: 4.652396432933246
        valueType: $
        description: description
        billingIndicator: null
        percentageValue: 0.10263654006109402
        lineNumber: 7
        type: D
      properties:
        lineNumber:
          description: Reference line number this discount/surcharge applies to.
          type: integer
        type:
          description: |
            - `D`: Discount (Descuento)
            - `R`: Surcharge/Recargo (Recargo)
          enum:
          - D
          - R
          type: string
        valueType:
          description: Whether the amount is a fixed value (`$`) or a percentage (`%`).
          enum:
          - $
          - '%'
          type: string
        amount:
          description: Discount or surcharge amount.
          type: number
        description:
          description: Description of the discount or surcharge.
          type: string
        percentageValue:
          description: Percentage value (when valueType is "%").
          type: number
        alternativeCurrencyAmount:
          description: Equivalent amount in the alternative currency.
          type: number
        billingIndicator:
          $ref: "#/components/schemas/BillingIndicator"
      required:
      - amount
      - lineNumber
      - type
      - valueType
      type: object
    Page:
      description: Page-level breakdown for multi-page documents.
      example:
        taxableAmount: 7.04836565559697
        pageNumber: 8
        additionalTaxes: 4.678947989005849
        lineTo: 3
        exemptAmount: 7.260521264802104
        itbis2: 4.258773108174356
        lineFrom: 7
        itbis1: 6.628464275087742
        itbis3: 1.041444916118296
        nonBillableAmount: 9.132027271330688
        totalITBIS: 0.2025324113236393
        subtotal: 3.0576100241049344
        taxableAmount2: 3.2588565619047607
        taxableAmount1: 5.533258397034986
        taxableAmount3: 4.078845849666752
      properties:
        pageNumber:
          type: integer
        lineFrom:
          description: First line item number on this page.
          type: integer
        lineTo:
          description: Last line item number on this page.
          type: integer
        subtotal:
          type: number
        taxableAmount:
          type: number
        taxableAmount1:
          type: number
        taxableAmount2:
          type: number
        taxableAmount3:
          type: number
        totalITBIS:
          type: number
        itbis1:
          type: number
        itbis2:
          type: number
        itbis3:
          type: number
        additionalTaxes:
          type: number
        exemptAmount:
          type: number
        nonBillableAmount:
          type: number
      required:
      - lineFrom
      - lineTo
      - pageNumber
      type: object
    Transport:
      description: Transport/delivery information (required for certain invoice types).
      example:
        licensePlate: licensePlate
        route: route
        driver: driver
        vehicleId: vehicleId
        departureDate: 2000-01-23T04:56:07.000+00:00
        arrivalDate: 2000-01-23T04:56:07.000+00:00
      properties:
        driver:
          description: Driver's full name.
          type: string
        vehicleId:
          description: Vehicle identification number.
          type: string
        licensePlate:
          description: Vehicle license plate.
          type: string
        route:
          description: Delivery route description.
          type: string
        departureDate:
          description: Departure date and time.
          format: date-time
          type: string
        arrivalDate:
          description: Estimated arrival date and time.
          format: date-time
          type: string
      type: object
    AdditionalInfo:
      description: Additional shipping/logistics information.
      example:
        grossWeight: 8.762042012749001
        sealId: sealId
        packageQuantity: 9.018348186070783
        containerId: containerId
      properties:
        grossWeight:
          description: Gross weight of the shipment (in kg).
          type: number
        packageQuantity:
          description: Number of packages.
          type: number
        containerId:
          description: Container identifier (for imports/exports).
          type: string
        sealId:
          description: Seal/precinto identifier.
          type: string
      type: object
    AlternativeCurrency:
      description: |
        Alternative currency information for documents issued in a
        currency other than Dominican Peso (DOP).
      example:
        totalAmount: 201.71
        code: USD
        exchangeRate: 58.5
      properties:
        code:
          description: "ISO 4217 currency code (e.g. \"USD\", \"EUR\")."
          example: USD
          maxLength: 3
          type: string
        exchangeRate:
          description: Exchange rate to Dominican Peso at time of issuance.
          example: 58.5
          type: number
        totalAmount:
          description: Total document amount in the alternative currency.
          example: 201.71
          type: number
      required:
      - code
      - exchangeRate
      type: object
    ReferenceInfo:
      description: |
        Reference to a previously issued document. Required for:
        - Credit Notes (type 34) — references the original invoice
        - Debit Notes (type 33) — references the original invoice
      example:
        modifiedInvoiceDate: 2000-01-23
        modificationReason: modificationReason
        otherContributorRNC: otherContributorRNC
        modifiedInvoiceNumber: E310000000001
        modificationCode: "1"
      properties:
        modifiedInvoiceNumber:
          description: e-NCF number of the original document being referenced.
          example: E310000000001
          type: string
        otherContributorRNC:
          description: RNC of the other contributor (if different from issuer).
          type: string
        modifiedInvoiceDate:
          description: Issue date of the original document.
          format: date
          type: string
        modificationCode:
          description: |
            Reason for the modification:
            - `1`: Price correction
            - `2`: Quantity correction
            - `3`: Return of goods
            - `4`: Tax correction
            - `5`: Other
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          type: string
        modificationReason:
          description: Free-text description of the modification reason.
          type: string
      required:
      - modificationCode
      - modifiedInvoiceNumber
      type: object
    ItemAdditionalTax:
      description: "An additional tax applied to a line item (e.g. ISC, IECS)."
      example:
        amount: 0.8008281904610115
        code: code
      properties:
        code:
          description: "Tax code as defined by the DGII (e.g. \"ISC\", \"IECS\")."
          type: string
        amount:
          description: Tax amount.
          type: number
      required:
      - amount
      - code
      type: object
    Subquantity:
      description: Sub-quantity for items measured in multiple units.
      example:
        quantity: 6.027456183070403
        unitCode: 1.4658129805029452
      properties:
        quantity:
          description: Quantity in this unit of measure.
          type: number
        unitCode:
          description: DGII unit of measure code.
          type: number
      required:
      - quantity
      - unitCode
      type: object
    ErrorResponse:
      description: Standard error response returned by all endpoints on failure.
      example:
        message: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
        statusCode: 400
        timestamp: 2024-01-01T12:00:00Z
      properties:
        statusCode:
          description: HTTP status code.
          example: 400
          type: integer
        message:
          description: Human-readable error description.
          example: "invoiceNumber must match pattern ^[a-zA-Z0-9]{13}$"
          type: string
        timestamp:
          description: When the error occurred.
          example: 2024-01-01T12:00:00Z
          format: date-time
          type: string
      type: object
    uploadCertificate_request:
      properties:
        file:
          description: The P12/PFX certificate file.
          format: binary
          type: string
        password:
          description: Password to unlock the P12 certificate.
          format: password
          type: string
      required:
      - file
      - password
      type: object
    listTaxSequences_200_response:
      example:
        data:
        - nextNumber: E310000000001
          id: id
          type: "31"
        - nextNumber: E310000000001
          id: id
          type: "31"
        success: true
      properties:
        success:
          type: boolean
        data:
          items:
            $ref: "#/components/schemas/TaxSequence"
          type: array
      type: object
    getNextNumber_200_response_data:
      example:
        nextNumber: E310000000001
        remainingNumbers: 499
      properties:
        nextNumber:
          description: The next available e-NCF number (13 characters).
          example: E310000000001
          type: string
        remainingNumbers:
          description: How many numbers are left in the current sequence.
          example: 499
          type: integer
      type: object
    getNextNumber_200_response:
      example:
        data:
          nextNumber: E310000000001
          remainingNumbers: 499
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/getNextNumber_200_response_data"
      type: object
    createAssociatedCompany_201_response:
      example:
        business:
          docsIssuedThisMonth: 0
          country: country
          website: https://openapi-generator.tech
          address: address
          city: city
          rnc: rnc
          logoPath: logoPath
          subscription:
            plan:
              name: name
              maxDocsPerMonth: 1
            status: status
            expirationDate: 2000-01-23T04:56:07.000+00:00
          type: MAIN
          ownerEmail: ownerEmail
          createdAt: 2000-01-23T04:56:07.000+00:00
          purchasedDocsConsumedThisMonth: 6
          phone: phone
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message: message
      properties:
        message:
          type: string
        business:
          $ref: "#/components/schemas/AssociatedCompany"
      type: object
    AssociatedCompany_subscription_plan:
      example:
        name: name
        maxDocsPerMonth: 1
      properties:
        name:
          type: string
        maxDocsPerMonth:
          description: Maximum documents allowed per month on this plan.
          type: integer
      type: object
    AssociatedCompany_subscription:
      example:
        plan:
          name: name
          maxDocsPerMonth: 1
        status: status
        expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        status:
          description: "Subscription status (e.g. \"active\", \"expired\")."
          type: string
        expirationDate:
          format: date-time
          type: string
        plan:
          $ref: "#/components/schemas/AssociatedCompany_subscription_plan"
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: |
        JWT Bearer token obtained from `POST /oauth/token`.

        **How to get credentials:**
        - Sandbox: https://ecf.sandbox.pronesoft.com
        - Production: https://ecf.pronesoft.com

        **How to get a token:**
        ```
        POST /oauth/token
        Content-Type: application/json

        { "clientId": "...", "clientSecret": "..." }
        ```

        **How to use the token:**
        ```
        Authorization: Bearer eyJhbGciOiJSUzI1NiJ9...
        ```

        Tokens expire after `expiresIn` seconds (typically 3600 = 1 hour).
        Simply call `/oauth/token` again to get a new one.
      scheme: bearer
      type: http
    oauth2:
      description: |
        OAuth 2.0 Client Credentials. Use `clientId` + `clientSecret` to
        obtain a Bearer token from `POST /oauth/token`.

        Get your credentials at:
        - Sandbox: https://ecf.sandbox.pronesoft.com
        - Production: https://ecf.pronesoft.com
      flows:
        clientCredentials:
          scopes:
            business:read: Read company data.
            business:create: Create a new company.
            business:update: Update company data.
            members:read: View team members.
            members:invite: Invite new members.
            members:revoke: Revoke member access.
            certificates:read: View digital certificates.
            certificates:upload: Upload new certificates.
            certificates:update: Update existing certificates.
            documents:read: List and view document details.
            documents:create: Create drafts or internal documents.
            documents:send: Submit e-CF to the DGII.
            documents:receive: Receive e-CF from third parties.
            documents:update: Modify document metadata.
            approvals:read: View approval statuses.
            approvals:commercial: Perform commercial approvals or rejections.
            sequences:read: View NCF/e-NCF ranges.
            sequences:create: Request or add new sequences.
            sequences:update: Modify sequence configurations.
            sequences:cancel: Cancel unused sequences.
            business_info:read: Access dashboard statistics and metrics.
            certification:read: View DGII certification progress.
            certification:write: Execute automated DGII certification tests.
            reports:read: Generate and export reports (e.g. format 606).
          tokenUrl: https://api.ecf.sandbox.pronesoft.com/api/v1/oauth/token
      type: oauth2

